
                <li class="c-sidebar-nav" style="margin-top: 0.5em;">AtomicDEX</li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'activation_commands_api' %}"> Activation Commands
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'last_200_swaps_api' %}"> Last 200 Swaps
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'bestorders_api' %}"> Best Orders
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'orderbook_api' %}"> Orderbook
                    </a>
                </li>
                <!-- {#
                <li class="c-sidebar-nav">
                    <a href="{% url 'failed_swap_api' %}"> Failed Swaps
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'last_200_failed_swaps_api' %}"> Last 200 Failed Swaps
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'swaps_pubkey_stats_api' %}"> Pubkey Swap Stats
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'gui_stats_view' %}"> GUI Stats
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'swaps_gui_stats_api' %}"> Swaps Gui Stats
                    </a>
                </li>
                #} -->
                <li class="c-sidebar-nav">
                    <a href="{% url 'seednode_version_stats_api' %}"> Seednode Stats
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'seednode_version_stats_hourly_api' %}"> Seednode Stats Hourly
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'nn_seed_version_scores_table_api' %}"> Seednode Scores
                    </a>
                </li>