
            <li class="c-sidebar-nav" style="margin-top: 0.5em;">Info v2</li>
            <li class="c-sidebar-nav"><a href="{% url 'balances_info' %}"> Balances</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'base_58_coin_params' %}"> Base 58 Params</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coins_info' %}"> Coins</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_icons_info' %}"> Coin Icons</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_social_info' %}"> Coin Social</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'mined_count_daily_by_name' %}"> Daily Mined</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'mined_count_season_by_name' %}"> Season Mined</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_coin_daily_info' %}"> Daily NTX (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_count_daily_info' %}"> Daily NTX (notary)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_daemon_cli' %}"> Deamon CLI</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'dpow_server_coins_info' %}"> dPoW Server Coins</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_electrums' %}"> Electrums</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_electrums_ssl' %}"> Electrums SSL</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_explorers' %}"> Explorers</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_launch_params' %}"> Launch Params</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_prefixes' %}"> Coin Prefixes</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'ltc_txid_list' %}"> Notary LTC Tx List</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_ltc_txid' %}"> Notary LTC Tx Info</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_ltc_transactions' %}"> LTC Transactions</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarisation_txid_list' %}"> Notarised Tx List</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_txid' %}"> Notarised Tx Info</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_nodes_info' %}"> Notary Nodes</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_icons_info' %}"> Notary Icons</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'nn_social_info' %}"> Notary Social</a></li>