                <li class="c-sidebar-nav" style="margin-top: 0.5em;">Mining</li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'nn_mined_4hrs_api' %}"> Last 4 hrs Mining
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'mined_count_daily_by_name' %}"> Daily Mined
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'mined_count_season_by_name' %}"> Season Mined
                    </a>
                </li>