        <li class="c-sidebar-nav-dropdown" style="margin-top: 1em;">
            <span style="padding-left: 12px;">NOTARISATION</span>
            <ul class="c-sidebar-nav-dropdown" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav">
                    <a href="{% url 'notary_profile_index_view' %}">
                         {{ season_clean }} Notary Profiles
                    </a>
                    <a href="{% url 'coin_profile_index_view' %}">
                         {{ season_clean }} dPoW Coin Profiles
                    </a>
                    <a href="{% url 'ntx_scoreboard_view' %}">
                         {{ season_clean }} Scoreboard
                    </a>
                    <a href="{% url 'ntx_scoreboard_24hrs_view' %}">
                         24hr Scoreboard
                    </a>
                    <a href="{% url 'coins_last_ntx_view' %}">
                         Last Notarisation (Coin)
                    </a>
                    <a href="{% url 'notarised_24hrs_view' %}">
                         Last 200 Notarisations
                    </a>
                    <a href="{% url 'notarised_tenure_view' %}">
                         Coin dPoW Tenure
                    </a>
                    <a href="{% url 'scoring_epochs_view' %}">
                         dPoW Scoring Epochs
                    </a>
                    <li class="c-sidebar-nav">
                        <a href="{% url 'notaryfaucet_view'%}">
                            Notary Faucet
                        </a>
                    </li>
                </li>
            </ul>
        </li>