
            <li class="c-sidebar-nav" style="margin-top: 0.5em;">Source Data</li>
            <li class="c-sidebar-nav"><a href="{% url 'addressesViewSet-list' %}"> Addresses</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'balancesViewSet-list' %}"> Balances</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coinsViewSet-list' %}"> Coins</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coinSocialViewSet-list' %}"> Coin Social</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coinLastNtxViewSet-list' %}"> Last Notarised (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notaryLastNtxViewSet-list' %}"> Last Notarised (notary)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'minedViewSet-list' %}"> Mined</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'mm2VersionStatsViewSet-list' %}"> MM2 Version Stats</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'minedCountDailyViewSet-list' %}"> Mined Count (by date)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'minedCountSeasonViewSet-list' %}"> Mined Count (season)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'nnBtcTxViewSet-list' %}"> Notary BTC Tx</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'nnLtcTxViewSet-list' %}"> Notary LTC Tx</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'nnSocialViewSet-list' %}"> Notary Social</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarisedViewSet-list' %}"> Notarisations</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarisedCoinDailyViewSet-list' %}"> Daily NTX (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarisedCountDailyViewSet-list' %}"> Daily NTX (notary)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coinNtxSeasonViewSet-list' %}"> Season NTX (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notaryNtxSeasonViewSet-list' %}"> Season NTX (notary)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'serverNtxSeasonViewSet-list' %}"> Season NTX (server)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarisedTenureViewSet-list' %}"> Notarised Tenure</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'scoringEpochsViewSet-list' %}"> Scoring Epochs</a></li>