
            <li class="c-sidebar-nav" style="margin-top: 0.5em;">Table v2</li>
            <li class="c-sidebar-nav"><a href="{% url 'addresses_table' %}"> Addresses</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'balances_table' %}"> Balances</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'last_mined_table' %}"> Last Mined</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_last_ntx_table' %}"> Last Notarised (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_last_ntx_table' %}"> Last Notarised (notary)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'mined_24hrs_table' %}"> Mined (24hrs)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'mined_count_season_table' %}"> Mined (season)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_table' %}"> Notarised</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_ntx_table' %}"> Notary Ntx Table</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_coin_notarised_table' %}"> Notary Coin Ntx Table</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_epoch_coin_notarised_table' %}"> Notary Coin Epoch Ntx</a></li>            
            <li class="c-sidebar-nav"><a href="{% url 'coin_notarised_24hrs_table' %}"> Notarised Last 24hrs (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_24hrs_table' %}"> Notarised Last 24hrs (All)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notarised_tenure_table' %}"> Notarised Tenure</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_profile_summary_table' %}"> Notary Summary</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_epoch_scores_table' %}"> Notary Epoch Scores</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'scoring_epochs_table' %}"> Scoring Epochs</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_ntx_season_table' %}"> Season NTX (coin)</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_ntx_season_table' %}"> Season NTX (notary)</a></li>
            
