        <li class="c-sidebar-nav-dropdown" style="margin-top: 1em;">
            <span style="padding-left: 12px;">TESTNET & VOTE</span>
            <ul class="c-sidebar-nav-dropdown" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav">
                    <a href="{% url 'notary_vote_view' %}"> Vote Results
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'testnet_ntx_scoreboard_view' %}"> Testnet Leaderboard
                    </a>
                </li>
                <li class="c-sidebar-nav">
                    <a href="{% url 'seednode_version_date_view' %}?season=VOTE2022_Testnet"> Testnet Seednodes
                    </a>
                </li>
            </ul>
        </li>