            <li class="c-sidebar-nav" style="margin-top: 0.5em;">Tools</li>
            <li class="c-sidebar-nav">
                <a href="{% url 'addr_from_base58_tool' %}">
                    Address From Base 58
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'address_conversion_tool' %}">
                    Address Conversion
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'address_from_pubkey_tool' %}">
                    Address From Pubkey
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'decode_op_return_tool' %}">
                    Decode OP RETURN
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'pubkey_utxos_tool' %}">
                    Pubkey UTXOs
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'scripthash_from_address_tool' %}">
                    Scripthash from Address
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'scripthashes_from_pubkey_tool' %}">
                    Scripthashes from Pubkey
                </a>
            </li>
            <li class="c-sidebar-nav">
                <a href="{% url 'send_raw_tx_tool' %}">
                    Send Raw Transaction
                </a>
            </li>