
            <li class="c-sidebar-nav" style="margin-top: 0.5em;">Wallet v2</li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_addresses_wallet' %}"> Coin Addresses</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'coin_balances_wallet' %}"> Coin Balances</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_addresses_wallet' %}"> Notary Addresses</a></li>
            <li class="c-sidebar-nav"><a href="{% url 'notary_balances_wallet' %}"> Notary Balances</a></li>