						<row class="col-12">
						    <div class="input-group-prepend px-0">
						        <span class="input-group-text col-4" style="color:white; border: solid grey 1px !important; line-height: 1em;">
						      	    From Time
						        </span>
						    	<input type="text" class="form-control m-auto col-8" id="from_time" name="from_time" placeholder="{{ from_time }}" value="{{ from_time }}" style="border-left: 0; ">
							</div>
						</row>
						<row class="col-12">
						    <div class="input-group-prepend px-0">
						        <span class="input-group-text col-4">
						      	    To Time
						        </span>
					    		<input type="text" class="form-control m-auto col-8" id="to_time" name="to_time" placeholder="{{ to_time }}" value="{{ to_time }}"  style="border-left: 0;">
						    </div>
						</row>