{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				<a href="../seednode_version_stats_daily_table" class="icon-href h5"><i class="fas fa-search-minus"></i></a>
				<span class="mx-1">{{ season_clean }} MM2 Version Hourly Stats {{ stats_date }}</span>				
			</div>
			<div class="card-body table_card_body" style="overflow-x: scroll;">
				<form class="my-3" id="datepicker_form">
				    <div class="form-row justify-content-center">
				        <div class="form-group">
						    <div class="input-group mb-2">
							    <div class="input-group-prepend prepend-label-left">
							      	<span class="input-group-text">
							      		Date
							      	</span>
								</div>
								<input class="datepicker" type="text" id="date" name="date" value="{{ date }}" autocomplete="off" />
								<!--
							    <div class="input-group-append append-label-right px-2">
							      	<span style="color: #cecece; font-style: italic;">
							      		Times are in UTC
							      	</span>
								</div>
								-->
								<input type="hidden" id="date_ts" name="date_ts" value="{{ date_ts }}">
							</div>
						</div>
					</div>
				</form>
				<table id="mm2_version_tbl" class="table table-striped table-bordered skinny-table">
					<thead>
						<tr>
							{% for header in headers %}		
								<th style="font-size: 0.7rem; padding: 0.2rem !important;">{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for notary, score_list in scores.items %}
						<tr>
							<td data-data="notary">{{ notary }}</td>
							{% for score in score_list %}
								{% if score == 0 %}
									<td style="padding: 0.2rem !important;">
										<i class="fas fa-times-circle" style="color: #895050;"></i>
									</td>
								{% elif score == 1 %}
									<td style="padding: 0.2rem !important;">
										<i class="fas fa-check-circle" style="color: #1f8b32;"></i>
									</td>
								{% else %}
									<td style="padding: 0.2rem !important;">{{ score }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card-footer flex">
				<i>Times are in UTC</i>
			</div>
		</div>
	</div>
	
	<script>

		function getOffset() {
			var d = new Date();
			return d.getTimezoneOffset()*60*1000;
		}

		function local_date_str(date_str) {
		  var d = Date.parse(date_str);
		  var offset = getOffset()
		  var x = new Date(d-offset)
		  var ds = x.toLocaleDateString();
		  var ts = x.toLocaleTimeString();
		  return ds+" "+ts;
		}

		{% autoescape off %}

		$('#start').val(local_date_str('{{start_str}}'))
		$('#end').val(local_date_str('{{end_str}}'))
		{% endautoescape %}
		$(document).ready(function() {
	        $('#mm2_version_tbl').DataTable({
    			deferRender: true,
                "orderClasses": false,
    			"paging": false,
  				"pageLength": 50,
        		order: [[ 0, 'asc' ]],
        		"columnDefs": [
		            { 
		            	targets: 0,
		            	orderable: true,
		            	className: 'reorder'
		            },
		            { 
		            	targets: $('#mm2_version_tbl').find('th').length - 1,
		            	orderable: true,
		            	className: 'reorder'
		            },
		            { 
		            	orderable: false,
		                targets: '_all'
		            }
			    ],
                // Custom DataTables search filter input styling
				"initComplete": function (settings, json) {
	            }
	        });
	        $( ".datepicker" ).datepicker({
	            maxDate:new Date(),
	            dateFormat: "D d M yy",
	            altField: "#date_ts",
	            altFormat: "@",
	            onSelect : function (dateText, inst) {
	                console.log(getOffset());
	                console.log($('#date_ts').val());
	                utc_time = parseInt($('#date_ts').val())-getOffset();
	                $('#date_ts').val(utc_time)
	                $('#datepicker_form').submit();
	            }
	        });
	    });

	</script>
{% endblock %}
