
			<!-- Mining Summary -->
			<div class="card text-center kmd_ui_light3 col-4 px-0 m-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Mined
							    <a href="/mining_24hrs/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=mining_summary.mined_last_24hrs|floatformat:-3 stat_label="KMD Last 24hrs" %}
						    	</a>
							    <a href="/mining_overview/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=mining_summary.sum_value_mined|floatformat:-3 stat_label="KMD Season"  %}
						    	</a>
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Blocks Mined this Season
							    <a href="/mining_overview/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=mining_summary.blocks_mined stat_label="" %}
						    	</a>
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Largest Block Mined
							    <a href="/mining_overview/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=mining_summary.max_value_mined|floatformat:-3 stat_label="KMD" %}
						    	</a>
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    	<div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Last Mined block
							    <a href="/mining_24hrs/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with id="since_mined" stat_val=mining_summary.time_since_mined stat_label="KMD" %}
					    		</a>
							</div>
					  	</li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
						    	Region Rank
								<a href="/ntx_scoreboard/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=rank stat_label="" %}
							    </a>
							</div>
					    </li>
					</ul> 
				</div>
			</div>
			<script type="text/javascript">
		        $(document).ready(function() {
		        	if ({{ mining_summary.time_since_mined_ts }} > 10800) {
		        		console.log("Mining Alert!")
		        		$("#profile-since_mined-stat").css({'color':'red'})
		        	}
		        });
			</script>