
			<div class="card text-center kmd_ui_light3 col-4 px-0 m-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
						    Notarised Last 24hrs
							<a href="#ntx_24hrs">
						    	{% include "components/badges/stats_badge.html" with stat_val=master_notarised_24hr stat_label="LTC" %}
						    </a>
							<a href="#ntx_24hrs">
						    	{% include "components/badges/stats_badge.html" with stat_val=main_notarised_24hr stat_label="Main" %}
						    </a>
							<a href="#ntx_24hrs">
						    	{% include "components/badges/stats_badge.html" with stat_val=third_notarised_24hr stat_label="3rd Party" %}
						    </a>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
					    	Notarised Season
							<a href="/ntx_scoreboard/?season={{ season }}">
						    	{% include "components/badges/stats_badge.html" with stat_val=master_server_count stat_label="LTC" %}
						    </a>
							<a href="/ntx_scoreboard/?season={{ season }}">
						    	{% include "components/badges/stats_badge.html" with stat_val=main_server_count stat_label="Main" %}
						    </a>
							<a href="/ntx_scoreboard/?season={{ season }}">
						    	{% include "components/badges/stats_badge.html" with stat_val=third_party_server_count stat_label="3rd Party" %}
						    </a>
						</div>									    
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
						    Last Notarisation
							<a href="/coins_last_ntx/?season={{ season }}">
   						    	{% include "components/badges/stats_badge.html" with stat_val=last_ntx_time stat_label=last_ntx_coin %}
						    </a>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
					    	Last LTC Notarisation
							<a href="/coins_last_ntx/?season={{ season }}">
   						    	{% include "components/badges/stats_badge.html" with stat_val=last_ltc_ntx_time stat_label="" %}
						    </a>
						</div>
					  </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    	<div class="px-2 py-1 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Score
							    <a href="/ntx_scoreboard/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=ntx_score|floatformat:-3 stat_label="Notarisation" %}
					    		</a>
							    <a href="{% url 'seednode_version_view' %}?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=seed_score|floatformat:-3 stat_label="Seed Node" %}
					    		</a>
							    <a href="/ntx_scoreboard/?season={{ season }}">
						    		{% include "components/badges/stats_badge.html" with stat_val=season_score|floatformat:-3 stat_label="Total" %}
					    		</a>
							</div>
					  	</li>
					</ul> 							
				</div>
			</div>