
                                  <div class="mx-auto my-2 col-8 alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    This domain is now being used for development. Update your bookmarks to link to <span class='badge p-2'><a href="https://stats.kmd.io">stats.kmd.io</a></span>
                                  </div>       