*/5 * * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_mined_tables.py
52 */1 * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_nn_btc_txids.py
1,13,25,37,49 * * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_ntx_tables.py
45 */1 * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_funding_table.py

0 */1 * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_balances_table.py
0 5  * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_coins_table.py

0 2 * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_nn_social.py
0 2 * * * /usr/bin/python3 /home/smk762/kmd_ntx_stats_docker/scripts/populate_coin_social.py


# Add the lines above to your host machine's crontab
