Django>=2.2.20,<3.0
psycopg2>=2.7,<3.0
djangorestframework==3.11.2
markdown
slick-bitcoinrpc==0.1.4
requests==2.23.0
python-bitcoinlib==0.10.2
python-dotenv
django-filter
dynamic-rest
django-crispy-forms
djangorestframework-datatables
numpy
django-mathfilters==1.0.0
coverage==5.1
python-dateutil==2.8.1
base58==2.1.0

