<div class="row" id="balances">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card graph_card">
			<div class="card-header d-flex justify-content-between">
				<h4 class="my-auto">
					{{ coin }} {{ season_clean }} Wallet Balances  
				</h4>
				<div>
				    <span class="badge graph_legend">
				    	AR<i class="fa fa-circle ar_region" aria-hidden="true"></i>
				    </span>
				    <span class="badge graph_legend">
				    	EU<i class="fa fa-circle eu_region" aria-hidden="true" ></i>
				    </span>
				    <span class="badge graph_legend">
				    	NA<i class="fa fa-circle na_region" aria-hidden="true" ></i>
				    </span>
				    <span class="badge graph_legend">
				    	SH<i class="fa fa-circle sh_region" aria-hidden="true" ></i>
				    </span>
				    <span class="badge graph_legend">
				    	DEV<i class="fa fa-circle dev_region" aria-hidden="true" ></i>
				    </span>
				</div>
			</div>
			<div class="card-body">
				<span id="graph_title"></span>
			    <canvas id="balances_graph"></canvas> 
			</div>	
		</div>	
	</div>	
</div>
<script>
	$.ajax({ 
		method: "GET", 
		url: '/api/graph/balances/?season={{ season }}&server={{ server }}&coin={{ coin }}', 
		success: function(data) { 
			drawBarGraph(data['results'], 'balances_graph', "Balance", 5); 
		}, 
		error: function(error_data) { 
			console.log(error_data); 
		} 
    }) 
</script> 