{% extends "base2.html" %}
{% block content %}
	<div class="container-fluid">
		<div id="ui-view">
			<div class="fade-in">
				<div class="card kmd_ui_light4">
					<div class="card-header kmd_ui_dark1_bg">
					<span id="graph_title"></span>
						<div class="card-header-actions">
							<a class="card-header-action" href="https://www.chartjs.org/" target="_blank"><small class="text-muted">docs</small></a>
						</div>
					</div>
					<div class="card-body kmd_ui_dark1_bg">
					    <div class="col-md-12 m-auto"> 
					        <canvas id="myChartBar"></canvas> 
					    </div> 
					</div>
				</div>																								
			</div>
		</div>
	</div>
    <!-- jquery --> 
  
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
  <script> 
  
    $.ajax({ 
      method: "GET", 
      url: 'http:/api/graph_json/daily_ntx/?{{ gets }}', 
      success: function(data) { 
      	document.getElementById('graph_title').innerHTML = data.chartLabel;
        //drawLineGraph(data, 'myChartline'); 
        drawBarGraph(data, 'myChartBar'); 
        console.log("drawing"); 
      }, 
      error: function(error_data) { 
        console.log(error_data); 
      } 
    }) 
  
	Chart.defaults.global.defaultFontColor = 'white';
	Chart.defaults.global.defaultFontSize = 16;

  /*
    function drawLineGraph(data, id) { 
		var labels = data.labels; 
		var chartLabel = data.chartLabel; 
		var chartdata = data.chartdata; 
		var ctx = document.getElementById(id).getContext('2d'); 
		var chart = new Chart(ctx, { 
	        // The type of chart we want to create 
	        type: 'line', 
	  
	        // The data for our dataset 
	        data: { 
	          labels: labels, 
	          datasets: [{ 
	            label: chartLabel, 
	            backgroundColor: 'rgb(255, 100, 200)', 
	            borderColor: 'rgb(55, 99, 132)', 
	            data: chartdata, 
	          }] 
	        }, 
	  
	        // Configuration options go here 
	        options: { 
		        scales: { 
		            xAxes: [{ 
		                display: true 
		            }], 
		            yAxes: [{ 
		                ticks: { 
		                	beginAtZero: true 
		                } 
		            }] 
	            } 
	        } 
     	}); 
    } */
  
    function drawBarGraph(data, id) { 
		var labels = data.labels; 
		var chartLabel = data.chartLabel; 
		var chartdata = data.chartdata; 
		var bg_color = data.bg_color; 
		var border_color = data.border_color; 
		var ctx = document.getElementById(id).getContext('2d'); 
		var myChart = new Chart(ctx, { 
			type: 'bar', 
			data: { 
			  labels: labels, 
			  datasets: [{ 
			    label: chartLabel, 
			    data: chartdata, 
			    backgroundColor: bg_color,
			    borderColor: border_color, 
			    borderWidth: 1 
			  }] 
			}, 
			options: { 
    			responsive: true,
				tooltips: {
					position: 'nearest',
					mode: 'index',
					intersect: true,
				},
			    legend: {
			    	display: false,
			        labels: {
			            fontColor: 'white'
			        }
			    },
				scales: { 
					yAxes: [{
					    scaleLabel: {
					        display: true,
					        labelString: 'Balance in Notary Wallets',
			            	fontColor: 'white'
					    },
					    position: 'left',
					    ticks: {
		                	beginAtZero: true, 
							callback: function (value, index, values) {
								return Number(value.toString());//pass tick values as a string into Number function
					         },
						    fontColor: '#B7BBBF'
						}
					}],
					xAxes: [{
						ticks: {
						    fontColor: '#B7BBBF'
						}
					}]
			  	} 
			} 
		}); 
    } 
  </script> 
{% endblock %}