{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>{{ year }} Komodo Notary Node Election Votes</h1>
	<h6>
		The election ends with the first notarised block confirmed after 23:59:59 25th May 2022 UTC (inclusive)
	</h6>
	<div class="countdown_timer mt-1 mb-3">
		<span class="vote_countdown mx-2"></span><span class="countdown mx-2"></span>
	</div>
<!-- Modal -->
<div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog" aria-labelledby="qrcode-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title col-12 text-center" id="qrcode-modal-label"></h2>
        <h5 class="col-12 text-center" id="qrcode-modal-subtitle"></h5>
      </div>
      <div class="modal-body">
        <div id="qr_code"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark4" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	{% include 'components/anchors/regions.html' with vote='true' %}
	{% for region in regions %}
		{% include "components/tables/vote_tally_table.html" with region=region %}
	{% endfor %}

	<script>
		const vote_data = {
			AR: {},
			EU: {},
			NA: {},
			SH: {}
		}
		function detect_final_ntx() {
			$.getJSON('{% url "is_election_over_api" %}', function(resp) {

	            if (resp.results != "before timestamp") {
	                $('.vote_countdown').html(resp.results)

					if (resp.results != "Election complete!") {
						setTimeout(detect_final_ntx, 10000);

						if (timer_increment == 0) {
				 	    	AR_table.ajax.reload();
				 	    	EU_table.ajax.reload();
				 	    	NA_table.ajax.reload();
				 	    	SH_table.ajax.reload();
				 	    	timer_increment = 30
				 	    }
					}
		        }
	        })		    
		}    


        timer_increment = 5
		countdown = setInterval( function () {
			timer_increment -= 1
			$('.countdown').html("Updating in " + timer_increment + " seconds...")
			let time_until = get_time_since({{ end_timestamp }} , true, 'numeric')
			if (time_until != 0) {
				$('.vote_countdown').html("Overtime begins in " + time_until)
			}
			else {
				detect_final_ntx()
				clearInterval(countdown)
			}


			if (timer_increment == 0) {
	 	    	AR_table.ajax.reload();
	 	    	EU_table.ajax.reload();
	 	    	NA_table.ajax.reload();
	 	    	SH_table.ajax.reload();

	 	    	timer_increment = 30
	 	    }
		}, 1000);
 
	</script>
{% endblock %}