{% load static %}
<header class="c-header kmd_ui_light1 c-header-fluid" style="position: fixed; width:100%; z-index:7">
    <div class="row justify-content-between col-12 m-0">
        <div>
            <a class="c-header-brand mx-1" href="https://www.komodoplatform.com/">
                <img class="c-sidebar-brand-minimized" width="36" height="36" alt="Komodo Logo" src="{% static 'img/brand/KMD_Mark_Color.png' %}" />
            </a>
            <a class="c-header-brand mx-1" href="https://www.atomicdex.io/">
                <img class="c-sidebar-brand-minimized" width="36" height="36" alt="Komodo Logo" src="{% static 'img/brand/dex_logo.png' %}" />
            </a>
        </div>
        <div class="pl-auto ml-auto my-auto d-lg-none">
            <!-- Hamburger Menu Button-->
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
                <i class="fa fa-bars" data-toggle='modal' data-target='#menu-modal'></i>
            </button>
        </div>
        <div>
            {% include 'components/buttons/header-nav-buttons.html' %}
        </div>   
    </div>
</header>

<!-- Small screen menu modal -->
<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="menu-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="c-sidebar-nav">
                {% for section, key in nav_data.items %}
                    <li class="c-header-nav-item show">
                        <button class="btn btn-secondary shown-dropdown col-12" id="{{ section }}DropdownMenuButton" type="button" aria-haspopup="true" aria-expanded="true">
                            <i class="{{ key.icon }} mr-2"></i> {{ section }}
                        </button>
                        <div class="dropdown-menu col-12 show" aria-labelledby="{{ section }}DropdownMenuButton" data-popper-placement="bottom-end">
                            {% for item, values in key.options.items %}
                                {% if not values.hide %}
                                    <a class="dropdown-item" href="{{ values.url }}"><i class="{{ values.icon }} mr-2"></i> {{ item }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>