{% load static %}

    <!-- Sidebar -->
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show " id="sidebar" style="border-right: 1px solid #000 !important;">

      <div class="c-sidebar-brand d-md-down-none ">
        <a href="/">
            <img class="c-sidebar-brand-full" height="46" alt="Komodo Logo" src="{% static '/img/brand/KMD_Horiz_Light.png' %}" />
            <img class="c-sidebar-brand-minimized" width="46" height="46" alt="Komodo Logo" src="{% static 'img/brand/KMD_Mark_Color.png' %}" />
        </a>
      </div>

      <ul class="c-sidebar-nav">

        {% include "components/sidebar/ntx_views.html" %}
        {% include "components/sidebar/mining_views.html" %}
        {% include "components/sidebar/testnet_views.html" %} 
        {% include "components/sidebar/tools_views.html" %}
        {% include "components/sidebar/atomicdex_views.html" %}

        
        <!-- TODO: review
        {% include "components/sidebar/community_views.html" %} -->

        <li class="c-sidebar-nav-dropdown" style="margin-top: 1em;">
            <span style="padding-left: 12px;">API</span>
          <ul class="c-sidebar-nav-dropdown" style="line-height:1.3 !important;">
            
            {% include "components/sidebar/atomicdex_api.html" %}
            {% include "components/sidebar/info_api.html" %}
            {% include "components/sidebar/mining_api.html" %}
            {% include "components/sidebar/tables_api.html" %}
            {% include "components/sidebar/source_api.html" %}
            {% include "components/sidebar/tools_api.html" %}
            {% include "components/sidebar/wallet_api.html" %}
          </ul>
        </li>
      </ul>
      <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
    </div>
    <!-- End Sidebar -->