{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 mx-auto my-1" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3 col-4 px-0 m-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Notarisations in the Last 24hrs
								<a href="//{{ request.get_host }}/api/table/notarised_24hrs/?season={{ season }}&chain={{ chain }}">
   					    		{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.num_chain_ntx_24hr stat_label="" %}
   					    		</a>
							</div>
					  	</li>
					 	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
						    	Notarisations This Season
								<a href="//{{ request.get_host }}/api/info/notarisation_txid_list/?season={{ season }}&server={{ server }}&chain={{ chain }}">
	   					    		{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.num_chain_ntx_season stat_label="" %}
	   					    	</a>
							</div>									    
					  	</li>
					  	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Time Since Last Notarisation
							    <a href="//{{ request.get_host }}/chains_last_ntx/?season={{ season }}">
   					    			{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.time_since_ntx stat_label="" %}
   					    		</a>
							</div>
					  	</li>
					</ul> 
				</div>
			</div>

			<!-- Social Media Links -->
        	<div class="card coin_card shadow-none" style="margin-top: 1.5rem;">
            		{% include "components/cards/coin_profile_card.html" %}
			</div>

			<div class="card text-center kmd_ui_light3 col-4 px-0 m-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
								{% if chain != 'KMD' %}
							    	Last Notarisation Block (KMD)


								    <a href='https://komodod.com/b/{{ chain_ntx_summary.last_ntx_block }}'>
					    				{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.last_ntx_block stat_label="" %}
					    			</a>

							    {% else %}
							    	Last Notarisation Block (LTC)
								    <a href='https://chainz.cryptoid.info/ltc/block.dws?{{ chain_ntx_summary.last_ntx_block }}'>
					    				{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.last_ntx_block stat_label="" %}
					    			</a>
							    {% endif %}
							</div>
					    </li>

					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Last Notarisation Block ({{ chain }})
						    	<a href='{{ coins_data.explorers.0 }}block-index/{{ chain_ntx_summary.last_ntx_ac_block }}'>
				    				{% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.last_ntx_ac_block stat_label="" %}
						    	</a>
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 stat-li-div col-12 d-flex justify-content-between align-items-center">
							    Lag
							    {% include "components/badges/stats_badge.html" with stat_val=chain_ntx_summary.ntx_lag stat_label="" %}
							</div>
					    </li>
					</ul> 
				</div>
			</div>
		</div>
	</div>	


	<div class="row mx-auto" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3" style="border:none !important; background-color: #101721 !important; box-shadow: none; margin-top:0 !important;">
		    	<h2>{{ season_clean }} Top Region Notarisation Scores</h2>
			    <div class="d-flex justify-content-between align-items-center">
				    {% for region, data in top_coin_notarisers.items %}
				    	{% if region == 'AR' %}
							{% include "snippets/region_leader.html" with region_name="Asia and Russia" alt_text=data.top_notary %}
						{% elif region == 'EU' %}
							{% include "snippets/region_leader.html" with region_name="European Union" alt_text=data.top_notary %}
						{% elif region == 'NA' %}
							{% include "snippets/region_leader.html" with region_name="North America" alt_text=data.top_notary %}
						{% elif region == 'SH' %}
							{% include "snippets/region_leader.html" with region_name="Southern Hemisphere" alt_text=data.top_notary %}
						{% elif region == 'DEV' %}
							{% include "snippets/region_leader.html" with region_name="Development" alt_text=data.top_notary %}
						{% endif %}	
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="input-group mb-2">
		    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
		        <span class="input-group-text col-12 m-auto">
		        	Launch Params
				</span>
		    </div>
		    <input type="text" class="form-control col-10 " style=" font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.launch_params }}" value="{{ coins_data.coins_info.launch_params }}" readonly id="{{ chain }}_params">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_params" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>

		<div class="input-group mb-2">
		    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
		        <span class="input-group-text col-12 m-auto">
		        	CLI
				</span>
		    </div>
		    <input type="text" class="form-control col-10 " style="font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.cli }}" value="{{ coins_data.coins_info.cli }}" readonly id="{{ chain }}_cli">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_cli" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>

		<div class="input-group mb-2">
		    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
		        <span class="input-group-text col-12 m-auto">
		        	Config
				</span>
		    </div>
		    <input type="text" class="form-control col-10" style="font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.conf_path }}" value="{{ coins_data.coins_info.conf_path }}" readonly id="{{ chain }}_conf">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_conf" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>
		{% if coins_data.explorers|length > 0 %}
			<div class="input-group mb-2">
		    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
		        <span class="input-group-text col-12 m-auto">
			        	Explorers
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.explorers %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							<a href="{{ x }}">{{ x }}</a>
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if coins_data.electrums|length > 0 %}
			<div class="input-group mb-2">
			    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
			        <span class="input-group-text col-12 m-auto">
			        	Electrums
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.electrums %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							{{ x }}
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if coins_data.electrums_ssl|length > 0 %}
			<div class="input-group mb-2">
			    <div class="input-group-prepend p-0 col-2 text-center prepend-label-left">
			        <span class="input-group-text col-12 m-auto">
			        	Electrums (SSL)
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.electrums_ssl %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							{{ x }}
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
	<!--
	<div class="row">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#ntx"><span class='badge p-2'>Notarisations</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#balances"><span class='badge p-2'>Balances</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#addresses"><span class='badge p-2'>Addresses</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#funding"><span class='badge p-2'>Funding</span></a>
			</h4>
		</div>
	</div>
	-->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0">
				<div class="card-header  d-flex justify-content-between">
					<div class="my-auto">
						{{ season_clean }} {{ chain }} Wallet Balances
					</div>
					<div>
					    <span class="badge m-2 p-2 ar_region">AR <i class="fa fa-circle" aria-hidden="true"></i></span>
					    <span class="badge m-2 p-2 eu_region">EU <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 na_region">NA <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 sh_region">SH <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 dev_region">DEV <i class="fa fa-circle" aria-hidden="true" ></i></span>
					</div>
				</div>
				<div class="card-body">
					<span id="graph_title"></span>
				    <canvas id="balances_graph"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				{{ season_clean }} {{ chain }} Addresses & Balances
			</div>
			<div class="card-body table_card_body">
				<table id="balances_table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="notary">Notary</th>
							<th data-data="address">Address</th>
							<th data-data="balance">Balance</th>
							<th data-data="server">Server</th>
							<th data-data="update">Since Updated</th>
						</tr>
					</thead>
					<tbody>
						{% for item in chain_balances %}
							{% if chain == "BTC" or chain == "LTC" %}
								{% if item.server != "Third_Party" %}
									<tr>
										<td data-data="notary" class="px-2 text-left">{{ item.notary }}</td>
										<td data-data="address">{{ item.address }}</td>
										<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
										<td data-data="server">{{ item.server }}</td>
										<td data-data="update">{{ item.update_time }}</td>
									</tr>
								{% endif %}
							{% else %}
								<tr>
									<td data-data="notary" class="px-2 text-left">{{ item.notary }}</td>
									<td data-data="address">{{ item.address }}</td>
									<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
									<td data-data="server">{{ item.server }}</td>
									<td data-data="update">{{ item.update_time }}</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <!-- jquery -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script>
	</script>
    {{ explorers|json_script:"explorers-data" }}
  	<script>
	    $(document).ready(function() {
	    	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	        $('#balances_table').DataTable({
	           "paging": false,
    			deferRender: true,
                "orderClasses": false,
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
        		"columnDefs": [
			        {
			            "data": "notary",
		                "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"/?season={{ season }}'>"+oData.notary+"</a>");
				        }
		            },
        			{
			            "data": "address",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='"+explorers['{{ chain }}'][0]+'address/'+oData.address+"'>"+oData.address+"</a>");
				        }
			        },
        			{
			            "data": "balance",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.balance);
				        }
			        },
        			{
			            "data": "server",
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.server == "Main") {
			            		color = "#115621";
			            	}
			            	else if (oData.server == "Third_Party") {
			            		color = "#2b53ad";
			            	}
			            	else if (oData.server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html(oData.server);
			        	}
			        },
        			{
			            "data": 'update_time',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	var time_now = Date.now()/1000;
			            	totalSeconds = time_now-oData.update_time
			            	days = Math.floor(totalSeconds / 86400);
						    totalSeconds %= 86400;
			            	hours = Math.floor(totalSeconds / 3600);
						    totalSeconds %= 3600;
						    minutes = Math.floor(totalSeconds / 60);
						    seconds = totalSeconds % 60;
						    if (days == 0 & hours ==0) {
						    	timesince = minutes+" min"
						    } else if (days == 0) {
						    	timesince = hours+" hrs, "+minutes+" min"
						    } else {
						    	timesince = days+" days, "+hours+" hrs"
						    }
		            		$(nTd).html(timesince);
				        }
			        }
        		]
	        });
	    });
	    $.ajax({ 
	      method: "GET", 
	      url: '//{{ request.get_host }}/api/graph/balances/?season={{ season }}&server={{ server }}&chain={{ chain }}', 
	      success: function(data) { 
	      	//document.getElementById('graph_title').innerHTML = data.chartLabel;
	        //drawLineGraph(data, 'myChartline'); 
	        drawBarGraph(data['results'], 'balances_graph'); 
	        console.log("drawing"); 
	      }, 
	      error: function(error_data) { 
	        console.log(error_data); 
	      } 
	    }) 
      
        function drawBarGraph(data, id) { 
            var labels = data.labels; 
            var chartLabel = data.chartLabel; 
            var chartdata = data.chartdata; 
            var bg_color = data.bg_color; 
            var border_color = data.border_color; 
            var ctx = document.getElementById(id).getContext('2d'); 
            var myChart = new Chart(ctx, { 
                type: 'bar', 
                data: { 
                  labels: labels, 
                  datasets: [{ 
                    label: chartLabel, 
                    data: chartdata, 
                    backgroundColor: bg_color,
                    borderColor: border_color, 
                    borderWidth: 1 
                  }] 
                }, 
                options: { 
                    responsive: true,
                    tooltips: {
                        position: 'nearest',
                        mode: 'index',
                        intersect: true,
                    },
                    legend: {
                        display: false,
                        labels: {
                            fontColor: '#B7BBBF'
                        }
                    },
                    scales: { 
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Balance in Notary Wallets',
                                fontColor: '#B7BBBF'
                            },
                            type: 'logarithmic',
                            position: 'left',
                            ticks: {
                                fontColor: '#41EAD4',
                                min: 0, //minimum tick
                                max: {{ max_tick }}, //maximum tick
                                callback: function (value, index, values) {
                                    return Number(value.toString());//pass tick values as a string into Number function
                                }
                            },
                            afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                                chartObj.ticks = [];
                                chartObj.ticks.push(0.1);
                                chartObj.ticks.push(1);
                                chartObj.ticks.push(10);
                                chartObj.ticks.push(100);
                                chartObj.ticks.push(1000);
                                chartObj.ticks.push(10000);
                            }
                        }],
                        xAxes: [{
                            position: 'nearest',
                            padding: 0,
                            ticks: {
                                fontColor: '#41EAD4'
                            }
                        }]
                    } 
                } 
            }); 
        } 
	  
    </script> 

{% endblock %}
