{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row mt-2">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3 col-4 px-0 mt-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Notarisations in the Last 24hrs
							    <span class="badge p-2 " style="font-size: 1.1em;">
							    	{{ chain_ntx_summary.num_chain_ntx_24hr }}
							    </span>
							</div>
					  	</li>
					 	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    	Notarisations This Season
							    <span class="badge p-2 " style="font-size: 1.1em;">
							    	{{ chain_ntx_summary.num_chain_ntx_season }}
							    </span>
							</div>									    
					  	</li>
					  	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					        <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Time Since Last Notarisation
							    <span class="badge p-2 " style="font-size: 1.1em;">
							    	<a href="//{{ request.get_host }}/chains_last_ntx/?season={{ season }}">{{ chain_ntx_summary.time_since_ntx }}</a>
							    </span>
							</div>
					  	</li>
					</ul> 	
				</div>
			</div>
        	<div class="card kmd_ui_light3 my-0 mx-auto shadow-none" style="border:none !important; background-color: #101721 !important;">
        		<div class="my-auto">
	        		<div class="my-0 mx-auto align-items-center">
	    				<h2 class="col-12">
	    					{{ chain }}
	    				</h2>						
					</div>
	        		<div class="row my-0 mx-auto">
	            		<div class="p-1 m-auto">
							{% for coin, site_links in coin_social.items %}
								{% if chain == coin and site_links.icon != '' %}
									<img class="card-img-top auto-width" height='108' src="{{ site_links.icon }}" alt="{{ chain }} image here" style="border-radius: 50%; margin:0 !important">
								{% else %}
									<img class="card-img-top auto-width" height='108' src="{% static 'img/notary/icon/' %}blank.png" alt="" style="border-radius: 50%; margin:0 !important">
								{% endif %}
							{% endfor %}
						</div>			
					</div>
	        		<div class="row d-flex justify-content-between align-items-center">
						<div class="row d-flex justify-content-between align-items-center m-auto" style="font-size: 1.6em;">
						{% for coin, site_links in coin_social.items %}
							{% if chain == coin %}
								{% for site, link in site_links.items %}
									{% if site == 'discord' %}
										{%  if link != '' %}
											<a href="https://discordapp.com/users/{{ link }}"><i class="sml-social m-1 fab fa-discord"></i></a>
										{% else %}
											<i class="sml-social m-1 fab fa-discord" style="color: #555;"></i>
										{% endif %}

									{% elif site == 'email' %}
										{%  if link != '' %}
											<a href="https://discordapp.com/users/{{ link }}"><i class="sml-social m-1 far fa-envelope"></i></a>
										{% else %}
											<i class="sml-social far fa-envelope m-1" style="color: #555;"></i>
										{% endif %}

									{% elif site == 'github' %}
										{%  if link != '' %}
											<a href="https://github.com/{{ link }}"><i class="sml-social fab fa-github m-1"></i></a>
										{% else %}
											<i class="sml-social fab fa-github m-1" style="color: #555;"></i>
										{% endif %}

									{% elif site == 'linkedin' %}
										{%  if link != '' %}
											<a href="https://github.com/{{ link }}"><i class="sml-social fab fa-linkedin m-1"></i></a>
										{% else %}
											<i class="sml-social fab fa-linkedin m-1" style="color: #555;"></i>
										{% endif %}

									{% elif site == 'reddit' %}
										{%  if link != '' %}
											<a href="https://github.com/{{ link }}"><i class="sml-social fab fab fa-reddit-square m-1"></i></a>
										{% else %}
											<i class="sml-social fab fa-reddit-square m-1" style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'telegram' %}
										{%  if link != '' %}
											<a href="https://t.me/{{ link }}"><i class="sml-social fab fa-telegram-plane "></i></a>
										{% else %}
											<i class="sml-social fab fa-telegram-plane" style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'twitter' %}
										{%  if link != '' %}
											<a href="https://twitter.com/{{ link }}"><i class="sml-social fab fa-twitter m-1"></i></a>
										{% else %}
											<i class="sml-social fab fa-twitter m-1" style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'youtube' %}
										{%  if link != '' %}
											<a href="https://www.youtube.com/{{ link }}"><i class="sml-social fab fa-youtube m-1"></i></a>
										{% else %}
											<i class="sml-social fab fa-youtube m-1" style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'website' %}
										{%  if link != '' %}
											<a href="https://{{ link }}"><i class="sml-social fas fa-desktop m-1"></i></a>
										{% else %}
											<i class="sml-social fas fa-desktop m-1" style="color: #555;"></i>
										{% endif %}									
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
						</div>
					</div>
	        		<div class="row my-0 mx-auto align-items-center">
						<h6 class="col-12">
							{% if season == "Season_4" %}
							<a class="sml-social" href="https://github.com/KomodoPlatform/NotaryNodes/edit/master/season4/coin_social.json">
								Update
							</a>
							{% elif season == "Season_5" %}
							<a class="sml-social" href="https://github.com/KomodoPlatform/NotaryNodes/edit/master/season5/coin_social.json">
								Update
							</a>
							{% endif %}
						</h6>
					</div>
				</div>
			</div>
			<div class="card text-center kmd_ui_light1 col-4 px-0 mt-auto shadow-none" style="border:none !important;">
				<div class="card-body  p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
							<div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
								{% if chain != 'KMD' %}
							    	Last Notarisation Block (KMD)
								    <span class="badge p-2 " style="font-size: 1.1em;">
								    	<a href='https://komodod.com/b/{{ chain_ntx_summary.last_ntx_block }}'>{{ chain_ntx_summary.last_ntx_block }}</a>
								    </span>
							    {% else %}
							    	Last Notarisation Block (LTC)
								    <span class="badge p-2 " style="font-size: 1.1em;">
								    	<a href='https://chainz.cryptoid.info/ltc/block.dws?{{ chain_ntx_summary.last_ntx_block }}'>{{ chain_ntx_summary.last_ntx_block }}</a>
								    </span>
							    {% endif %}
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
							<div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Last Notarisation Block ({{ chain }})
							    <span class="badge p-2 " style="font-size: 1.1em;">
							    	<a href='{{ coins_data.explorers.0 }}block-index/{{ chain_ntx_summary.last_ntx_ac_block }}'>{{ chain_ntx_summary.last_ntx_ac_block }}</a>
							    </span>
							</div>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
							<div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Lag
							    <span class="badge p-2 " style="font-size: 1.1em;">
							    	{{ chain_ntx_summary.ntx_lag }}
							    </span>
							</div>
					    </li>
					</ul> 
				</div>
			</div>
		</div>
	</div>	
	<div class="row mx-auto" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3" style="border:none !important; background-color: #101721 !important; box-shadow: none; margin-top:0 !important;">
		    	<h2>{{ season_clean }} Top Region Notarisation Scores</h2>
			    <div class="d-flex justify-content-between align-items-center">
				    {% for region, data in top_coin_notarisers.items %}
					    <div class="leader-badge">
					    	{% if region == 'AR' %}
								<span class='badge my-1 p-2 mx-auto' style="font-size: 1.3em;">
									<a href="http://{{ request.get_host }}/ntx_scoreboard/?season={{ season }}#{{ region }}_table">Asia and Russia</a>
								</span>
							{% elif region == 'EU' %}
								<span class='badge my-1 p-2 mx-auto' style="font-size: 1.3em;">
									<a href="http://{{ request.get_host }}/ntx_scoreboard/?season={{ season }}#{{ region }}_table">European Union</a>
								</span>
							{% elif region == 'NA' %}
								<span class='badge my-1 p-2 mx-auto' style="font-size: 1.3em;">
									<a href="http://{{ request.get_host }}/ntx_scoreboard/?season={{ season }}#{{ region }}_table">North America</a>
								</span>
							{% elif region == 'SH' %}
								<span class='badge my-1 p-2 mx-auto' style="font-size: 1.2em;">
									<a href="http://{{ request.get_host }}/ntx_scoreboard/?season={{ season }}#{{ region }}_table">Southern Hemisphere</a>
								</span>
							{% elif region == 'DEV' %}
								<span class='badge my-1 p-2 mx-auto' style="font-size: 1.3em;">
									<a href="http://{{ request.get_host }}/ntx_scoreboard_24hrs/?season={{ season }}#{{ region }}_table">Development</a>
								</span>
							{% endif %}	

					    	<div class="">
								{% if data.top_notary_icon != '' %}
									<img class="card-img-top auto-width" height='96' src="{{ data.top_notary_icon }}" alt="" style="border-radius: 50%;">
								{% else %}
									<img class="card-img-top auto-width" height='96' src="{% static 'img/notary/icon/' %}blank.png" alt="" style="border-radius: 50%;">
								{% endif %}									    		
					    	</div>
					    	<div class="">
					    		<a class="badge my-1 p-2 mx-auto" style="font-size: 1.3em"  href="http://{{ request.get_host }}/notary_profile/{{ data.top_notary }}/?season={{ season }}">
					    			{{ data.top_notary }}<br />
					    			<span style="font-size: 1.2em; line-height: 1.3em;">
					    				{{ data.top_ntx_count }}
					    			</span>
					    			<br /> Notarisations
					    		</a>
					    	</div>
					    </div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="input-group mb-1 ">
		    <div class="input-group-prepend p-0 col-2  text-center">
		        <span class="input-group-text col-12 " style="border: none; color: #b9b5b5;">
		        	Launch Params
				</span>
		    </div>
		    <input type="text" class="form-control col-10 " style="border: solid grey 1px !important; font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.launch_params }}" value="{{ coins_data.coins_info.launch_params }}" readonly id="{{ chain }}_params">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_params" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>

		<div class="input-group mb-1 ">
		    <div class="input-group-prepend p-0 col-2  text-center">
		        <span class="input-group-text col-12 " style="border: none; color: #b9b5b5;">
		        	CLI
				</span>
		    </div>
		    <input type="text" class="form-control col-10 " style="border: solid grey 1px !important; font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.cli }}" value="{{ coins_data.coins_info.cli }}" readonly id="{{ chain }}_cli">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_cli" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>

		<div class="input-group mb-1 ">
		    <div class="input-group-prepend p-0 col-2  text-center">
		        <span class="input-group-text col-12" style="border: none; color: #b9b5b5;">
		        	Config
				</span>
		    </div>
		    <input type="text" class="form-control col-10" style="border: solid grey 1px !important; font-size: 1em; line-height: 1em;" placeholder="{{ coins_data.coins_info.conf_path }}" value="{{ coins_data.coins_info.conf_path }}" readonly id="{{ chain }}_conf">
		    <div class="input-group-append p-0">
				<button class="append-btn" data-clipboard-target="#{{ chain }}_conf" style="line-height: 1em;">
				    <i class="cil-copy"></i>
				</button>
		    </div>
		</div>
		{% if coins_data.explorers|length > 0 %}
			<div class="input-group mb-1">
			    <div class="input-group-prepend p-0 col-2  text-center">
			        <span class="input-group-text col-12 " style="border: none; color: #b9b5b5;">
			        	Explorers
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.explorers %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							<a href="{{ x }}">{{ x }}</a>
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if coins_data.electrums|length > 0 %}
			<div class="input-group mb-1">
			    <div class="input-group-prepend p-0 col-2  text-center">
			        <span class="input-group-text col-12" style="border: none; color: #b9b5b5;">
			        	Electrums
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.electrums %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							{{ x }}
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if coins_data.electrums_ssl|length > 0 %}
			<div class="input-group mb-1">
			    <div class="input-group-prepend p-0 col-2 text-center">
			        <span class="input-group-text col-12 " style="border: none; color: #b9b5b5;">
			        	Electrums (SSL)
					</span>
			    </div>
				<div class="justify-content-between col-10 coin-params-field">
				    {% for x in coins_data.electrums_ssl %}
						<span class='badge p-2 m-1' style="font-size: 0.9em; background-color: #000;">
							{{ x }}
						</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
	<!--
	<div class="row">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#ntx"><span class='badge p-2'>Notarisations</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#balances"><span class='badge p-2'>Balances</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#addresses"><span class='badge p-2'>Addresses</span></a>
			</h4>
			<h4 class="card text-center  kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#funding"><span class='badge p-2'>Funding</span></a>
			</h4>
		</div>
	</div>
	-->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0">
				<div class="card-header  d-flex justify-content-between">
					<div class="my-auto">
						{{ season_clean }} {{ chain }} Wallet Balances
					</div>
					<div>
					    <span class="badge m-2 p-2 ar_region">AR <i class="fa fa-circle" aria-hidden="true"></i></span>
					    <span class="badge m-2 p-2 eu_region">EU <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 na_region">NA <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 sh_region">SH <i class="fa fa-circle" aria-hidden="true" ></i></span>
					    <span class="badge m-2 p-2 dev_region">DEV <i class="fa fa-circle" aria-hidden="true" ></i></span>
					</div>
				</div>
				<div class="card-body">
					<span id="graph_title"></span>
				    <canvas id="myChartBar"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card">
				<div class="card-header flex">
					<h4>{{ season_clean }} {{ chain }} Addresses & Balances</h4>
				</div>
				<div class="card-body">
					<table id="balances_table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th data-data="notary">Notary</th>
								<th data-data="address">Address</th>
								<th data-data="balance">Balance</th>
								<th data-data="server">Server</th>
								<th data-data="update">Since Updated</th>
							</tr>
						</thead>
						<tbody>
							{% for item in chain_balances %}
								{% if chain == "BTC" or chain == "LTC" %}
									{% if item.server != "Third_Party" %}
										<tr>
											<td data-data="notary" class="px-2 text-left">{{ item.notary }}</td>
											<td data-data="address">{{ item.address }}</td>
											<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
											<td data-data="server">{{ item.server }}</td>
											<td data-data="update">{{ item.update_time }}</td>
										</tr>
									{% endif %}
								{% else %}
									<tr>
										<td data-data="notary" class="px-2 text-left">{{ item.notary }}</td>
										<td data-data="address">{{ item.address }}</td>
										<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
										<td data-data="server">{{ item.server }}</td>
										<td data-data="update">{{ item.update_time }}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
    <!-- jquery -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script>
	</script>
    {{ explorers|json_script:"explorers-data" }}
  	<script>
	    $(document).ready(function() {
	    	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	        $('#balances_table').DataTable({
	           "paging": false,
    			deferRender: true,
                "orderClasses": false,
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
        		"columnDefs": [
			        {
			            "data": "notary",
		                "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"/?season={{ season }}'>"+oData.notary+"</a></span>");
				        }
		            },
        			{
			            "data": "address",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='"+explorers['{{ chain }}'][0]+'address/'+oData.address+"'>"+oData.address+"</a></span>");
				        }
			        },
        			{
			            "data": "balance",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'>"+oData.balance+"</a></span>");
				        }
			        },
        			{
			            "data": "server",
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.server == "Main") {
			            		color = "#115621";
			            	}
			            	else if (oData.server == "Third_Party") {
			            		color = "#2b53ad";
			            	}
			            	else if (oData.server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html("<span class='badge p-2' style='background-color:"+color+" !important;'>"+oData.server+"</span>");
			        	}
			        },
        			{
			            "data": 'update_time',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	var time_now = Date.now()/1000;
			            	totalSeconds = time_now-oData.update_time
			            	days = Math.floor(totalSeconds / 86400);
						    totalSeconds %= 86400;
			            	hours = Math.floor(totalSeconds / 3600);
						    totalSeconds %= 3600;
						    minutes = Math.floor(totalSeconds / 60);
						    seconds = totalSeconds % 60;
						    if (days == 0 & hours ==0) {
						    	timesince = minutes+" min"
						    } else if (days == 0) {
						    	timesince = hours+" hrs, "+minutes+" min"
						    } else {
						    	timesince = days+" days, "+hours+" hrs"
						    }
		            		$(nTd).html("<span class='badge p-2' style='font-size: 0.8em;'>"+timesince+"</span>");
				        }
			        }
        		]
	        });
	    });
	    $.ajax({ 
	      method: "GET", 
	      url: '//{{ request.get_host }}/api/graph/balances/?season={{ season }}&server={{ server }}&chain={{ chain }}', 
	      success: function(data) { 
	      	//document.getElementById('graph_title').innerHTML = data.chartLabel;
	        //drawLineGraph(data, 'myChartline'); 
	        drawBarGraph(data['results'], 'myChartBar'); 
	        console.log("drawing"); 
	      }, 
	      error: function(error_data) { 
	        console.log(error_data); 
	      } 
	    }) 
      
        function drawBarGraph(data, id) { 
            var labels = data.labels; 
            var chartLabel = data.chartLabel; 
            var chartdata = data.chartdata; 
            var bg_color = data.bg_color; 
            var border_color = data.border_color; 
            var ctx = document.getElementById(id).getContext('2d'); 
            var myChart = new Chart(ctx, { 
                type: 'bar', 
                data: { 
                  labels: labels, 
                  datasets: [{ 
                    label: chartLabel, 
                    data: chartdata, 
                    backgroundColor: bg_color,
                    borderColor: border_color, 
                    borderWidth: 1 
                  }] 
                }, 
                options: { 
                    responsive: true,
                    tooltips: {
                        position: 'nearest',
                        mode: 'index',
                        intersect: true,
                    },
                    legend: {
                        display: false,
                        labels: {
                            fontColor: '#B7BBBF'
                        }
                    },
                    scales: { 
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Balance in Notary Wallets',
                                fontColor: '#B7BBBF'
                            },
                            type: 'logarithmic',
                            position: 'left',
                            ticks: {
                                fontColor: '#41EAD4',
                                min: 0, //minimum tick
                                max: {{ max_tick }}, //maximum tick
                                callback: function (value, index, values) {
                                    return Number(value.toString());//pass tick values as a string into Number function
                                }
                            },
                            afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                                chartObj.ticks = [];
                                chartObj.ticks.push(0.1);
                                chartObj.ticks.push(1);
                                chartObj.ticks.push(10);
                                chartObj.ticks.push(100);
                                chartObj.ticks.push(1000);
                                chartObj.ticks.push(10000);
                            }
                        }],
                        xAxes: [{
                            position: 'nearest',
                            padding: 0,
                            ticks: {
                                fontColor: '#41EAD4'
                            }
                        }]
                    } 
                } 
            }); 
        } 
	  
    </script> 

{% endblock %}
