{% extends "base.html" %}
{% load static %}
{% block content %}

	{% include "snippets/region_ntx_leaders.html" %}
	
	{% include "snippets/region_ntx_leaders_24hr.html" %}

	<div class="row my-2">
		<div class="card-deck d-flex justify-content-between col-12 m-auto shadow-none">
			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h1 class="card-title">{{ coins_list|length }}</h1>
			    <a href="//{{ request.get_host }}/coin_profile/?season={{ season }}">
			    	<p class="card-text">Coins secured by dPoW</p>
				</a>
				<!--<span style="font-style: italic; font-size: 0.8em">{{ server_chains.main|length }} * Antara, {{ server_chains.third_party|length }} * Third Party</span>-->
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h1 class="card-title">{{ ntx_24hr }}</h1>
			    <a href="//{{ request.get_host }}/chains_last_ntx/?season={{ season }}">
			    	<p class="card-text">Notarised last 24hrs</p>
				</a>
			  </div>
			</div>


			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h1 class="card-title">{{ notaries_list|length }}</h1>
			    <a href="//{{ request.get_host }}/notary_profile/?season={{ season }}">
			    	<p class="card-text">Notary Nodes</p>
				</a>
			  </div>
			</div>

		</div>
	</div>	

	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto shadow-none">

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h1 class="card-title">{{ mined_24hr|floatformat:-2 }} KMD</h1>
				<a href="//{{ request.get_host }}/mining_24hrs/?season={{ season }}">
			    	<p class="card-text">KMD Mined last 24hrs</p>
			    </a>
			  </div>
			</div>
			
			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h1 class="card-title">{{ biggest_block.value|floatformat:-2 }} KMD</h1>
			    <p class="card-text">
				    <a href="//{{ request.get_host }}/mining_overview/?season={{ season }}">
				    	Season Largest KMD Block Mined
					</a>
			    </p>
			  </div>
			</div>

		</div>
	</div>	

	<div class="row col-12 my-2">
		<div class="card m-auto">
		    <div class="card-body">
		    	<p class="card-text text-center m-2">
		    		<h3>Notary Resources</h3>
			    	<!--
			    	<a href="https://smk762.github.io/developer-docs/resources/notary-api.html" class="btn btn-dark4 m-2">API GUIDE</a> -->
			    	<a href="https://developers.komodoplatform.com/" class="btn btn-dark4 kmd_teal_bg m-2">DEV DOCS</a>
			    	<a href="https://github.com/komodoplatform/dpow" class="btn btn-dark4 kmd_teal_bg m-2">DPOW GUIDE</a>
			    	<a href="https://github.com/KomodoPlatform/dPoW/blob/dev/doc/bible.md" class="btn btn-dark4 kmd_teal_bg m-2">DPOW BIBLE</a>
			    	<a href="https://docs.komodoplatform.com/notary/setup-Komodo-Notary-Node.html" class="btn btn-dark4 kmd_teal_bg m-2">NOTARY NODE SETUP</a>

			    	<!--
			    	<a href="https://github.com/KomodoPlatform/kips" class="btn btn-dark4 kmd_teal m-2">KOMODO IMPROVEMENT PROPOSALS</a> -->
		    	</p>
		    	<p class="card-text m-2">
		    		<h3>Community Websites</h3>
		    		<a href="https://www.dexstats.info" class="btn btn-dark4 kmd_teal_bg m-2">DEXSTATS</a>
			    	<a href="https://komodod.com/" class="btn btn-dark4 kmd_teal_bg m-2">KOMODOD EXPLORER</a>
			    	<a href="https://notarystats.info/" class="btn btn-dark4 kmd_teal_bg m-2">NOTARYSTATS</a>
			    	<a href="https://komodostats.com/nn" class="btn btn-dark4 kmd_teal_bg m-2">KOMODOSTATS</a>
			    	<a href="https://dpow.io" class="btn btn-dark4 kmd_teal_bg m-2">DPOW.IO NN STATS</a>
        			<a class="btn btn-dark4 kmd_teal_bg m-2" href="https://ikomodo.com/"> iKomodo</a>
		    	</p>			    
		    </div>
		</div>
	</div>	

{% endblock %}
