{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 mx-auto my-1" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3 col-4 px-0 mt-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    Notarised Last 24hrs
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/notarised_24hrs/?season={{ season }}">
						    		{{ 24hr_ltc_count }}<br /> LTC
						    	</a>
						    </span>
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/notarised_24hrs/?season={{ season }}">
						    		{{ 24hr_main_count }}<br /> Main
						    	</a>
						    </span>
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/notarised_24hrs/?season={{ season }}">
						    		{{ 24hr_third_party_count }}<br /> 3rd Party
						    	</a>
						    </span>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
					    	Notarised Season
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/ntx_scoreboard/?season={{ season }}">
						    		{{ season_btc_count }}<br /> LTC
						    	</a>
						    </span>
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/ntx_scoreboard/?season={{ season }}">
						    		{{ season_main_count }}<br /> Main
						    	</a>
						    </span>
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/ntx_scoreboard/?season={{ season }}">
						    		{{ season_third_party_count }}<br /> 3rd Party
						    	</a>
						    </span>
						</div>									    
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    Last Notarisation
						    <a href="//{{ request.get_host }}/chains_last_ntx/?season={{ season }}">
							    <span id="last_ntx" class="badge p-2" style="font-size: 0.9em;">
							    	{{ last_ntx_time }}<br />{{ last_ntx_chain }}
							    </span>
						    </a>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
					    	Last LTC Notarisation
						    <a href="//{{ request.get_host }}/chains_last_ntx/?season={{ season }}">
							  	<span  id="last_ltc_ntx" class="badge p-2" style="font-size: 0.9em;">
							  			{{ last_ltc_ntx_time }}
							  	</span>
						  	</a>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
					    	Region Rank
							<span  id="last_ltc_ntx" class="badge p-2" style="font-size: 1.5em;">
			    				<a href="//{{ request.get_host }}/ntx_scoreboard/?season={{ season }}">
						    		{{ rank }}
						    	</a>
						    </span>
						</div>
					  </li>
					</ul> 							
				</div>
			</div>

			<!-- Social Media Links -->
        	<div class="card kmd_ui_light3 my-0 mx-auto shadow-none" style="border:none !important;">
        		<div class="my-auto">
	        		<div class="row my-0 mx-auto align-items-center">
	        			<h3 class="col-12">
	        				{{ notary_name }}
	        			</h3>
					</div>
	        		<div class="row my-0 mx-auto">
	            		<div class="p-1 m-auto">
							{% for nn, site_links in nn_social.items %}
								{% if notary_name == nn and site_links.icon != '' %}
									<img class="card-img-top auto-width" height='128' src="{{ site_links.icon }}" alt=""  style="border-radius: 50%; margin:0 !important">
								{% else %}
									<img class="card-img-top auto-width" height='128' src="{% static 'img/notary/icon/' %}blank.png" alt="" style="border-radius: 50%; margin:0 !important">
								{% endif %}
							{% endfor %}
						</div>
					</div>
	        		<div class="row d-flex justify-content-between align-items-center">
						<div class="row d-flex justify-content-between align-items-center m-auto" style="font-size: 1.6em;">
						{% for nn, site_links in nn_social.items %}
							{% if notary_name == nn %}
								{% for site, link in site_links.items %}
									{% if site == 'discord' %}
										{%  if link != '' %}
											<a href="https://discordapp.com/users/{{ link }}"><i class="sml-social fab fa-discord m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-discord m-1 " style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'email' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="sml-social far fa-envelope m-1 "></i></a>
										{% else %}
											<i class="sml-social far fa-envelope m-1 " style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'github' %}
										{%  if link != '' %}
											<a href="https://github.com/{{ link }}"><i class="sml-social fab fa-github m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-github m-1 " style="color: #555;"></i>
										{% endif %}

									{% elif site == 'keybase' %}
										{%  if link != '' %}
											<a href="https://keybase.io/{{ link }}"><i class="sml-social fab fa-keybase m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-keybase m-1 " style="color: #555;"></i>
										{% endif %}

									{% elif site == 'telegram' %}
										{%  if link != '' %}
											<a href="https://t.me/{{ link }}"><i class="sml-social fab fa-telegram-plane m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-telegram-plane m-1 " style="color: #555;"></i>
										{% endif %}

									{% elif site == 'twitter' %}
										{%  if link != '' %}
											<a href="https://twitter.com/{{ link }}"><i class="sml-social fab fa-twitter m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-twitter m-1 " style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'website' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="sml-social fas fa-desktop m-1 "></i></a>
										{% else %}
											<i class="sml-social fas fa-desktop m-1 " style="color: #555;"></i>
										{% endif %}
										
									{% elif site == 'youtube' %}
										{%  if link != '' %}
											<a href="https://www.youtube.com/{{ link }}"><i class="sml-social fab fa-youtube m-1 "></i></a>
										{% else %}
											<i class="sml-social fab fa-youtube m-1 " style="color: #555;"></i>
										{% endif %}
										
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
						</div>	
					</div>
	        		<div class="row my-0 mx-auto align-items-center">
						<h6 class="col-12">
							{% if season == "Season_4" %}
							<a class="sml-social" href="https://github.com/KomodoPlatform/NotaryNodes/edit/master/season4/elected_nn_social.json">
								Update
							</a>
							{% elif season == "Season_5" %}
							<a class="sml-social" href="https://github.com/KomodoPlatform/NotaryNodes/edit/master/season5/elected_nn_social.json">
								Update
							</a>
							{% endif %}
						</h6>
					</div>
				</div>
			</div>


			<!-- Mining Summary -->
			<div class="card text-center kmd_ui_light3 col-4 px-0 mt-auto shadow-none" style="border:none !important;">
				<div class="card-body p-0" style="background-color: #101721 !important;">
					<ul class="list-group">
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    Mined
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/mining_24hrs/?season={{ season }}">
						    		{{ mining_summary.mined_last_24hrs|floatformat:-3 }} KMD<br />Last 24hrs
						    	</a>
							</span>
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/mining_overview/?season={{ season }}">
						    		{{ mining_summary.sum_value_mined|floatformat:-3 }} KMD<br />Season
						    	</a>
							</span>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    Blocks Mined this Season
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/mining_overview/?season={{ season }}">
						    		{{ mining_summary.blocks_mined }}
						    	</a>
							</span>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    <div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
						    Largest Block Mined
						    <span class="badge p-2" style="font-size: 0.9em;">
						    	<a href="//{{ request.get_host }}/mining_overview/?season={{ season }}">
						    		{{ mining_summary.max_value_mined|floatformat:-3 }} KMD
						    	</a>
							</span>
						</div>
					  </li>
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    	<div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Last Mined block
							    <span class="badge p-2" style="font-size: 0.9em;">
						    		<a href="//{{ request.get_host }}/mining_24hrs/?season={{ season }}">
							    		{{ mining_summary.time_since_mined }}
							    	</a>
								</span>
							</div>
					  	</li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
					    	<div class="p-2 kmd_blue_bg col-12 d-flex justify-content-between align-items-center" style="text-transform:none; border-radius: 0.25rem; border: solid 1px #5a5a5a !important;">
							    Notarisation Score
							    <span class="badge p-2" style="font-size: 1.5em;">
		    						<a href="//{{ request.get_host }}/ntx_scoreboard/?season={{ season }}">{{ season_score|floatformat:-3 }}</a>
								</span>
							</div>
					  	</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>

	<!-- Season Notarisation Stats -->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card shadow-none">
				<div class="card-header flex">
					<h4>{{ notary_name }} {{ season_clean }} Notarisations Summary</h4>
				</div>
				<div class="card-body">
					<table id="ntx_table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th data-data="ntx_chain">Server</th>
								<th data-data="ntx_server">Server</th>
								<th data-data="ntx_count">Notarisations</th>
								<th data-data="ntx_pct">Participation</th>
								<th data-data="ntx_score">Score</th>
								<th data-data="ntx_block">Last ntx block</th>
								<th data-data="ntx_time">Since last ntx</th>
							</tr>
						</thead>
						<tbody>
							{% for item in ntx_summary_data %}
								<tr>
									<td data-data="ntx_chain text-left" class="px-2 text-left">
								      	<span class="badge p-2" style='font-size: 0.9em;'>
					                        {% if item.chain == 'WLC21' %}
					                            <img height="16px" class='mr-2' src="https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/wlc.png" />
					                        {% elif item.chain == 'GLEEC-OLD' %}
					                            <img height="16px" class='mr-2' src="https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/gleec.png" />
					                        {% elif item.chain == 'COQUICASH' %}
					                            <img height="16px" class='mr-2' src="https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/coqui.png" />
					                        {% else %}
					                            <img height="16px" class='mr-2' src="https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/{{ item.chain|lower }}.png" />
					                        {% endif %}
					                        <a href='//{{ request.get_host }}/coin_profile/{{ item.chain }}/?season={{ season }}'>{{ item.chain }}</a>
										</span>
									</td>
									<td data-data="ntx_server">{{ item.server }}</td>
									<td data-data="ntx_count">
										<span class='badge p-2' style='font-size: 0.9em;'>
											<a href="//{{ request.get_host }}/api/table/notary_ntx/?season={{ season }}&server={{ item.server }}&notary={{ notary_name }}&chain={{ item.chain }}">
												{{ item.chain_ntx_count }}
											</a>
										</span>
									</td>
									<td data-data="ntx_pct">
										<span class='badge p-2' style='font-size: 0.9em;'>
											{{ item.ntx_pct|floatformat:-3 }}%
										</span>
									</td>
									<td data-data="ntx_score">
										<span class='badge p-2' style='font-size: 0.9em;'>
											<a href="//{{ request.get_host }}/notary_epoch_scores?notary={{ notary_name }}&chain={{ item.chain }}&season={{ season }}">
												{{ item.chain_score|floatformat:-3 }}
											</a>
										</span>
									</td>
									<td data-data="ntx_block">
										{{ item.last_block_height }}
									</td>
									<td data-data="ntx_time" data-order="{{ item.last_block_height }}">
										{{ item.since_last_block_time }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3 col-12 px-0 shadow-none">
				<div class="card-header d-flex justify-content-between">
					<div class="my-auto">
						<h4>{{ notary_name }} {{ season_clean }} Wallet Balances</h4>
					</div>
					<div>
					    <span class="badge m-2 p-2 main_server graph_legend">
					    	MAIN<i class="fa fa-circle ml-2" aria-hidden="true" style="font-size: 1.2em;"></i>
					    </span>
					    <span class="badge m-2 p-2 third_party_server graph_legend">
					    	3RD PARTY<i class="fa fa-circle ml-2" aria-hidden="true" style="font-size: 1.2em;"></i>
					    </span>
					    <span class="badge m-2 p-2 btc_kmd_server graph_legend">
					    	BTC / KMD<i class="fa fa-circle ml-2" aria-hidden="true" style="font-size: 1.2em;"></i>
					    </span>
					</div>
				</div>
				<div class="card-body graph_card_body">
					<span id="graph_title"></span>
				    <canvas id="balances_graph"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card shadow-none">
				<div class="card-header flex">
					<h4>{{ notary_name }} {{ season_clean }} Addresses & Balances</h4>
				</div>
				<div class="card-body">
					<table id="balances_table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th data-data="chain">Chain</th>
								<th data-data="server">Server</th>
								<th data-data="address">Address</th>
								<th data-data="balance">Balance</th>
								<th data-data="update">Since Updated</th>
							</tr>
						</thead>
						<tbody>
							{% for item in notary_balances %}
								{% if item.coin == "BTC" or item.coin == "LTC" %}
									{% if item.server != "Third_Party" %}
										<tr>
											<td data-data="chain" class="px-2 text-left">{{ item.chain }}</td>
											<td data-data="server">{{ item.server }}</td>
											<td data-data="address">{{ item.address }}</td>
											<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
											<td data-data="update">{{ item.update_time }}</td>
										</tr>
									{% endif %}
								{% else %}
									<tr>
										<td data-data="chain" class="px-2 text-left">{{ item.chain }}</td>
										<td data-data="server">{{ item.server }}</td>
										<td data-data="address">{{ item.address }}</td>
										<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
										<td data-data="update">{{ item.update_time }}</td>
									</tr>
								{% endif %}

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
    <!-- jquery -->

  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ explorers|json_script:"explorers-data" }}
  	<script>  
	    $(document).ready(function() {
	       	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	        var balTable = $('#balances_table').DataTable({ 
    			deferRender: true,
                "orderClasses": false,
    			"paging": true,
        		order: [[ 3, 'asc' ], [ 0, 'asc' ], [ 1, 'asc' ]],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	var icon = oData.chain.toLowerCase()
			            	if (icon == "wlc21") {
			            		icon = "wlc"
			            	} else if (icon == "gleec-old") {
			            		icon = "gleec"
			            	} else if (icon == "coquicash") {
			            		icon = "coqui"
			            	}
				            $(nTd).html("<span class='badge p-2 mr-auto' style='font-size: 0.9em;'><img height='16' class='mr-2' src='https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/"+icon+".png' /><a href='//{{ request.get_host }}/coin_profile/"+oData.chain+"/?season={{ season }}'>"+oData.chain+"</a></span>");
				        }
        			},
        			{
			            "data": "server",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.server == "Main") {
			            		color = "#115621";
			            	}
			            	else if (oData.server == "Third_Party") {
			            		color = "#2b53ad";
			            	}
			            	else if (oData.server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html("<span class='badge p-2' style='background-color:"+color+" !important;'>"+oData.server+"</span>");
			        	}
			        },
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (!(explorers.hasOwnProperty(oData.chain))) {
			            		$(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'>"+oData.address+"</span>");	
			            	}
			            	else if (explorers[oData.chain][0].search("cryptoid") > -1) {
			            		$(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='"+explorers[oData.chain][0]+'address.dws?'+oData.address+".htm'>"+oData.address+"</a></span>");	
			            	}
			            	else {
			            		$(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='"+explorers[oData.chain][0]+'address/'+oData.address+"'>"+oData.address+"</a></span>");	
			            	}
			            }
			        },
        			{
			            "data": "balance",
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'>"+oData.balance+"</a></span>");
				        }
			        },
        			{
			            "data": 'update_time',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	var time_now = Date.now()/1000;
			            	totalSeconds = time_now-oData.update_time
			            	days = Math.floor(totalSeconds / 86400);
						    totalSeconds %= 86400;
			            	hours = Math.floor(totalSeconds / 3600);
						    totalSeconds %= 3600;
						    minutes = Math.floor(totalSeconds / 60);
						    seconds = totalSeconds % 60;
						    if (days == 0 & hours ==0) {
						    	timesince = minutes+" min"
						    } else if (days == 0) {
						    	timesince = hours+" hrs, "+minutes+" min"
						    } else {
						    	timesince = days+" days, "+hours+" hrs"
						    }
		            		$(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'>"+timesince+"</span>");
				        }
			        }		
        		]
	        });
	        var ntxTable = $('#ntx_table').DataTable({
        		order: [[ 0, 'asc' ], [ 1, 'asc' ]], 
    			deferRender: true,
                "orderClasses": false,
    			"paging": true,
	        	"columns": [
			        { "data": "ntx_chain" },
			        { "data": "ntx_server" },
			        { "data": "ntx_count" },
			        { "data": "ntx_pct" },
			        { "data": "ntx_score" },
			        { "data": "ntx_block" },
			        { "data": "ntx_time" }
			    ], 
		        "paging": false,
        		"columnDefs": [
        			{
			            "data": 'ntx_chain',
			            "targets": 0
        			},
        			{
			            "data": "ntx_server",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.ntx_server == "Main") {
			            		color = "#115621";
			            	}
			            	else if (oData.ntx_server == "Third_Party") {
			            		color = "#2b53ad";
			            	}
			            	else if (oData.ntx_server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html("<span class='badge p-2' style='background-color:"+color+" !important;'>"+oData.ntx_server.replace(/_/g, " ")+"</span>");
			        	}
			        },
        			{
			            "data": 'ntx_block',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.ntx_chain == "BTC") {
					            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='https://www.blockchain.com/btc/block/"+oData.ntx_block+"'>"+oData.ntx_block+"</a></span>");
   			            	} else if (oData.ntx_chain == "LTC") {
					            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='https://litecoinblockexplorer.net/block/"+oData.ntx_block+"'>"+oData.ntx_block+"</a></span>");
   			            	} else {
					            $(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'><a href='http://komodod.com/b/"+oData.ntx_block+"'>"+oData.ntx_block+"</a></span>");
			            	}
				        }
			        },
        			{
			            "data": 'ntx_time',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html("<span class='badge p-2' style='font-size: 0.9em;'>"+oData.ntx_time+"</span>");
				        }
			        }
        		]
	        });
			
	        {% autoescape off %}
		    drawBarGraph({{ notary_balances_graph_data }}, 'balances_graph');
	        {% endautoescape %}
			
	    });

		Chart.defaults.global.defaultFontColor = 'white';
		Chart.defaults.global.defaultFontSize = 16;

	    function drawBarGraph(data, id) { 
			var labels = data.labels; 
			var chartLabel = data.chartLabel; 
			var chartdata = data.chartdata; 
			var bg_color = data.bg_color; 
			var border_color = data.border_color; 
			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
			                beginAtZero: true,
						    scaleLabel: {
						        display: true,
						        labelString: 'Balance in Notary Wallets',
				            	fontColor: '#B7BBBF'
						    },
						    type: 'logarithmic',
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								min: 0, //minimum tick
								max: 100000, //maximum tick
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    },
						    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
						        chartObj.ticks = [];
						        chartObj.ticks.push(0);
						        chartObj.ticks.push(0.1);
						        chartObj.ticks.push(1);
						        chartObj.ticks.push(10);
						        chartObj.ticks.push(100);
						        chartObj.ticks.push(1000);
						        chartObj.ticks.push(10000);
						        chartObj.ticks.push(10000);
						    }
						}],
						xAxes: [{
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
  </script> 

{% endblock %}
