{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="m-auto kmd_ui_light3">{{ season_clean }} Notary Node Profiles</h2>
	<div class="row m-4">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<h4 class="card text-center kmd_ui_light3 col-3 px-0 mt-auto shadow-none" style="border:none !important;">
				<a href="#AR">
					<span class='col-12 badge p-2' style="border:solid 1px grey; background-color: #000">
						Asia & Russia
					</span>
				</a>
			</h4>
			<h4 class="card text-center kmd_ui_light3 col-3 px-0 mt-auto shadow-none" style="border:none !important;">
				<a href="#EU">
					<span class='col-12 badge p-2' style="border:solid 1px grey; background-color: #000">
						European Union
					</span>
				</a>
			</h4>
			<h4 class="card text-center kmd_ui_light3 col-3 px-0 mt-auto shadow-none" style="border:none !important;">
				<a href="#NA">
					<span class='col-12 badge p-2' style="border:solid 1px grey; background-color: #000">
						North America
					</span>
				</a>
			</h4>
			<h4 class="card text-center kmd_ui_light3 col-3 px-0 mt-auto shadow-none" style="border:none !important;">
				<a href="#SH">
					<span class='col-12 badge p-2' style="border:solid 1px grey; background-color: #000">
						Southern Hemisphere
					</span>
				</a>
			</h4>
			<h4 class="card text-center kmd_ui_light3 col-3 px-0 mt-auto shadow-none" style="border:none !important;">
				<a href="#DEV">
					<span class='col-12 badge p-2' style="border:solid 1px grey; background-color: #000">
						Developers
					</span>
				</a>
			</h4>
		</div>
	</div>
	{% for region, info in nn_info.regions_info.items %}	
	<div class="card text-center">	
		<div class="card-header">
			<a id="{{region}}" class="section-anchor">
				<h4 class="text-uppercase kmd_teal">{{ info.name }}</h4>
			</a>
		</div>		
		<div class="card-body" style="background-color: #000 !important;">
			<div class="row m-1 d-flex justify-content-between">	
            	{% for node in info.nodes %}
            	<div class="card  kmd_ui_light3 col-2 px-0 mx-1" style="background-color: #111 !important;">
            		<a href="//{{ request.get_host }}/notary_profile/{{ node }}/?season={{ season }}">
	            		<div class="p-1 m-auto">
						{% for nn, site_links in nn_social.items %}
							{% if node == nn %}
								{% if site_links.icon != '' %}
									<img class="card-img-top auto-width" height='96px' src="{{ site_links.icon }}" alt="" style="border-radius: 50%;">
								{% else %}
									<img class="card-img-top auto-width" height='96px' src="{% static 'img/notary/icon/' %}blank.png" alt="" style="border-radius: 50%;">
								{% endif %}
							{% endif %}
						{% endfor %}
						</div>
					</a>	
					<div class="card-body " style="padding: 1rem; background-color: #183353 !important;">
						<p class="card-text kmd_ui_light3 text-uppercase" style="font-size: 0.9em; ">
	            			<a href="//{{ request.get_host }}/notary_profile/{{ node }}/?season={{ season }}">
	            				{{ node }}
							</a><br />
							{% for nn, site_links in nn_social.items %}
								{% if node == nn %}
									{% for site, link in site_links.items %}
										{% if site == 'discord' %}
											{%  if link != '' %}
												<a href="https://discordapp.com/users/{{ link }}"><i class="sml-social fab fa-discord mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-discord mr-2" style="color: #555;"></i>
											{% endif %}
											
										{% elif site == 'email' %}
											{%  if link != '' %}
												<a href="{{ link }}"><i class="sml-social far fa-envelope mr-2"></i></a>
											{% else %}
												<i class="sml-social far fa-envelope mr-2" style="color: #555;"></i>
											{% endif %}
											
										{% elif site == 'github' %}
											{%  if link != '' %}
												<a href="https://github.com/{{ link }}"><i class="sml-social fab fa-github mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-github mr-2" style="color: #555;"></i>
											{% endif %}

										{% elif site == 'keybase' %}
											{%  if link != '' %}
												<a href="https://keybase.io/{{ link }}"><i class="sml-social fab fa-keybase mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-keybase mr-2" style="color: #555;"></i>
											{% endif %}

										{% elif site == 'telegram' %}
											{%  if link != '' %}
												<a href="https://t.me/{{ link }}"><i class="sml-social fab fa-telegram-plane mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-telegram-plane mr-2" style="color: #555;"></i>
											{% endif %}

										{% elif site == 'twitter' %}
											{%  if link != '' %}
												<a href="https://twitter.com/{{ link }}"><i class="sml-social fab fa-twitter mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-twitter mr-2" style="color: #555;"></i>
											{% endif %}
											
										{% elif site == 'website' %}
											{%  if link != '' %}
												<a href="{{ link }}"><i class="sml-social fas fa-desktop mr-2"></i></a>
											{% else %}
												<i class="sml-social fas fa-desktop mr-2" style="color: #555;"></i>
											{% endif %}
											
										{% elif site == 'youtube' %}
											{%  if link != '' %}
												<a href="https://www.youtube.com/{{ link }}"><i class="sml-social fab fa-youtube mr-2"></i></a>
											{% else %}
												<i class="sml-social fab fa-youtube mr-2" style="color: #555;"></i>
											{% endif %}
											
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</p>
					</div>
				</div>	
                {% endfor %}
			</div>		
		</div>		
	</div>		
	{% endfor %}
{% endblock %}

