{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="card m-auto">
			<div class="card-header col-12 m-auto">
				<h2>Season 5 {{ page_title }}</h2>
			</div>
			<div class="card-body m-auto col-12">

				<table id="pubkey_addresses" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="notary">Notary</th>
							<th data-data="chain">Chain</th>
							<th data-data="server">Server</th>
							<th data-data="pubkey">Pubkey</th>
							<th data-data="address">Address</th>
							<th data-data="confirmed">Confirmed</th>
						</tr>
					</thead>
					<tbody>
						{% for item in addresses %}
							<tr>
								<td style="font-size: 1.2em;" data-data="notary">
									<span class='badge p-2'>
										{{ item.notary }}
									</span>
								</td>
								<td style="font-size: 1em;" data-data="chain">
										{{ item.chain }}
								</td>
								<td style="font-size: 1em;" data-data="server">
									{{ item.server }}
								</td>
								<td style="font-size: 1em;" data-data="pubkey">
									<a href='http://{{ request.get_host }}/tools/pubkey_addresses/?pubkey={{ item.pubkey }}'>
										<span class='badge p-1' data-toggle='tooltip' data-placement='top' title='All {{ item.pubkey  }} Addresses'>	
											<i class="fas fa-address-book"></i>								
										</span>
									</a>
								</td>
								<td style="font-size: 1.2em;"  data-data="address">{{ item.address }}</td>
								<td style="font-size: 1.2em;"  data-data="confirmed">
									<span class='badge p-2'>
										{{ item.confirmed }}
									</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
	</div>
    <!-- jquery -->
  
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ explorers|json_script:"explorers-data" }}
  	
  	<script>
	    var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	    $(document).ready(function() {
	        $('#pubkey_addresses').DataTable({
	        	"paging": false,
    			deferRender: true,
                "orderClasses": false,
        		order: [[ 0, 'asc' ],[ 1, 'asc' ],[ 2, 'asc' ]],
	        	"columns": [
			        { "data": "notary" },
			        { "data": "chain" },
			        { "data": "server" },
			        { "data": "pubkey" },
			        { "data": "address" },
			        { "data": "confirmed" }
			    ],
        		"columnDefs": [
	        			{
				            "data": "chain",
				            "targets": 1,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            	var icon = oData.chain.toLowerCase()
				            	if (icon == "wlc21") {
				            		icon = "wlc"
				            	} else if (icon == "gleec-old") {
				            		icon = "gleec"
				            	} else if (icon == "coquicash") {
				            		icon = "coqui"
				            	}
					            $(nTd).html("<span class='badge p-2 mr-auto' style='font-size: 0.9em;'><img height='16' class='mr-2'  src='https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/"+icon+".png' /><a href='//{{ request.get_host }}/coin_profile/"+oData.chain+"/?season={{ season }}'>"+oData.chain+"</a></span>");
					        }
				        },
        			{
			            "data": "server",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.server == "Main") {
			            		color = "#115621";
			            	}
			            	else if (oData.server == "Third_Party") {
			            		color = "#2b53ad";
			            	}
			            	else if (oData.server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html("<span class='badge p-2' style='background-color:"+color+" !important;'>"+oData.server+"</span>");
			        	}
			        },
			        
        			{
			            "data": "address",
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (!(explorers.hasOwnProperty(oData.chain))) {
			            		$(nTd).html("<span class='badge p-2'>"+oData.address+"</span>");	
			            	}
			            	else if (explorers[oData.chain][0].search("cryptoid") > -1) {
			            		$(nTd).html("<a href='"+explorers[oData.chain][0]+'address.dws?'+oData.address+".htm'><span class='badge p-2'>"+oData.address+"</span></a>");	
			            	}
			            	else {
			            		$(nTd).html("<span class='badge p-2'><a href='"+explorers[oData.chain][0]+'address/'+oData.address+"'>"+oData.address+"</span></a>");	
			            	}
			            }
			        }
        		]
	        });
	    });
    </script> 
{% endblock %}
