{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="card m-auto">
			<div class="card-header m-auto col-12">
				<h2>{{ season_clean }} Scoring Epochs</h2>
			</div>
			<div class="card-body m-auto">
				<table id="epochs_tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="season">Season</th>
							<th data-data="server">Server</th>
							<th data-data="epoch">Epoch</th>
							<th data-data="epoch_start">Start</th>
							<th data-data="epoch_end">End</th>
							<th data-data="duration">dPoW Days</th>
							<th data-data="num_chains">Num Chains</th>
							<th data-data="epoch_chains">Chains</th>
							<th data-data="score_per_ntx">Score per Notarisation</th>
						</tr>
					</thead>
					<tbody>
					{% for row in epochs %}
						<tr>
							<td style="font-size: 1.1em;" data-data="season">
								{{ row.season }}
							</td>
							<td style="font-size: 1em;" data-data="server">
								{{ row.server }}
							</td>
							<td style="font-size: 1em;" data-data="epoch">
								{{ row.epoch }}
							</td>
							<td style="font-size: 1em;" class='py-2' data-data="epoch_start">
								<span style="font-size: 0.9em;">{{ row.start_event }}</span>
								{{ row.epoch_start|time:"G:i:s" }} {{ row.epoch_start|date:"M d Y" }}
							</td>
							<td style="font-size: 1em;" class='py-2' data-data="epoch_end">
								<span style="font-size: 0.9em;">{{ row.end_event }}</span>
								{{ row.epoch_end|time:"G:i:s" }} {{ row.epoch_end|date:"M d Y" }}
							</td>
							<td style="font-size: 1em;" data-data="duration">
								{{ row.duration|div:86400|floatformat:0  }}
							</td>
							<td style="font-size: 1em;" data-data="num_chains">
								{{ row.num_epoch_chains }}
							</td>
							</td>
							<td style="font-size: 0.9em;" class='py-2' data-data="epoch_chains">
								<span class='badge p-0' style="border: solid #5a5a5a 1px; border-radius: 50%; background-color: #000;" data-toggle="tooltip" data-placement="top" title="{{ row.epoch_chains }}">
									<i class="fas fa-network-wired" style="color:white;"></i>
								</span>									
							</td>
							<td style="font-size: 1.2em;" data-data="score_per_ntx">
								<span class='badge p-2' style="border: solid #5a5a5a 1px; background-color: #000;">
									{{ row.score_per_ntx }}
								</span>
							</td>
						</tr>
					{% endfor %}
					</tbody>

				</table>
				<h6 style="font-size: 0.8em;"><i>Note: Score for KMD to LTC/BTC notarisations are 0.0325 each</i></h6>
			</div>
		</div>
	</div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#epochs_tbl').DataTable({
	        	"pagination": false,
        		order: [[ 0, 'desc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
	        	"columns": [
			        { "data": "season" },
			        { "data": "server" },
			        { "data": "epoch" },
			        { "data": "epoch_start" },
			        { "data": "epoch_end" },
			        { "data": "duration" },	
			        { "data": "num_chains" },	
			        { "data": "epoch_chains" },	
			        { "data": "score_per_ntx" }
			    ],
	        		"columnDefs": [
	        			{
				            "targets": 0,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            	if (oData.season == "Season_5") {
				            		color = "#1e5ead";
				            	}
				            	else if (oData.season == "Season_5_Testnet") {
				            		color = "#622C7B";
				            	}
				            	else if (oData.season == "Season_4") {
				            		color = "#000";
				            	}
				            	else if (oData.season == "Season_3") {
				            		color = "#8A510D";
				            	}
				            	else if (oData.season == "Season_2") {
				            		color = "#622C7B";
				            	}
				            	else if (oData.season == "Season_1") {
				            		color = "#802F5A";
				            	}
				            	else {
				            		color = "#000";	
				            	}
					            $(nTd).html("<span class='badge p-2' style='border: solid #5a5a5a 1px; background-color:"+color+" !important;'>"+oData.season.replace(/_/g, " ")+"</span>");
					        }
				        },
	        			{
				            "targets": 1,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            	if (oData.server == "Main") {
				            		color = "#115621";
				            	}
				            	else if (oData.server == "Third_Party") {
				            		color = "#2b53ad";
				            	}
				            	else if (oData.server == "Testnet") {
				            		color = "#622C7B";
				            	}
				            	else {
				            		color = "#000";	
				            	}
					            $(nTd).html("<span class='badge p-2' style='border: solid #5a5a5a 1px; background-color:"+color+" !important;'>"+oData.server.replace(/_/g, " ")+"</span>");
					        }
				        },
	        			{
				            "data": 'epoch',
				            "targets": 2,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html("<span class='badge p-2' style='border: solid #5a5a5a 1px; background-color:#000 !important;'>"+oData.epoch+"</span>");
					        }
				        },
	        			{	
				            "data": 'num_chains',
				            "targets": 6,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html("<span class='badge p-2' style='border: solid #5a5a5a 1px; background-color:#000 !important;'>"+oData.num_chains+"</span>");
					        }
				        },
	        			{
				            "data": 'duration',
				            "targets": 5,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html("<span class='badge p-2' style='border: solid #5a5a5a 1px; background-color:#000 !important;'>"+oData.duration+"</span>");
					        }
				        }
	        		]
	        });
	    });
	</script>
{% endblock %}
