{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				{{ season_clean }} Scoring Epochs
			</div>
			<div class="card-body table_card_body flex">
				<table id="epochs_tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="season">Season</th>
							<th data-data="server">Server</th>
							<th data-data="epoch">Epoch</th>
							<th data-data="epoch_start">Start</th>
							<th data-data="epoch_end">End</th>
							<th data-data="duration">dPoW Days</th>
							<th data-data="num_chains">Num Chains</th>
							<th data-data="epoch_chains">Chains</th>
							<th data-data="score_per_ntx">Score per Notarisation</th>
						</tr>
					</thead>
					<tbody>
					{% for row in epochs %}
						<tr>
							<td data-data="season">
								{{ row.season }}
							</td>
							<td data-data="server">
								{{ row.server }}
							</td>
							<td data-data="epoch">
								{{ row.epoch }}
							</td>
							<td class='py-2' data-data="epoch_start">
								{{ row.start_event }}
								{{ row.epoch_start|time:"G:i:s" }} {{ row.epoch_start|date:"M d Y" }}
							</td>
							<td class='py-2' data-data="epoch_end">
								{{ row.end_event }}
								{{ row.epoch_end|time:"G:i:s" }} {{ row.epoch_end|date:"M d Y" }}
							</td>
							<td data-data="duration">
								{{ row.duration|div:86400|floatformat:0  }}
							</td>
							<td data-data="num_chains">
								{{ row.num_epoch_chains }}
							</td>
							</td>
							<td class='py-2' data-data="epoch_chains">
								<span class='p-0' data-toggle="tooltip" title="{{ row.epoch_chains }}">
									<i class="fas fa-network-wired" style="color:white;"></i>
								</span>									
							</td>
							<td data-data="score_per_ntx">
									{{ row.score_per_ntx }}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card-footer table_card_footer flex">
				<i>Note: Score for KMD to LTC/BTC notarisations are 0.0325 each</i>
			</div>
		</div>
	</div>

	<script>
	    $(document).ready(function() {
	        $('#epochs_tbl').DataTable({
	        	"paging": false,
    			deferRender: true,
                "orderClasses": false,
        		order: [[ 0, 'desc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
	        	"columns": [
			        { "data": "season" },
			        { "data": "server" },
			        { "data": "epoch" },
			        { "data": "epoch_start" },
			        { "data": "epoch_end" },
			        { "data": "duration" },	
			        { "data": "num_chains" },	
			        { "data": "epoch_chains" },	
			        { "data": "score_per_ntx" }
			    ],
	        		"columnDefs": [
	        			{
				            "targets": 0,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            	if (oData.season == "Season_5") {
				            		color = "#1e5ead";
				            	}
				            	else if (oData.season == "Season_5_Testnet") {
				            		color = "#622C7B";
				            	}
				            	else if (oData.season == "Season_4") {
				            		color = "#000";
				            	}
				            	else if (oData.season == "Season_3") {
				            		color = "#8A510D";
				            	}
				            	else if (oData.season == "Season_2") {
				            		color = "#622C7B";
				            	}
				            	else if (oData.season == "Season_1") {
				            		color = "#802F5A";
				            	}
				            	else {
				            		color = "#000";	
				            	}
					            $(nTd).html(oData.season.replace(/_/g, " "));
					        }
				        },
	        			{
				            "targets": 1,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            	if (oData.server == "Main") {
				            		color = "#115621";
				            	}
				            	else if (oData.server == "Third_Party") {
				            		color = "#2b53ad";
				            	}
				            	else if (oData.server == "Testnet") {
				            		color = "#622C7B";
				            	}
				            	else {
				            		color = "#000";	
				            	}
					            $(nTd).html(oData.server.replace(/_/g, " "));
					        }
				        },
	        			{
				            "data": 'epoch',
				            "targets": 2,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html(oData.epoch);
					        }
				        },
	        			{
				            "data": 'duration',
				            "targets": 5,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html(oData.duration);
					        }
				        },
	        			{
				            "data": 'num_chains',
				            "targets": 6,
				            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					            $(nTd).html(oData.num_chains);
					        }
				        }
	        		]
	        });
	    });
	</script>
{% endblock %}
