	<div class="btn-group d-flex justify-content-between mb-4 mt-2" role="group" aria-label="region_anchors">
		{% include "components/buttons/anchor_button.html" with btn_text="Asia and Russia" btn_url="#AR" btn_cols="col-2" %}
		{% include "components/buttons/anchor_button.html" with btn_text="Europe" btn_url="#EU" btn_cols="col-2" %}
		{% include "components/buttons/anchor_button.html" with btn_text="North America" btn_url="#NA" btn_cols="col-2" %}
		{% include "components/buttons/anchor_button.html" with btn_text="Southern Hemisphere" btn_url="#SH" btn_cols="col-2" %}
		{% include "components/buttons/anchor_button.html" with btn_text="Developers" btn_url="#DEV" btn_cols="col-2" %}
	</div>