

		<div class="card text-white bg-dark mb-3">
			<div class="card-header p-auto">
			    <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-blue secondary_nav" style="z-index: 9000; background-color: #0000 !important; border:none !important;">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFilterContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle filter">
						<span class="navbar-toggler-icon"></span>
					</button>
      				<div class="collapse navbar-collapse" id="navbarFilterContent">
						<form class="m-auto">
					        <ul class="navbar-nav m-auto">

					            <li class="nav-item m-auto px-2">
									<div class="m-auto p-2">Maker Coin</div>
									 <select class="custom-select custom-select-sm" name="maker_coin" id="maker_coin" multiple>
							            {% if "--ALL--" in selected.maker_coin %}
											<option selected>--ALL--</option>
							            {% else %}
											<option>--ALL--</option>
							            {% endif %}
								            {% if "ALL ANTARA COINS" in selected.maker_coin %}
												<option selected>ALL ANTARA COINS</option>
								            {% else %}
												<option>ALL ANTARA COINS</option>
								            {% endif %}
								            {% if "ALL ERC20 COINS" in selected.maker_coin  %}
												<option selected>ALL ERC20 COINS</option>
								            {% else %}
												<option>ALL ERC20 COINS</option>
								            {% endif %}
								            {% if "ALL UTXO COINS" in selected.maker_coin  %}
												<option selected>ALL UTXO COINS</option>
								            {% else %}
												<option>ALL UTXO COINS</option>
								            {% endif %}
  										<optgroup label="ANTARA COINS">
							              	{% for maker_coin in categorised_coins.ANTARA %}
								              		{% if maker_coin in selected.maker_coin %}
														<option selected>{{ maker_coin }}</option>
								              		{% else %}
														<option>{{ maker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
  										<optgroup label="ERC20 COINS">
							              	{% for maker_coin in categorised_coins.ERC20 %}
								              		{% if maker_coin in selected.maker_coin %}
														<option selected>{{ maker_coin }}</option>
								              		{% else %}
														<option>{{ maker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
  										<optgroup label="UTXO COINS">

							              	{% for maker_coin in categorised_coins.UTXO %}
								              		{% if maker_coin in selected.maker_coin %}
														<option selected>{{ maker_coin }}</option>
								              		{% else %}
														<option>{{ maker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
									</select>
					            </li>


					            <li class="nav-item m-auto px-2">
									<div class="m-auto p-2">Taker Coin</div>
									 <select class="custom-select custom-select-sm" name="taker_coin" id="taker_coin" multiple>
							            {% if "--ALL--" in selected.taker_coin %}
											<option selected>--ALL--</option>
							            {% else %}
											<option>--ALL--</option>
							            {% endif %}
								            {% if "ALL ANTARA COINS" in selected.taker_coin %}
												<option selected>ALL ANTARA COINS</option>
								            {% else %}
												<option>ALL ANTARA COINS</option>
								            {% endif %}
								            {% if "ALL ERC20 COINS" in selected.taker_coin  %}
												<option selected>ALL ERC20 COINS</option>
								            {% else %}
												<option>ALL ERC20 COINS</option>
								            {% endif %}
								            {% if "ALL UTXO COINS" in selected.taker_coin  %}
												<option selected>ALL UTXO COINS</option>
								            {% else %}
												<option>ALL UTXO COINS</option>
								            {% endif %}
  										<optgroup label="ANTARA COINS">
							              	{% for taker_coin in categorised_coins.ANTARA %}
								              		{% if taker_coin in selected.taker_coin %}
														<option selected>{{ taker_coin }}</option>
								              		{% else %}
														<option>{{ taker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
  										<optgroup label="ERC20 COINS">
							              	{% for taker_coin in categorised_coins.ERC20 %}
								              		{% if taker_coin in selected.taker_coin %}
														<option selected>{{ taker_coin }}</option>
								              		{% else %}
														<option>{{ taker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
  										<optgroup label="UTXO COINS">

							              	{% for taker_coin in categorised_coins.UTXO %}
								              		{% if taker_coin in selected.taker_coin %}
														<option selected>{{ taker_coin }}</option>
								              		{% else %}
														<option>{{ taker_coin }}</option>
								              		{% endif %}
							                {% endfor %}
						            	</optgroup>
									</select>
					            </li>

								<li class="nav-item m-auto px-2">
									<div class="m-auto p-2">Taker GUI</div>
								<select class="custom-select custom-select-sm" name="taker_gui" id="taker_gui" multiple>
						            {% if "--ALL--" in selected.taker_gui %}
										<option selected>--ALL--</option>
						            {% else %}
										<option>--ALL--</option>
						            {% endif %}
							            {% if "ALL Android" in selected.taker_gui  %}
											<option selected>ALL Android</option>
							            {% else %}
											<option>ALL Android</option>
							            {% endif %}
							            {% if "ALL iOS" in selected.taker_gui %}
											<option selected>ALL iOS</option>
							            {% else %}
											<option>ALL iOS</option>
							            {% endif %}
							            {% if "ALL Other" in selected.taker_gui %}
											<option selected>ALL Other</option>
							            {% else %}
											<option>ALL Other</option>
							            {% endif %}
									<optgroup label="Android">
						              	{% for taker_gui in categorised_guis.Android %}
						              		{% if taker_gui in selected.taker_gui %}
												<option selected>{{ taker_gui }}</option>
						              		{% else %}
												<option>{{ taker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
									<optgroup label="iOS">
						              	{% for taker_gui in categorised_guis.iOS %}
						              		{% if taker_gui in selected.taker_gui %}
												<option selected>{{ taker_gui }}</option>
						              		{% else %}
												<option>{{ taker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
									<optgroup label="Other">
						              	{% for taker_gui in categorised_guis.Other %}
						              		{% if taker_gui in selected.taker_gui %}
												<option selected>{{ taker_gui }}</option>
						              		{% else %}
												<option>{{ taker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
								</select>
								</li>
								<li class="nav-item m-auto px-2">
									<div class="m-auto p-2">Maker GUI</div>
								<select class="custom-select custom-select-sm" name="maker_gui" id="maker_gui" multiple>
						            {% if "--ALL--" in selected.maker_gui %}
										<option selected>--ALL--</option>
						            {% else %}
										<option>--ALL--</option>
						            {% endif %}
							            {% if "ALL Android" in selected.maker_gui  %}
											<option selected>ALL Android</option>
							            {% else %}
											<option>ALL Android</option>
							            {% endif %}
							            {% if "ALL iOS" in selected.maker_gui %}
											<option selected>ALL iOS</option>
							            {% else %}
											<option>ALL iOS</option>
							            {% endif %}
							            {% if "ALL Other" in selected.maker_gui %}
											<option selected>ALL Other</option>
							            {% else %}
											<option>ALL Other</option>
							            {% endif %}
									<optgroup label="Android">
						              	{% for maker_gui in categorised_guis.Android %}
						              		{% if maker_gui in selected.maker_gui %}
												<option selected>{{ maker_gui }}</option>
						              		{% else %}
												<option>{{ maker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
									<optgroup label="iOS">
						              	{% for maker_gui in categorised_guis.iOS %}
						              		{% if maker_gui in selected.maker_gui %}
												<option selected>{{ maker_gui }}</option>
						              		{% else %}
												<option>{{ maker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
									<optgroup label="Other">
						              	{% for maker_gui in categorised_guis.Other %}
						              		{% if maker_gui in selected.maker_gui %}
												<option selected>{{ maker_gui }}</option>
						              		{% else %}
												<option>{{ maker_gui }}</option>
						              		{% endif %}
						                {% endfor %}
					            	</optgroup>
								</select>
								</li>
								<li class="nav-item m-auto px-2">
									<div class="m-auto p-2">Timespan</div>
								<select class="custom-select custom-select-sm" name="timespan" id="timespan">
								  	{% for span in timespans %}
								  		{% if span in selected.timespan %}
											<option selected>{{ span }}</option>
								  		{% else %}
											<option>{{ span }}</option>
								  		{% endif %}							
								    {% endfor %}
								</select>
								</li>
								{% if not ignore_groupby %}
									<li class="nav-item m-auto px-2">
										<div class="m-auto p-2">Group By</div>
									<select class="custom-select custom-select-sm" name="groupby" id="groupby">
									  	{% for groupby in groupbys %}
									  		{% if groupby in selected.groupby %}
												<option selected>{{ groupby }}</option>
									  		{% else %}
												<option>{{ groupby }}</option>
									  		{% endif %}							
									    {% endfor %}
									</select>
									</li>
								{% endif %}
								<li class="nav-item mt-auto mx-auto px-2 align-bottom">
									<button class="btn btn-dark" type="submit">Update</button>
									<span class="btn btn-dark" action="#" id="reset_btn">Reset</span>
								</li>
					        </ul>
						</form>
					</div>
				</nav>
			</div>
		</div>