{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Season Region Leaders -->
	{% include "components/region_leaders/region_ntx_leaders.html" with stats_data=season_stats_sorted heading='Top Region Notarisation Scores' period='season' %}
	<!-- Season Region Leaders (24hrs) -->
	{% include "components/region_leaders/region_ntx_leaders.html" with stats_data=daily_stats_sorted heading='Top Region Notarisation Scores (24hr)' period='day' %}

	<div class="row my-4">
		<div class="card-deck d-flex justify-content-between col-12 m-auto shadow-none">
			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ dpow_coins_list|length }}</h2>
			    <a href="{% url 'coin_profile_index_view' %}?season={{ season }}">
			    	<p class="card-text">Coins secured by dPoW</p>
				</a>
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ ntx_24hr }}</h2>
			    <a href="{% url 'coins_last_ntx_view' %}?season={{ season }}">
			    	<p class="card-text">Notarisations last 24hrs</p>
				</a>
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ ntx_season }}</h2>
			    <a href="{% url 'coins_last_ntx_view' %}?season={{ season }}">
			    	<p class="card-text">Notarisations {{ season_clean }}</p>
				</a>
			  </div>
			</div>


			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ notaries|length }}</h2>
			    <a href="{% url 'notary_profile_index_view' %}?season={{ season }}">
			    	<p class="card-text">Notary Nodes</p>
				</a>
			  </div>
			</div>

		</div>
	</div>	

	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto shadow-none">

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ mined_24hr|floatformat:-2 }} KMD</h2>
				<a href="{% url 'mining_24hrs_view' %}">
			    	<p class="card-text">KMD Mined last 24hrs</p>
			    </a>
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ mined_season|floatformat:-2 }} KMD</h2>
				<a href="{% url 'mining_overview_view' %}">
			    	<p class="card-text">KMD Mined {{ season_clean }}</p>
			    </a>
			  </div>
			</div>
			
			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h2 class="card-title">{{ biggest_block.value|floatformat:-2 }} KMD</h2>
			    <p class="card-text">
				    <a href="{% url 'mining_overview_view' %}?season={{ season }}">
				    	Season Largest KMD Block Mined
					</a>
			    </p>
			  </div>
			</div>

		</div>
	</div>	

	<div class="row col-12 my-2">
		<div class="card m-auto">
		    <div class="card-body">
		    	<p class="card-text text-center m-2">
		    		<h3>Notary Resources</h3>
			    	<a href="https://developers.komodoplatform.com/" class="btn btn-dark4 m-2">DEV DOCS</a>
			    	<a href="https://github.com/komodoplatform/dpow" class="btn btn-dark4 m-2">DPOW GUIDE</a>
			    	<a href="https://github.com/KomodoPlatform/dPoW/blob/dev/doc/bible.md" class="btn btn-dark4 m-2">DPOW BIBLE</a>
			    	<a href="https://docs.komodoplatform.com/notary/setup-Komodo-Notary-Node.html" class="btn btn-dark4 m-2">NOTARY NODE SETUP</a>
		    	</p>
		    	<p class="card-text m-2">
		    		<h3>Community Websites</h3>
		    		<a href="https://www.dexstats.info" class="btn btn-dark4 m-2">DEXSTATS</a>
			    	<a href="https://komodod.com/" class="btn btn-dark4 m-2">KOMODOD EXPLORER</a>
			    	<a href="https://notarystats.info/" class="btn btn-dark4 m-2">NOTARYSTATS</a>
			    	<a href="https://komodostats.com/nn" class="btn btn-dark4 m-2">KOMODOSTATS</a>
			    	<a href="https://dpow.io" class="btn btn-dark4 m-2">DPOW.IO NN STATS</a>
        			<a class="btn btn-dark4 m-2" href="https://ikomodo.com/"> iKomodo</a>
		    	</p>			    
		    </div>
		</div>
	</div>	

{% endblock %}
