			{% if hide %}
			<div id="date_selection" style="display:none; height:30px;">
			{% else %}
			<div id="date_selection" style="height:30px;">
			{% endif %}
				<form class="m-0" id="datepicker_form">
				    <div class="form-row justify-content-center">
				        <div class="form-group">
						    <div class="input-group mb-2">
							    <div class="input-group-prepend prepend-label-left">
							      	<span class="input-group-text">
							      		Date
							      	</span>
								</div>
								<input class="day_date_picker" type="text" id="day_date" name="day_date" value="{{ day_date }}" autocomplete="off" />				
								<input type="hidden" id="day_date_ts" name="day_date_ts" value="{{ day_date_ts }}">
							</div>
						</div>
					</div>
				</form>
			</div>