
<form action="#" method="post" class="col-12 m-auto px-0 py-1">
    {% csrf_token %}
    <div class="input-group my-1" >
        <div class="input-group-prepend prepend-label-left p-0 col-1">
          <span class="input-group-text prepend-span">
              Address
          </span>
        </div>
        <input type="text" class="form-control col-7 mr-auto" id="address" name="address" placeholder="RTUfq3PgPPMVY1YZa3P18icFNDsHpicKLe">
        <div class="ml-auto input-group-prepend prepend-label-left p-0 col-1">
            <span class="input-group-text prepend-span">
                  Coin
            </span>
        </div>
        <select class="form-control col-1" id='coin' name="coin" style='width: 160px;'>
            {% for coin in faucet_coins_list %}
              <option value="{{ coin }}">{{ coin }}</option>
            {% endfor %}
        </select>
        <div class="input-group-append p-0">
            <button class="append-btn px-4" type="submit">Drip</button>
        </div>
    </div>
</form>
