
				<form class="m-0" id="datepicker_form">
				    <div class="form-row justify-content-center">
				        <div class="form-group">
						    <div class="input-group mb-2">
							    <div class="input-group-prepend prepend-label-left">
							      	<span class="input-group-text">
							      		Date
							      	</span>
								</div>
								<input class="month_date_picker" type="text" id="month_date" name="month_date" value="{{ month_date }}" autocomplete="off" />				
								<input type="hidden" id="month_date_ts" name="month_date_ts" value="{{ month_date_ts }}">
							</div>
						</div>
					</div>
				</form>