<div class="input-group mb-3">
	<div class="input-group-prepend prepend-label-left p-0" >
		<span class="input-group-text">
			{{ prepend_text }}
		</span>
	</div>
	<input type="search" class="form-control m-auto" id="{{ input_id }}" name="{{ input_id }}" placeholder="{{ placeholder_text }}" value="{{ text }}">
	<div class="input-group-append append-label-right p-0">
		{% if action %}
			<div onclick="{{ action }}" class="append-btn">
				<span class="input-group-text">
					{{ append_btn_text }}
				</span>
			</div>
		{% else %}
			<button class="append-btn">{{ append_btn_text }}</button>
		{% endif %}
	</div>
</div>