
	<script>
	{% autoescape off %}
		$(document).ready( function () {
		    $('#table_id').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'csv', 'print'
				]
			} );
		} );
		$(document).ready( function () {
		    $('#table_id2').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'csv', 'print'
				]
			} );
		} );
		$(document).ready( function () {
		    $('#table_id3').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'csv', 'print'
				]
			} );
		} );
		$(document).ready( function () {
		    $('#table_id4').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'csv', 'print'
				]
			} );
		} );
	{% endautoescape %}
	</script>	