{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- TODO: Pending delegation to crons and db table -->
	<!-- TODO: Page is HIDDEN, and BROKEN -->
	<div class="row col-12 m-auto" style="color:#b9b5b5;">
		<div class="card m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0 mt-auto shadow-none">
				<div class="card-body  p-0">
					<p class="card-text">
						<ul class="list-group">
						  <li class="list-group-item border-0">
						  	<span data-toggle="tooltip" data-placement="left" data-html="true" title="" data-original-title="
						  	<h4 class='kmd_teal'>{{ sync_count }}/{{ coin_count }} ({{ sync_pct }}%) coins are sufficiently funded</h4>">
	                            <a class="dropdown-item d-block" href="#">
	                                <div class="mb-1">
	                                    <i class="cil-layers"></i> Coins with matching sync blockhashes (Sync node vs Explorers)
	                                </div>
	                                <span class="progress">
	                                    <div class="progress-bar kmd_secondary_green_bg" role="progressbar" style="width: {{ sync_pct }}%" aria-valuenow="{{ sync_pct }}" aria-valuemin="0" aria-valuemax="100">{{ sync_pct }}%</div>
	                                </span>
	                                <small class="text-uppercase text-muted">{{ sync_count }}/{{ coin_count }} coins have matching sync block hashes</small>
	                            </a>
	                        </span>								    
						  </li>
						</ul> 						
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-12 m-auto">
		<div class="card table_card m-auto">
			<div class="card-header table_card_title">
				{{ season }}dPoW Coins Sync Block Hash Comparison
				<span>Last updated: {{ last }}</span>
			</div>
			<div class="card-body table_card_body">
				<table id="coin_sync_table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>COIN</th>
							<th>SYNC BLOCK</th>
							<th>SYNC HASH</th>
							<th>DEXSTATS HASH</th>
							<th>STATUS</th>
							<th>TIME SINCE SYNC</th>
						</tr>
					</thead>
					<tbody>
						{% for coin, data in coin_sync_data.items %}
							{% if "last_" not in coin %}
								<tr>
									<td>{{ coin }}</td>
									<td>{{ data.last_sync_block }}</td>
									<td>{{ data.last_sync_blockhash }}</td>
									<td>{{ data.last_sync_dexhash }}</td>
									{% if data.last_sync_dexhash == data.last_sync_blockhash %}
										<td class="kmd_secondary_green">Matching</td>
									{% elif data.last_sync_dexhash == 'no data' %}
										<td class="kmd_secondary_orange">Insufficient data</td>
									{% elif not data.last_sync_dexhash or not data.last_sync_blockhash or not data.last_sync_block %}
										<td class="kmd_secondary_orange">Awaiting data</td>
									{% else %}
										<td class="kmd_secondary_red">Potential Fork!</td>
									{% endif %}
									<td>{{ data.last_sync_timestamp }}</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

  	<script>  
	    $(document).ready(function() {
	        $('#coin_sync_table').DataTable({
    			deferRender: true,
                "orderClasses": false,
    			"paging": true,
        		order: [[ 0, 'asc' ]],
	        	"columns": [
			        { "data": "coin" },
			        { "data": "last_sync_block" },
			        { "data": "last_sync_blockhash" },
			        { "data": "last_sync_dexhash" },
			        { "data": "status" },
			        { "data": "last_sync_timestamp" },
			        
			    ],
        		"columnDefs": [
			        
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.coin));
				        }
        			},
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.last_sync_blockhash))				            
				        }
			        },
        			{
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.last_sync_dexhash))
				        }
			        },
        			{
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.last_sync_timestamp));
				        }
			        },
        		]
	        });
	    });
  </script> 

{% endblock %}
