{% extends "base.html" %}
{% load static %}
{% block content %}

	<h2 class="m-auto kmd_ui_light3">{{ season_clean }} dPoW Coin Profiles</h2>

	{% for button, params in buttons.items %}
		{% include "components/buttons/action_button.html" with action=params.action width_pct=params.width_pct text=params.text btn_id=button active="Main" %}
	{% endfor %}

	{% for server, coins in dpow_coins_dict.items %}
		{% if server == 'Main' %}
		<div id="{{ server }}" class="section-anchor">
		{% else %}
		<div id="{{ server }}" class="section-anchor" style="display: none;">
		{% endif %}

			<div class="row m-1 d-flex justify-content-between">
	        	{% for coin in coins %}
	            	{% include "components/cards/coin_card.html" %}
	            {% endfor %}
	        </div>
	    </div>
	{% endfor %}

{% endblock %}

