{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="text-center" id="loading-spinner" style="height: 100%">
	  <div class="spinner-border m-10" role="status">
	    <span class="visually-hidden">Loading...</span>
	  </div>
	  <div class="m-3">Loading...</div>
	</div>
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-auto" id="mined_24hr_card" style="visibility: hidden; font-size: 1.1em;" >
			<div class="card-header table_card_title">
				KMD Mined Last 24hrs
			</div>
			<div class="card-body table_card_body">
				<table id="mined_24hr_tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="name">MINED BY</th>
							<th data-data="block_height">BLOCK HEIGHT</th>
							<th data-data="address" style="display: none">ADDRESS</th>
							<th data-data="value">VALUE</th>
							<th data-data="txid" style="display: none">TXID</th>
							<th data-data="block_time">LAST MINED</th>
						</tr>
					</thead>
					<tbody>
					{% for row in mined_24hrs %}
						<tr>
							<td data-data="name">{{ row.name }}</td>
							<td data-data="block_height">{{ row.block_height }}</td>
							<td style="font-size: 0em;" data-data="address" style="display: none">{{ row.address }}</td>
							<td data-data="value">{{ row.value }}</td>
							<td style="font-size: 0em;" data-data="txid" style="display: none">{{ row.txid }}</td>
							<td data-data="block_time">{{ row.block_time }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
	    $(document).ready(function() {
	    	$('#loading-spinner').css('display', 'none');
	    	$('#mined_24hr_card').css('visibility', 'visible');
	        $('#mined_24hr_tbl').DataTable({
				deferRender: true,
	        	"paging": false,
	        	"searching": false,
	        	"info": false,
                "orderClasses": false,
        		order: [[ 0, 'desc' ]],
        		"columnDefs": [
        			{ className: "text-left text-nowrap", "targets": [ 0 ] },
        			{ className: "text-right text-nowrap", "targets": [ 2, 4 ] },
        			{
			            "data": 'name',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='https://komodod.com/a/"+oData.address+"'>"+oData.name+"</a>");
				        }
			        },
        			{
			            "data": 'block_height',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url("KMD", oData.block_height))
				        }
			        },
        			{
			            "data": 'address',
			            "targets": 2,
		                "visible": false
			        },
        			{
			            "data": 'value',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='https://komodod.com/t/"+oData.txid+"'>"+oData.value+"</a>");
				        }
			        },
        			{
			            "data": 'txid',
			            "targets": 4,
		                "visible": false
			        },
        			{
			            "data": 'block_time',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.block_time));
				        }
			        }
			    ],
                // Custom DataTables search filter input styling
				"initComplete": function (settings, json) {
	            }
	        });
	    });
	</script>
{% endblock %}
