{% extends "base2.html" %}
{% block content %}
	<div class="container-fluid">
		<div id="ui-view">
			<div class="fade-in">
				<div class="card kmd_ui_light4">
					<div class="card-header kmd_ui_dark1_bg"> {{ table_title }}
						<div class="card-header-actions">
							<a class="card-header-action" href="https://datatables.net" target="_blank"><small class="text-muted">docs</small></a>
						</div>
					</div>
					<div class="card-body kmd_ui_dark1_bg">
						<table id="table_id" class="table table-striped table-bordered kmd_ui_light4 m-auto" style="width:99%"  data-ajax="{% url 'ntxChainSeasonViewSet-list' %}?format=datatables">
							<thead>
								<tr>
									<th data-data="chain">CHAIN</th>
									<th data-data="ntx_count">NOTARISATIONS</th>
									<th data-data="block_height">KMD BLOCK</th>
									<th data-data="kmd_ntx_blocktime">KMD BLOCK TIME</th>
									<th data-data="kmd_ntx_txid">KMD TXID</th>
									<th data-data="ac_ntx_height">dPoW BLOCK</th>
									<th data-data="ntx_lag">LAG</th>
									<th data-data="season">SEASON</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>																								
			</div>
		</div>
	</div>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#table_id').DataTable({
        		order: [[ 7, 'desc' ], [ 2, 'desc' ], [ 0, 'asc' ]]
	        });
	    });
	</script>
{% endblock %}