{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				Get Addresses for Pubkey
			</div>
			<div class="card-body table_card_body">
				<form>
					{% include "components/form/text_input_line.html" with prepend_text="Enter Pubkey" input_id="pubkey" placeholder_text=pubkey append_btn_text="Get Addresses" %}
				</form>
				{% if pubkey %}
					{% if address_rows %}
					<table id="pubkey_addresses" class="table table-striped table-bordered m-auto" style="width:99%; visibility: hidden;">
						<thead>
							<tr>
								<th data-data="coin">Coin</th>
								<th data-data="pubtype">Pubtype</th>
								<th data-data="p2shtype">P2shtype</th>
								<th data-data="wiftype">WifType</th>
								<th data-data="address">Address</th>
							</tr>
						</thead>
						<tbody>
							{% for item in address_rows %}
								<tr>
									<td class="text-nowrap text-left" data-data="coin">{{ item.coin }}</td>
									<td data-data="pubtype">{{ item.pubtype }}</td>
									<td data-data="p2shtype">{{ item.p2shtype }}</td>
									<td data-data="wiftype">{{ item.wiftype }}</td>
									<td data-data="address">{{ item.address }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>  
  	{{ explorers|json_script:"explorers-data" }}
    {{ coin_icons|json_script:"coin_icons-data" }}
	{% if address_rows %}
  	<script>
	    $(document).ready(function() {
	    	$('#pubkey_addresses').css('visibility', 'visible');
	       	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	    	var coin_icons = JSON.parse(document.getElementById('coin_icons-data').textContent);
	        $('#pubkey_addresses').DataTable({
	        	"paging": true,
    			deferRender: true,
                "orderClasses": false,
	            "pageLength": 50,
        		order: [[ 0, 'asc' ]],
	        	"columns": [
			        { "data": "coin" },
			        { "data": "pubtype" },
			        { "data": "p2shtype" },
			        { "data": "wiftype" },
			        { "data": "address" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.coin));
				        }
			        },
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.pubtype);
				        }
			        },
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.p2shtype);
				        }
			        },
        			{
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.wiftype);
				        }
			        },
        			{
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_address_url(oData.coin, oData.address));
			            }
			        }
        		]
	        });
	    });
    </script> 
    {% endif %}
{% endblock %}
