{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				{{ page_title }}
			</div>
			<div class="card-body table_card_body">
				<form>
					{% include "components/form/text_input_line.html" with prepend_text="Enter Pubkey" input_id="pubkey" placeholder_text=pubkey append_btn_text="Get Scripthash" %}
				</form>
				{% if resp_rows %}
					{% for item in resp_rows %}

						{% if item.key|lower == 'p2pk' %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_href="https://komodoplatform.com/en/blog/p2pk-pay-to-pubkey/" prepend_text=item.key|lower prepend_tooltip="Pay to Pubkey" input_value=item.value input_id=item.value|slugify %}

						{% elif item.key|lower == 'p2pkh' %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_href="https://komodoplatform.com/en/blog/p2pkh-pay-to-pubkey-hash/" prepend_text=item.key|lower prepend_tooltip="Pay to Pubkey Hash" input_value=item.value input_id=item.value|slugify %}

						{% elif item.key|lower == 'p2pkh scripthash' or item.key|lower == 'p2pk scripthash' %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_href="https://electrumx-spesmilo.readthedocs.io/en/latest/protocol-basics.html#script-hashes" prepend_text=item.key|lower prepend_tooltip="Used to Query Electrum Servers" input_value=item.value input_id=item.value|slugify %}

						{% elif item.key|lower == 'pubkey' %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_href="https://learnmeabitcoin.com/beginners/public_keys" prepend_text=item.key|lower input_value=item.value input_id=item.value|slugify %}

						{% elif item.key|lower == 'address' %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_href="https://learnmeabitcoin.com/technical/address" prepend_text=item.key|lower input_value=item.value input_id=item.value|slugify %}

						{% else %}
							{% include "components/form/readonly_copyable_input_line.html" with prepend_text=item.key|lower input_value=item.value input_id=item.value|slugify %}

						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>	
	</div>  	
{% endblock %}
