{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card">
			<div class="card-header table_card_title flex floating-card">
				{{ season_clean }} dPoW Coin Launch Parameters
			</div>
			<div class="card-body table_card_body">
				<div class="m-auto" style="width:inherit;">
				{% for item in launch_param_rows %}

				    <div class="input-group mb-1 mx-auto">
					    <div class="input-group-prepend prepend-label-left p-0 col-2 text-left">
					        <span class="input-group-text col-12">
						      	<a class="" href='/coin_profile/{{ item.coin }}'>
									{% for coin, icon in coin_icons.items %}
										{% if coin == item.coin %}
			                        		<img height="16px" class="mr-2" src="{{ icon }}" />
			                        	{% endif %}
									{% endfor %}
			                        {{ item.coin }}
								</a>
							</span>
					    </div>
				    	<input type="text" class="form-control m-auto" id="{{ item.coin }}_params" value="{{ item.launch_params }}" readonly>
					    <div class="input-group-append p-0">
							<button class="append-btn" data-clipboard-target="#{{ item.coin }}_params">
							    {% include 'components/icons/copy_icon.html' %}
							</button>
					    </div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
