{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row" id="">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card floating-card m-0">
			<div class="card-header table_card_title floating-card">
				<h2>Decode Notarisation OP_RETURN Data</h2>
			</div>
			<div class="card-body table_card_body">
				<form>
					{% include "components/form/text_input_line.html" with prepend_text="Enter OP_RETURN" input_id="OP_RETURN" placeholder_text=OP_RETURN append_btn_text="Decode" %}
				</form>
				{% if opret_rows %}
					{% for item in opret_rows %}
						{% include "components/form/readonly_copyable_input_line.html" with prepend_text=item.key|title input_value=item.value input_id=item.value|slugify %}
					{% endfor %}
				{% endif %}
			</div>
		</div>	
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			if ('{{ OP_RETURN }}' == '') {
				$('#OP_RETURN').attr("placeholder", "Enter OP_RETURN")
			}
		})
	</script>
</div>
{% endblock %}
