{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card">
			<div class="card-header table_card_title flex floating-card">
				{{ page_title }}
			</div>
			<div class="card-body table_card_body">
				<div class="card-body">
					<form>
						<row class="m-2">
							<div class="m-auto col-12 p-auto">
							    <div class="input-group col-12 m-auto ">
								    <div class="input-group-prepend prepend-label-left col-1 p-0 text-left" style="background-color: #162330">
								        <span class="input-group-text col-12" style="white-space: pre-wrap; align-self: center;">
							        		Raw Hex
										</span>
								    </div>
								    <div class="col-11 px-0">
			  							<textarea class="form-control rawtx-field" rows="12" name="tx_hex" id="comment" style="background-color: #0d0f1b; border: solid #101010 1px; border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em;">
			  							</textarea>
									</div>
								</div>
							</div>
						</row>
						<!-- Dropdown -->
						<row class="m-2">
							<div class="input-group col-12">
								<div class="col-3">
								</div>
							    <div class="input-group-prepend prepend-label-left p-0 col-1" >
							        <span class="input-group-text col-12">
							      	    Coin
							        </span>
							    </div>
								<select class="form-control col-2" id='coin' name="coin">
								{% for x in smartchain_coins_list %}
									{% if x == coin %}
								    	<option value='{{ x }}' selected>
									    	{{ x }}
									    </option> 
								    {% else %}
								    	<option value='{{ x }}'>
									    	{{ x }}
									    </option> 
								    {% endif %}
								{% endfor %}
								</select>
								<div class="col-1">
								</div>
								{% include 'components/buttons/submit_button.html' with btn_txt='Send'  extra_classes='col-2' %}
								<div class="col-3">
								</div>
							</div>
						</row>
					</form>
				</div>
			</div>	
		</div>
	</div>

	<script>


		function remove_node(id) {
			$(id).remove()
		}

		function addAddress_Row (id) {
			num_rows = $(id).children().length;
			out_row = 'address_row_'+num_rows
			out_id = 'output_amount_'+num_rows
			$(id).append('<div class="row" id="'+out_row+'"> \
								<div class="input-group mb-3 col-9"> \
								    <div class="input-group-prepend p-0" > \
								        <span class="input-group-text  " style="color:white; border: solid grey 1px !important; line-height: 1em;"> \
								      	    To {{ coin }} Address \
								        	<i onclick="remove_node(\'#'+out_row+'\')" class="fas fa-times-circle pl-2 m-0" style="font-size: 0.8em;"></i> \
								        </span> \
								    </div> \
								    <input type="text" class="form-control m-auto" id="address_id" name="to_address" style="border: solid grey 1px !important; font-size: 1em; line-height: 0.7em; text-align: center; min-width: 34em"> \
								</div> \
								<div class="input-group mb-3 col-3"> \
								    <div class="input-group-prepend p-0" > \
								        <span class="input-group-text" style="color:white; border: solid grey 1px !important; line-height: 1em;"> \
								      	    Amount \
								        </span> \
								    </div> \
								    <input type="text" onchange="sanitize_outputs()" class="form-control m-0 " id="'+out_id+'" name="output_amount" value="0" style="border: solid grey 1px !important; font-size: 1em; line-height: 0.7em; text-align: center;" value=""> \
								    <div class="input-group-append p-0  "> \
										<button class="append-btn" type="button" onclick="spendMax(\'#'+out_id+'\')" style="line-height: 1em; border: solid grey 1px !important;"> \
										    Max \
										</button> \
								    </div> \
								</div> \
							</div>');
		}

		function floorRound (num, num_dec) {
		    var dp = parseInt("1" + "0".repeat(num_dec));
		    num = parseFloat(num)
			num = Math.floor(num * dp);
		    return num / dp;
		}

		function get_fees(coin='KMD', size=80, sat_per_byte=10) {
			return 0.0001
		}

		function get_unallocated(address_rows) {
			sum_selected = floorRound(parseFloat($("#sum_selected").html()), 5)
			sum_outputs = get_sum_outputs(address_rows)
			fees = get_fees()
			unallocated = sum_selected - sum_outputs - fees
			return unallocated
		}

		function spendMax(id) {
			unallocated = get_unallocated($(id).parent())
			output_amount = parseFloat($(id).val())
			$(id).val(floorRound(output_amount+unallocated,5))
			sanitize_outputs()
		}

		function get_sum_outputs(address_rows) {
			num_rows = $(address_rows).children().length;
			sum_outputs = 0
			for (var i = 0; i < num_rows; i++) {
				output_amount = $("#output_amount_"+i).val()
				if (!($.isNumeric(output_amount))) {
					output_amount = 0
					$("#output_amount_"+i).val(0)
				}
				sum_outputs += parseFloat(output_amount)
			}
			return floorRound(sum_outputs,5)
		}

    	function zero_NaN(num) {
			if (!($.isNumeric(output_amount))) {
				return 0
			}
			else {
				return parseFloat(num)
			}

    	}

		function sanitize_outputs(address_rows='#output_addresses') {
			console.log("dsa")
			sum_selected = floorRound(parseFloat($("#sum_selected").html()),5)
			sum_outputs = get_sum_outputs(address_rows)
			fee_val = sum_selected - sum_outputs
			$("#fee_val").html(floorRound(fee_val,5))
			$("#total_val").html(sum_outputs+fee_val)
			/* if fees > 0.001 , red text warning, disable submit */
			/* if remaining < 0 , red text warning, disable submit */		
		}
	</script>

  	<script>
	    $(document).ready(function() {
	    	$('#utxo_table').css('visibility', 'visible');
	        var utxo_table = $('#utxo_table').DataTable({
    			deferRender: true,
                "orderClasses": false,
	            "paging": false,
       			"bInfo" : false,
       			"bFilter": false,
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
        		"columnDefs": [
			        {
			            "data": "txid",
		                "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.txid);
				        }
		            },
        			{
			            "data": "vout",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.vout);
				        }
			        },
        			{
			            "data": "amount",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.amount);
				        }
			        },
        			{
			            "data": "confirmations",
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.confirmations);
			        	}
			        },
        			{
			            "data": "rewards",
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.rewards);
			        	}
			        },
        			{
			            "data": "scriptPubKey",
			            "targets": 5,
			            "visible": false,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.scriptPubKey);
			        	}
			        }
        		],
				"initComplete": function (settings, json) {
					console.log('init')
				    this.api().columns([2,3]).every(function () {
				        var column = this;
				        console.log(column.data())
				        console.log(column)
				        var sum = column
				           .data()
				           .reduce(function (a, b) { 
				               a = parseFloat(a, 10);
				               if(isNaN(a)){ a = 0; }
				               
				               b = parseFloat(b, 10);
				               if(isNaN(b)){ b = 0; }
				               
				               return a + b;
				           });
						console.log(sum)
				        $(column.footer()).html('Total: ' + floorRound(sum, 5));
				    });
				},
	        });
	        $('#selected_utxo_table').DataTable({
    			deferRender: true,
                "orderClasses": false,
	            "paging": false,
       			"bInfo" : false,
       			"bFilter": false,
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
        		"columnDefs": [
			        {
			            "data": "txid",
		                "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_txid_url({{ coin }}, oData.txid));
				        }
		            },
        			{
			            "data": "vout",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.vout);
				        }
			        },
        			{
			            "data": "amount",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.amount);
				        }
			        }
        		],
	        });
		    $('#utxo_table tbody').on( 'click', 'tr', function () {
		        $(this).toggleClass('selected');
		        var inputs = []
		        var sum_selected = 0
		        utxo_table.rows('.selected').every(function(){
		        	inputs.push(this.data().txid+'|'+parseInt(this.data().vout)+'|'+parseFloat(this.data().amount)+'|'+this.data().scriptPubKey)
				    sum_selected += parseFloat(this.data().amount)
				});
				$("#hidden_inputs").val(inputs)
				$("#sum_selected").html(floorRound(sum_selected,5))
			});
    		$('#coin').select2();

	    });
  </script> 
{% endblock %}
