{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				Convert Coin Addresses
			</div>
			<div class="card-body table_card_body">
				<form>
					{% include "components/form/text_input_line.html" with prepend_text="Enter Address" input_id="address" placeholder_text=address append_btn_text="Get Converted Addresses" %}
				</form>
				{% if address %}
					{% if address_rows %}
						<table id="converted_addresses" class="table table-striped table-bordered m-auto" style="width:99%; visibility: hidden;">
							<thead>
								<tr>
									<th data-data="coin">Coin</th>
									<th data-data="address">Address</th>
								</tr>
							</thead>
							<tbody>
								{% for item in address_rows %}
									<tr>
										<td class="text-nowrap text-left" data-data="coin">{{ item.coin }}</td>
										<td data-data="address">{{ item.address }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				{% endif %}
			</div>
		</div>	
	</div>
  	{% if address_rows %}
  	<script>
	    $(document).ready(function() {
	    	$('#converted_addresses').css('visibility', 'visible');
	        $('#converted_addresses').DataTable({
	        	"paging": true,
    			deferRender: true,
                "orderClasses": false,
	            "pageLength": 50,
        		order: [[ 0, 'asc' ]],
	        	"columns": [
			        { "data": "coin" },
			        { "data": "address" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_coin_icon(oData.coin))
				        }
			        },
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_address_url(oData.coin, oData.address));
			            }
			        }
        		]
	        });
	    });
    </script> 
    {% endif %}
{% endblock %}
