{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="m-auto kmd_ui_light3">{{ season_clean }} Notary Node Profiles</h2>

	{% include 'components/buttons/action_buttons_row.html' with buttons=buttons %}
	
	{% for selected_region, info in nn_regions.items %}
		{% if region == selected_region %}
			<div id="{{ selected_region }}" class="section-anchor">
		{% else %}
			<div id="{{ selected_region }}" class="section-anchor"	 style="display: none;">
		{% endif %}
				<div class="row m-1 d-flex justify-content-between">	
			    	{% for node in info.nodes %}
			    		{% include "components/cards/notary_card.html" %}
			        {% endfor %}
				</div>	
			</div>
	{% endfor %}
{% endblock %}

