{% extends "base.html" %}
{% load coin_filter %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				Best Orders for {{ coin }}
			</div>
			<div class="card-body table_card_body flex">
				<form style="visibility: hidden;" class="d-flex justify-content-between col-12 mx-auto my-4" id="select_base_rel">
					<!-- Dropdown --> 
					<div class="col-4">
					</div>
					<div class="input-group" class="col-3">
					    <div class="input-group-prepend prepend-label-left p-0 col-3" >
					        <span class="input-group-text col-12">
					      	    Coin
					        </span>
					    </div>
						<select class="form-control col-8" id='coin' name="coin" style='width: 160px;'>
						{% for mm2_coin in mm2_coins %}
							{% if coin == mm2_coin %}
						    	<option value='{{ mm2_coin }}' selected>
							    	{{ mm2_coin }}
							    </option> 
						    {% else %}
						    	<option value='{{ mm2_coin }}'>
							    	{{ mm2_coin }}
							    </option> 
						    {% endif %}
						{% endfor %}
						</select>
					</div>
							<button class="btn-dark4" type="submit">
							    Update
							</button>
					<div class="col-4">
					</div>

				</form>
				<table style="visibility: hidden;" id="bids" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="coin">Coin</th>
							<th data-data="price">Price</th>
							<th data-data="min_volume">{{ coin }} Min Volume</th>
							<th data-data="maxvolume">{{ coin }} Max Volume</th>
						</tr>
					</thead>
					<tbody>
					{% for row in bestorders %}
						<tr>
							<td data-data="coin" class="text-left m-auto">{{ row.coin }}</td>
							<td data-data="price">{{ row.price|floatformat:-8 }}</td>
							<td data-data="minvolume">{{ row.min_volume|floatformat:-8 }}</td>
							<td data-data="maxvolume">{{ row.maxvolume|floatformat:-8 }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">

	    $(document).ready(function() {
	    	$('#select_base_rel').css('visibility', 'visible');
	    	$('#bids').css('visibility', 'visible');
	    	$('#asks').css('visibility', 'visible');
	        $('#bids').DataTable({
  				"pageLength": 50,
        		order: [[ 2, 'desc' ]],	
        		"columnDefs": [
        			{
			            "data": 'coin',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.coin));
				        }
        			},
			    ]
	        });
	    	$('#asks').css('visibility', 'visible');
	        $('#asks').DataTable({
  				"pageLength": 50,
        		order: [[ 2, 'asc' ]],
        		"columnDefs": [
			    ]
	        });
    		$('#coin').select2();
	    });
	</script>
{% endblock %}
