{% extends "base.html" %}
{% block content %}
<!-- TODO: Align with new API format -->
	<div class="row my-3 col-5 m-auto">
		<div class="card text-center kmd_ui_light3 col-12 px-0">
			<div class="card-footer">
			 	Swap Data Filter
			</div>
			<div class="card-body">
			    <form>
				    {% include 'components/form/input_timespan.html' %}
					<row>
					    <div class="input-group col-12">
					    	<div class="col-8">
				    		    {% include 'components/form/dropdown_since.html' %}
							</div>
					    	<div class="col-4">
				    		    {% include 'components/buttons/btn_update.html' %}
						    </div>
						</div>
					</row>
			    </form>
			</div>
		</div>
	</div>
	{% include 'components/tables/atomicdex/table_gui_stats.html' %}
	{% include 'components/graphs/graph_gui_stats.html' %}

{% endblock %}
