{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="card m-auto">
			<div class="card-header flex">
				<h2>{{ page_title }}</h2>
				<row>
					<form class="d-flex justify-content-between col-12 m-auto" id="select_base_rel">
						<!-- Dropdown --> 
						<div class="col-2">
						</div>
						<div class="input-group">
						    <div class="input-group-prepend prepend-label-left p-0 col-3" >
						        <span class="input-group-text col-12">
						      	    Taker
						        </span>
						    </div>
							<select class="form-control col-2" id='taker_coin' name="taker_coin" style='width: 160px;'>
							{% for coin in mm2_coins %}
								{% if coin == taker_coin %}
							    	<option value='{{ coin }}' selected>
								    	{{ coin }}
								    </option> 
							    {% else %}
							    	<option value='{{ coin }}'>
								    	{{ coin }}
								    </option> 
							    {% endif %}
							{% endfor %}
							</select>
						</div>
						<div class="input-group">
						    <div class="input-group-prepend prepend-label-left p-0 col-3" >
						        <span class="input-group-text col-12">
						      	    Maker
						        </span>
						    </div>
							<select class="form-control col-2" id='maker_coin' name="maker_coin" style='width: 160px;'>
							{% for coin in mm2_coins %}
								{% if coin == maker_coin %}
							    	<option value='{{ coin }}' selected>
								    	{{ coin }}
							    	</option> 
							    {% else %}
							    	<option value='{{ coin }}'>
								    	{{ coin }}
							    	</option> 
							    {% endif %}
							{% endfor %}
							</select>
						</div>

						<input type="submit" class='btn-dark-4 btn sm-2' value="Update">
						<div class="col-2">
						</div>

					</form>
				</row>		
			</div>			
			<div class="card-body flex">
				<table style="visibility: hidden;" id="last_swaps_tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="taker_coin">Taker Coin</th>
							<th data-data="maker_coin">Maker Coin</th>
							<th data-data="taker_amount">Taker Amount</th>
							<th data-data="maker_amount">Maker Amount</th>
							<th data-data="taker_gui">Taker GUI</th>
							<th data-data="maker_gui">Maker GUI</th>
							<th data-data="timestamp">Timestamp</th>
						</tr>
					</thead>
					<tbody>
					{% for row in last_200_swaps %}
						<tr>
							<td class="text-left m-auto" data-data="taker_coin">{{ row.taker_coin }}</td>
							<td class="text-left m-auto" data-data="maker_coin">{{ row.maker_coin }}</td>
							<td data-data="taker_amount">{{ row.taker_amount }}</td>
							<td data-data="maker_amount">{{ row.maker_amount }}</td>
							<td data-data="taker_gui">{{ row.taker_gui }}</td>
							<td data-data="maker_gui">{{ row.maker_gui }}</td>
							<td style="font-size: 0.9em" data-data="timestamp">{{ row.time_stamp }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ icons|json_script:"icons-data" }}

	<script type="text/javascript">
	    $(document).ready(function() {
	    	var icons = JSON.parse(document.getElementById('icons-data').textContent);
	    	$('#last_swaps_tbl').css('visibility', 'visible');
	        $('#last_swaps_tbl').DataTable({
			    buttons: [
			        {
			            extend: 'csv',
			            text: 'Export CSV',
			            exportOptions: {
			                modifier: {
			                    search: 'none'
			                }
			            }
			        }
			    ],
  				"pageLength": 50,
        		order: [[ 6, 'desc' ]],
        		"columnDefs": [
        			{
			            "data": 'taker_coin',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (icons.hasOwnProperty(oData.taker_coin)) {
				            	$(nTd).html("<img height='16px' class='mr-2' src='"+icons[oData.taker_coin]+"' />"+oData.taker_amount+" "+oData.taker_coin);
				            }
				            else {
				            	$(nTd).html("<img height='16px' class='mr-2' src='//{{ request.get_host }}/static/img/notary/icon/blank.png' />"+oData.taker_amount+" "+oData.taker_coin);				            	
				            }
				        }
			        },
        			{
			            "data": 'maker_coin',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (icons.hasOwnProperty(oData.maker_coin)) {
				            	$(nTd).html("<img height='16px' class='mr-2' src='"+icons[oData.maker_coin]+"' />"+oData.maker_amount+" "+oData.maker_coin);
				            }
				            else {
				            	$(nTd).html("<img height='16px' class='mr-2' src='//{{ request.get_host }}/static/img/notary/icon/blank.png' />"+oData.maker_amount+" "+oData.maker_coin);				            	
				            }
				        }
			        },
        			{
			            "data": 'taker_amount',
			            "targets": 2,
		                "visible": false
			        },
        			{
			            "data": 'maker_amount',
			            "targets": 3,
		                "visible": false
			        },
        			{
			            "data": 'taker_gui',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	gui = oData.taker_gui
			            	gui = gui.replace(/Android/ig, '<i class="cib-android-alt"></i> <i class="cil-mobile"></i>')
			            	gui = gui.replace(/iOS/ig, '<i class="cib-apple"></i> <i class="cil-mobile"></i>')
			            	gui = gui.replace(/-beta/ig, '')
			            	gui = gui.replace(/Darwin/ig, '<i class="cib-apple"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/Windows/ig, '<i class="cib-windows"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/Linux/ig, '<i class="cib-linux"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/AtomicDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/DogeDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/SmartDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/GleecDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/FiroDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/ShibaDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/BitcoinZ Dex/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/Unknown/ig, '?')
				            $(nTd).html(gui);
				        }
			        },
        			{
			            "data": 'maker_gui',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	gui = oData.maker_gui
			            	gui = gui.replace(/Android/ig, '<i class="cib-android-alt"></i> <i class="cil-mobile"></i>')
			            	gui = gui.replace(/iOS/ig, '<i class="cib-apple"></i> <i class="cil-mobile"></i>')
			            	gui = gui.replace(/-beta/ig, '')
			            	gui = gui.replace(/Darwin/ig, '<i class="cib-apple"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/Windows/ig, '<i class="cib-windows"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/Linux/ig, '<i class="cib-linux"></i> <i class="cil-screen-desktop"></i>')
			            	gui = gui.replace(/AtomicDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/DogeDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/SmartDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/GleecDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/ShibaDEX/ig, '<i class="cib-atom"></i>')
			            	gui = gui.replace(/BitcoinZ Dex/ig, '<i class="cib-atom"></i>')			            	
			            	gui = gui.replace(/Unknown/ig, '?')
				            $(nTd).html(gui);
				        }
			        },
        			{
			            "data": 'timestamp',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {


			            	ts = oData.timestamp*1000
			            	dt = new Date(ts).toLocaleString("en-US")

				            $(nTd).html(dt);
				        }
			        }
			    ],
                // Custom DataTables search filter input styling
				"initComplete": function (settings, json) {
	            }
	        });
    		$('#maker_coin').select2();
    		$('#taker_coin').select2();
	    });
	</script>
{% endblock %}
