{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
		<div class="card col-12 m-0 p-0">
			<div class="card-header flex">
				<h2>{{ season_clean }} MM2 Version Status (last 24hrs)</h2>
				From <input class="dt_picker" type="text" id="start" value="" /> 
				to <input class="dt_picker" type="text" id="end" value="" />


			</div>
			<div class="card-body flex">
				<div class="graph_container" style="height:1300px;">
					<canvas id="myChart"></canvas>
				</div>
			</div>
			<div class="card-footer flex">
				<h6><i></i></h6>
			</div>
		</div>
	</div>
<script>
	{% autoescape off %}
	url = "/api/atomicdex/version_stats_by_hour/?chart=1&start={{start}}&end={{end}}"

	$('#start').val(local_date_str('{{start_str}}'))
	$('#end').val(local_date_str('{{end_str}}'))
	{% endautoescape %}

	var myChart;
	get_versionData(url)


	$('#start').on('change', function () {
	    update_chart()
	});
	
	$('#end').on('change', function () {
	    update_chart()
	});
</script>
{% endblock %}
