{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 m-auto p-0 m-0">
		<div class="card table_card floating-card m-0">
			<div class="card-header table_card_title">
				<span class="mx-1">MM2 Version Hourly Stats {{ stats_date }}</span>				
			</div>
			<div class="card-body table_card_body pb-0 px-3" style="overflow-x: auto;">
				{% include 'components/form/date_selection.html' %}
				{% include 'components/tables/seednode_hourly_table.html' %}
			</div>
			<div class="card-footer">
				<i>Times are in UTC. The current active mm2 version: {{ active_version }} </i>
			</div>
		</div>
	</div>
	
{% endblock %}
