
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-0" id="mined-overview_card" style="visibility: hidden;">
			<div class="card-body table_card_body">
				<table style="font-size: 1.1em;" id="mined-overview-tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="px-4" data-data="name">Miner Name</th>
							<th data-data="address">Address</th>
							<th data-data="blocks_mined">Blocks Mined</th>
							<th data-data="sum_value_mined">Sum Mined</th>
							<th data-data="max_value_mined">Biggest Block</th>
							<th data-data="max_value_txid">Biggest Block TXID</th>
							<th data-data="last_mined_block">Last Block</th>
							<th data-data="last_mined_blocktime">Last Mined</th>
						</tr>
					</thead> 
				</table>
			</div>
		</div>
	</div>
	<script>
	    $(document).ready(function() {
			const dom = '{% include "components/tables/dt_dom.html" with table="mined-overview" %}'
	    	let url = "/api/table/mined_count_season/?season={{ season }}"
	        $('#mined-overview-tbl').DataTable({
         		ajax: {
				    url: url,
        			dataSrc: 'results',
        			"deferRender": true
				},
	        	"paging": true,
	        	"info": true,
                "orderClasses": false,
        		order: [[ 5, 'desc' ], [ 0, 'asc' ]],
	        	"columns": [
			        { "data": "name" },
			        { "data": "address" },
			        { "data": "blocks_mined" },
			        { "data": "sum_value_mined" },
			        { "data": "max_value_mined" },
			        { "data": "max_value_txid" },
			        { "data": "last_mined_block" },
			        { "data": "last_mined_blocktime" }
			    ],
        		order: [[ 6, 'desc' ]],
        		"columnDefs": [
        			{ className: "text-left text-nowrap", "targets": [ 0 ] },
        			{ className: "text-right text-nowrap", "targets": [ 2,3, 4, 7 ] },
        			{
			            "data": 'name',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.name == oData.address) {
				            	$(nTd).html("<span style='font-size: 0.9em;'><a href='https://komodod.com/a/"+oData.address+"'>"+oData.name+"</a></span>");
			            	} else {
			            		$(nTd).html("<a href='https://komodod.com/a/"+oData.address+"'>"+oData.name+"</a>");
			            	}
				        }
			        },
		            {
			            "data": 'address',
		                "targets": 1,
		                "visible": false
		            },
        			{
			            "data": 'blocks_mined',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='{% url 'notary_mining_view' %}"+oData.name+"'>"+oData.blocks_mined+"</a>");
				        }
			        },
        			{
			            "data": 'sum_value_mined',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='{% url 'notary_mining_view' %}"+oData.name+"'>"+oData.sum_value_mined+"</a>");
				        }
			        },
        			{
			            "data": 'max_value_mined',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='https://komodod.com/t/"+oData.max_value_txid+"'>"+oData.max_value_mined+"</a>");
				        }
			        },
        			{
			            "data": 'max_value_txid',
			            "targets": 5,
		                "visible": false
			        },
        			{
			            "data": 'last_mined_block',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='https://komodod.com/b/"+oData.last_mined_block+"'>"+oData.last_mined_block+"</a>");
				        }
			        },
        			{
			            "data": 'last_mined_blocktime',
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.last_mined_blocktime));
				        }
			        }
			    ],
        		dom: dom,
		        fnInitComplete: function(){
	    			$('#mined-overview_card').css('visibility', 'visible');
		            $('.mined-overview-tbl-title').html('<h3 class="">{{ season_clean }} Mining Overview</h3>');
		            let api_btn = get_api_button("mined-overview", 100, url, "Source Data")
		            $('.mined-overview-api-link').html(api_btn);
		        }
	        });
    		
	    });
	</script>