{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-0">
			<div class="card-header table_card_title flex">
				Last dPoW Notarisation by Coin
			</div>
			<div class="card-body table_card_body py-0">
				<table style="visibility: hidden;" id="last_notarised_tbl" class="table table-striped table-bordered"  data-ajax="{% url 'coinLastNtxViewSet-list' %}?format=datatables">
					<thead>
						<tr>
							<th data-data="coin">Coin</th>
							<th data-data="server">Server</th>
							<th data-data="ac_ntx_height">AC Height</th>
							<th data-data="kmd_ntx_blockheight">Height</th>
							<th data-data="kmd_ntx_txid">TXID</th>
							<th data-data="notaries">Notaries</th>
							<th data-data="kmd_ntx_blocktime">Time Since</th>
							<th data-data="ac_ntx_blockhash">NTX'd Hash</th>
							<th data-data="season">Season</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="card-footer">
				<div id="coins_last_ntx_api_link"></div>
			</div>
		</div>
	</div>

  	<script>
	    $(document).ready(function() {
	    	$('#last_notarised_tbl').css('visibility', 'visible');
	        $('#last_notarised_tbl').DataTable({
				deferRender: true,
	        	"paging": false,
	        	"searching": false,
	        	"info": false,
	            "orderClasses": false,
	        	"columns": [
			        { "data": "coin" },
			        { "data": "server" },
			        { "data": "ac_ntx_height" },
			        { "data": "kmd_ntx_blockheight" },
			        { "data": "kmd_ntx_txid" },
			        { "data": "notaries" },
			        { "data": "kmd_ntx_blocktime" },
			        { "data": "ac_ntx_blockhash" },
			        { "data": "season" }
			    ],
        		order: [[ 3, 'desc' ]],
        		"columnDefs": [
    				{ className: "text-left text-nowrap", "targets": [ 0 ] },
    				{ className: "text-right text-nowrap", "targets": [ 2,3,6 ] },
        			{
			            "data": "coin",
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_coin_icon(oData.coin));
				        }
			        },
        			{
			            "data": "server",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_server_styled(oData.server))
			        	}
			        },
        			{
			            "data": 'ac_ntx_height',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.coin == "LTC")
			            	{
			            		$(nTd).html(get_block_url("KMD", oData.ac_ntx_height))
			            	}
			            	else{
			            		$(nTd).html(get_block_url(oData.coin, oData.ac_ntx_height))
			            	}
			            	
				        }
			        },
	        		{
			            "data": 'kmd_ntx_blockheight',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.coin == "LTC")
			            	{
			            		$(nTd).html(get_block_url("LTC", oData.kmd_ntx_blockheight))
			            	}
			            	else{
			            		$(nTd).html(get_block_url("KMD", oData.kmd_ntx_blockheight))
			            	}
				        }
			        },
        			{
			            "data": 'kmd_ntx_txid',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            		$(nTd).html(get_txid_url("KMD", oData.kmd_ntx_txid))
				        }
			        },
        			{
			            "data": 'notaries',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							$(nTd).html(get_notaries_symbol('{{ season }}', oData.notaries, oData.kmd_ntx_txid))
						}
			        },
        			{
			            "data": 'kmd_ntx_blocktime',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            		$(nTd).html(get_time_since(oData.kmd_ntx_blocktime));
				        }
			        },
        			{
			            "data": 'ac_ntx_blockhash',
			            "targets": 7,
            			"visible": false
			        }
        		]
	        });
	        let endpoint = '{% url 'coinLastNtxViewSet-list' %}?format=datatables'
            $("#coins_last_ntx_api_link").html('<i>Link to API data: <a href="'+endpoint+'">'+endpoint+'</a></i>')
	    });

  </script> 

{% endblock %}
