{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Awaiting review -->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0 mt-auto shadow-none">
				<div class="card-body  p-0">
					<p class="card-text">
						<!--
						<p>{{ notary_funding }}</p>
						<p>{{ bot_balance_deltas }}</p>
						-->
						<ul class="list-group">
						  <li class="list-group-item border-0">
						  	<span data-toggle="tooltip" data-placement="left" data-html="true" title="" data-original-title="
						  	<h4 class='kmd_teal'>{{ num_ok_balance_addresses }}/{{ num_addresses }} ({{ addresses_funded_pct }}%) coins are sufficiently funded</h4>
							<h5 class='kmd_secondary_red'>{{ num_low_balance_addresses }} addresses have a low balance </h5>">
	                            <a class="dropdown-item d-block" href="#">
	                                <div class="mb-1">
	                                    <i class="cil-layers"></i> Addresses Funding
	                                </div>
	                                <span class="progress">
	                                    <div class="progress-bar kmd_secondary_green_bg" role="progressbar" style="width: {{ addresses_funded_pct }}%" aria-valuenow="{{ addresses_funded_pct }}" aria-valuemin="0" aria-valuemax="100">{{ addresses_funded_pct }}%</div>
	                                </span>
	                                <small class="text-uppercase text-muted">{{ num_ok_balance_addresses }}/{{ num_addresses }} notary addresses with sufficient funding</small>
	                            </a>
	                        </span>								    
						  </li>
						  <li class="list-group-item border-0">
						  	<span data-toggle="tooltip" data-placement="left" data-html="true" title="" data-original-title="
						  	<h4 class='kmd_teal'>{{ ok_balance_coins|length }}/{{ coin_list|length }} ({{ coins_funded_pct }}%) coins are sufficiently funded</h4>
							<h5 class='kmd_secondary_green'>{{ ok_balance_coins }}<br /> are sufficiently funded with all notaries</h5>
							<h5 class='kmd_secondary_orange'>{{ no_data_coins }}<br /> are not returning data</h5>
							<h5 class='kmd_secondary_red'>{{ low_balance_coins }}<br /> have at least 1 notary with a low balance </h5>">
	                            <a class="dropdown-item d-block" href="#">
	                                <div class="mb-1">
	                                    <i class="cil-layers"></i> dPoW Coins Funding
	                                </div>
	                                <span class="progress">
	                                    <div class="progress-bar kmd_secondary_green_bg" role="progressbar" style="width: {{ coins_funded_pct }}%" aria-valuenow="{{ coins_funded_pct }}" aria-valuemin="0" aria-valuemax="100">{{ coins_funded_pct }}%</div>
	                                </span>
	                                <small class="text-uppercase text-muted">{{ ok_balance_coins|length }}/{{ coin_list|length }} dPoW coins with sufficient funding for all notaries</small>
	                            </a>
	                        </span>								    
						  </li>
						  <li class="list-group-item border-0">
						  	<span data-toggle="tooltip" data-placement="left" data-html="true" title="" data-original-title="
						  	<h4 class='kmd_teal'>{{ ok_balance_notaries|length }}/{{ notaries|length }} ({{ notaries_funded_pct }}%) coins are sufficiently funded</h4>
							<h5 class='kmd_secondary_green'>{{ ok_balance_notaries }}<br /> have sufficient balance on all coins</h5>
							<h5 class='kmd_secondary_red'>{{ low_balance_notaries }}<br /> have a low balance on at least 1 coin</h5>">
	                            <a class="dropdown-item d-block" href="#">
	                                <div class="mb-1">
	                                    <i class="cil-balance-scale"></i> Notary Funding
	                                </div>
	                                <span class="progress">
	                                    <div class="progress-bar kmd_secondary_green_bg" role="progressbar" style="width: {{ notaries_funded_pct }}%" aria-valuenow="{{ notaries_funded_pct }}" aria-valuemin="0" aria-valuemax="100">{{ notaries_funded_pct }}%</div>
	                                </span>
	                                <small class="text-uppercase text-muted">{{ ok_balance_notaries|length }}/{{ notaries|length }} Notaries with sufficient funding on all coins</small>
	                            </a>
	                        </span>								    
						  </li>
						  <li class="list-group-item border-0">
							<span class='kmd_secondary_orange'>{{ no_data_coins }} are not returning data</span>
						  </li>
						</ul> 						
					</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card">
				<div class="card-header flex">
					{{ notary }} LOW BALANCE ADDRESSES<br />
					Last updated: {{ last_balances_update }} ago
	                <h5>Reference only - still in testing</h5>
				</div>
				<div class="card-body">
					<table id="table_id" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>NOTARY</th>
								<th>COIN</th>
								<th>ADDRESS</th>
								<th>BALANCE</th>
							</tr>
						</thead>
						<tbody>
							{% for notary, notary_data in low_nn_balances.items %}
								{% for coin, coin_data in notary_data.items %}
									<tr>
										{% if coin == "KMD_3P" %}
										<td>{{ notary }}</td>
										<td>KMD</td>
										<td style="text-transform: none;">{{ coin_data.address }}</td>
										<td>{{ coin_data.balance }} (3P)</td>
										{% else %}
										<td>{{ notary }}</td>
										<td>{{ coin }}</td>
										<td style="text-transform: none;">{{ coin_data.address }}</td>
										<td>{{ coin_data.balance }}</td>
										{% endif %}
									</tr>
								{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0">
				<div class="card-header  d-flex justify-content-between">
					<div class="my-auto">
						Number of coins with low balance
					</div>
					<div>
					    <span class="badge m-2 p-2">AR <i class="fa fa-circle" aria-hidden="true" style="color:#dc0333"></i></span>
					    <span class="badge m-2 p-2">EU <i class="fa fa-circle" aria-hidden="true" style="color:#2fea8b"></i></span>
					    <span class="badge m-2 p-2">NA <i class="fa fa-circle" aria-hidden="true" style="color:#b541ea"></i></span>
					    <span class="badge m-2 p-2">SH <i class="fa fa-circle" aria-hidden="true" style="color:#00e2ff"></i></span>
					    <span class="badge m-2 p-2">DEV <i class="fa fa-circle" aria-hidden="true" style="color:#f7931a"></i></span>
					</div>
				</div>
				<div class="card-body">
					<span id="graph_title"></span>
				    <canvas id="CoinsBarGraph"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center  kmd_ui_light3 col-12 px-0">
				<div class="card-header  d-flex justify-content-between">
					<div class="my-auto">
						Number of Notaries with low balance
					</div>
					<div>
					    <span class="badge m-2 p-2 ">MAIN <i class="fa fa-circle" aria-hidden="true" style="color:#115621"></i></span>
					    <span class="badge m-2 p-2 ">3RD PARTY <i class="fa fa-circle" aria-hidden="true" style="color:#2b53ad"></i></span>
					    <span class="badge m-2 p-2 ">BTC / KMD <i class="fa fa-circle" aria-hidden="true" style="color:#F7931A"></i></span>
					</div>
				</div>
				<div class="card-body">
					<span id="graph_title"></span>
				    <canvas id="NotaryBarGraph"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	

    {{ coin_low_balance_notary_counts|json_script:"low_coin-data" }}
    {{ notary_low_balance_coin_counts|json_script:"low_notary-data" }}

  	<script>  
	    $(document).ready(function() {
	        $('#table_id').DataTable({
    			deferRender: true,
                "orderClasses": false,
    			"paging": true,
	        	"columns": [
			        { "data": "notary" },
			        { "data": "coin" },
			        { "data": "address" },
			        { "data": "balance" }
			    ],
        		order: [[ 0, 'asc' ], [ 0, 'asc' ], [ 1, 'asc' ]],
        		"columnDefs": [
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (!(explorers.hasOwnProperty(oData.coin))) {
			            		$(nTd).html(oData.address);	
			            	}
			            	else if (explorers[oData.coin][0].search("cryptoid") > -1) {
			            		$(nTd).html("<a href='"+explorers[oData.coin][0]+'address.dws?'+oData.address+".htm'>"+oData.address+"</a>");	
			            	}
			            	else {
			            		$(nTd).html("<a href='"+explorers[oData.coin][0]+'address/'+oData.address+"'>"+oData.address+"</a>");	
			            	}
				        }
			        },
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"'>"+oData.notary+"</a>");
				        }
        			},
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/coin_profile/"+oData.coin+"'>"+oData.coin+"</a>");
				        }
        			}
        		]
	        });
	       	var coins_data = JSON.parse(document.getElementById('low_coin-data').textContent);
   	        drawCoinsBarGraph(coins_data, 'CoinsBarGraph'); 

	       	var notary_data = JSON.parse(document.getElementById('low_notary-data').textContent);
   	        drawNotaryBarGraph(notary_data, 'NotaryBarGraph'); 

	    });

		
		

	    function drawNotaryBarGraph(data, id) { 
          {% autoescape off %}
			var labels = {{ notary_balance_graph_data.labels }}; 
			var chartLabel = ''; 
			var chartdata = {{ notary_balance_graph_data.chartdata }}; 
			var bg_color = {{ notary_balance_graph_data.bg_color }}; 
			var border_color = {{ notary_balance_graph_data.border_color }};
          {% endautoescape %}

			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
						    scaleLabel: {
						        display: true,
						        labelString: 'Number of Notaries with a low balance',
				            	fontColor: '#B7BBBF'
						    },
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    }
						}],
						xAxes: [{
							position: 'nearest',
							padding: 0,
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
	    function drawCoinsBarGraph(data, id) { 
          {% autoescape off %}

			var labels = {{ coin_balance_graph_data.labels }}; 
			//var chartLabel = {{ coin_balance_graph_data.chartLabel }};
			var chartLabel = ''; 
			var chartdata = {{ coin_balance_graph_data.chartdata }}; 
			var bg_color = {{ coin_balance_graph_data.bg_color }}; 
			var border_color = {{ coin_balance_graph_data.border_color }};
          {% endautoescape %}
			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
						    scaleLabel: {
						        display: true,
						        labelString: 'Number of coins with a low balance',
				            	fontColor: '#B7BBBF'
						    },
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    }
						}],
						xAxes: [{
							position: 'nearest',
							padding: 0,
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
  </script> 

{% endblock %}
