{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="row col-12 m-0" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-0">
            {% include "components/profile_stats/notary_ntx_stats.html" %}
            {% include "components/cards/notary_profile_card.html" %}
            {% include "components/profile_stats/mining_stats.html" %}
		</div>
	</div>

	<div class="row">
		<div class="card-deck d-flex justify-content-around col-12 m-0">
			{% for button, params in buttons.items %}
				{% include "components/buttons/action_button.html" with action=params.action width_pct=params.width_pct text=params.text btn_id=button %}
			{% endfor %}
		</div>
	</div>

	{% include 'components/tables/notary_season_ntx_table.html' %}
	{% include 'components/tables/notary_24hr_ntx_table.html' %}
	{% include 'components/tables/notary_last_coin_ntx_table.html' %}
	{% include 'components/tables/notary_mined_season_table.html' %}
<!--	{% include 'components/graphs/notary_balances_bargraph.html' %} -->
	{% include 'components/tables/notary_balances_table.html' %} 

{% endblock %}
