{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="row col-12 m-0" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-0">
            {% include "components/profile_stats/notary_ntx_stats.html" %}
            {% include "components/cards/notary_profile_card.html" %}
            {% include "components/profile_stats/mining_stats.html" %}
		</div>
	</div>

	<div class="row">
		<div class="card-deck d-flex justify-content-around col-12 m-0">
			{% include "components/buttons/anchor_button.html" with btn_url="#ntx" width_pct="17" btn_text="Notarisations" %}
			{% include "components/buttons/anchor_button.html" with btn_url="#ntx_24hr" width_pct="17" btn_text="Notarisations (24hrs)" %}
			{% include "components/buttons/anchor_button.html" with btn_url="#balance" width_pct="17" btn_text="Balances" %}
			{% include "components/buttons/anchor_button.html" with btn_url="#addresses" width_pct="17" btn_text="Addresses" %}
		</div>
	</div>

	{% include 'components/tables/notary_season_ntx_table.html' %}
	{% include 'components/tables/notary_ntx_24hr_table.html' %}
	{% include 'components/tables/notary_last_coin_ntx_table.html' %}
	{% include 'components/tables/notary_mined_season_table.html' %}
	{% include 'components/graphs/notary_balances_bargraph.html' %}
	{% include 'components/tables/notary_balances_table.html' %}

{% endblock %}
