{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Notary Coin Notarisation Details -->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card shadow-none">
				<div class="card-body">
					<table id="ntx_table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th data-data="txid">TXID</th>
								<th data-data="ac_ntx_height">Notarised Block</th>
								<th data-data="block_height">Notarisation Block</th>
								<th data-data="block_time">Time since NTX</th>
								<th data-data="score_value">Score</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>	
		</div>
	</div>

  	<script>  
	    $(document).ready(function() {
	    	let url = "/api/table/notary_ntx/?season={{ season }}&server={{ server }}&notary={{ notary }}&coin={{ coin }}"
	        var ntxTable = $('#ntx_table').DataTable({
	     		ajax: {
				    url: url,
	    			dataSrc: 'results',
	    			"deferRender": true
				},
        		order: [[ 3, 'desc' ]],
                "orderClasses": false,
    			"paging": true,
	        	"columns": [
			        { "data": "txid" },
			        { "data": "ac_ntx_height" },
			        { "data": "block_height" },
			        { "data": "block_time" },
			        { "data": "score_value" }
			    ],
        		"columnDefs": [
        			{
			            "data": 'txid',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_txid_url(oData.coin, oData.txid));
				        }
			        },
        			{
			            "data": 'ac_ntx_height',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.ac_ntx_height))
				        }
			        },
        			{
			            "data": 'block_height',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.block_height))
					    }
			        },
        			{
			            "data": 'block_time',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.block_time));
				        }
			        },
        			{
			            "data": 'score_value',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(oData.score_value);
				        }
			        },
        		],
	    		dom: '<"row mx-0 mt-3 "<"ntx_detail_tbl_title col-md-6 text-left">f>tr<"row mx-0 my-2 d-flex justify-content-between"<"ntx_detail_api_link">ip>',
		        fnInitComplete: function(){
		           $('.ntx_detail_tbl_title').html('<h3 class="text-left">{{ season_clean }} {{ notary }} {{ coin }} Notarisations</h3>');
		            let api_btn = '{% include "components/buttons/api_link_button.html" with btn_id="ntx_deatail" width_pct="100" btn_url="'+url+'" btn_text="Source Data" %}'
		            $('.ntx_detail_api_link').html(api_btn);
		        }
	        });
	    });
  </script> 

{% endblock %}
