{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Notary Coin Notarisation Details -->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card shadow-none">
				<div class="card-header flex">
					<h4>{{ season_clean }} {{ notary }} {{ coin }} Notarisations</h4>
				</div>
				<div class="card-body">
					<table id="ntx_table" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th data-data="txid">TXID</th>
								<th data-data="ac_ntx_height">Notarised Block</th>
								<th data-data="block_height">Notarisation Block</th>
								<th data-data="block_time">Time since NTX</th>
								<th data-data="score_value">Score</th>
							</tr>
						</thead>
						<tbody>
							{% for item in coin_ntx %}
								<tr>
									<td data-data="txid" style="font-size: 0.9em;">{{ item.txid }}</td>
									<td data-data="ac_ntx_height">{{ item.ac_ntx_height }}</td>
									<td data-data="block_height">{{ item.block_height }}</td>
									<td data-data="block_time" style="font-size: 0.9em;">{{ item.block_time }}</td>
									<td data-data="score_value">{{ item.score_value }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>

  	<script>  
	    $(document).ready(function() {
	        var ntxTable = $('#ntx_table').DataTable({
        		order: [[ 3, 'desc' ]], 
    			deferRender: true,
                "orderClasses": false,
    			"paging": true,
	        	"columns": [
			        { "data": "txid" },
			        { "data": "ac_ntx_height" },
			        { "data": "block_height" },
			        { "data": "block_time" },
			        { "data": "score_value" }
			    ], 
        		"columnDefs": [
        			{
			            "data": 'txid',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_txid_url(oData.coin, oData.txid));
				        }
			        },
        			{
			            "data": 'ac_ntx_height',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.ac_ntx_height))
				        }
			        },
        			{
			            "data": 'block_height',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.block_height))
					    }
			        },
        			{
			            "data": 'block_time',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.block_time));
				        }
			        },
        			{
			            "data": 'score_value',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(oData.score_value);
				        }
			        },
        		]
	        });
	    });
  </script> 

{% endblock %}
