{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 m-auto">	
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				{{ notary_clean }} {{ season_clean }} {{ coin }} Notarisations
			</div>
			<div class="card-body table_card_body flex">
				<table id="ntx_24hr_tbl" class="table table-striped table-bordered m-auto" style="width:99%; visibility: hidden;" data-ajax="{% url 'notarisedViewSet-list' %}?format=datatables{{ filter_params }}">
					<thead>
						<tr>
							<th class="px-2 py-2" data-data="coin">Coin</th>
							<th class="px-2 py-2" data-data="epoch">Epoch</th>
							<th class="px-2 py-2" data-data="block_height">Block Height</th>
							<th class="px-2 py-2 text-nowrap" data-data="ac_ntx_height">Notarised Height</th>
							<th class="px-2 py-2" data-data="txid">Transaction</th>
							<th class="px-2 py-2" data-data="notaries">Notaries</th>
							<th class="px-2 py-2" data-data="opret">OP RETURN</th>
							<th class="px-2 py-2" data-data="block_time">Time Since</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>

	<script>
	    $(document).ready(function() {
		    $('#ntx_24hr_tbl').css('visibility', 'visible');
	        var tbl = $('#ntx_24hr_tbl').DataTable({
         		ajax: {
        			"deferRender": true
				},
        		order: [[ 7, 'desc' ]],
    			deferRender: true,
   				"paging": true,
   				"pageLength": 100,
                "orderClasses": false,
        		"columnDefs": [
        			{ className: "fw-14pct", "targets": [ 5 ] },
        			{ className: "text-nowrap", "targets": [ 0, 7 ] },
        			{ className: "text-left text-nowrap", "targets": [ 0 ] },
        			{
			            "data": 'coin',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.coin));
				        }
			        },
        			{
			            "data": 'epoch',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_epoch_styled(oData.epoch));
				        }

			        },
        			{
			            "data": 'block_height',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url("KMD", oData.block_height))
				        }
			        },
        			{
			            "data": 'ac_ntx_height',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.ac_ntx_height))
				        }
			        },
        			{
			            "data": 'txid',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_txid_url("KMD", oData.txid))
				        }
			        },
        			{
			            "data": 'notaries',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							$(nTd).html(get_notaries_symbol('{{ season }}', oData.notaries, oData.txid))
						},
			        },
        			{
			            "data": 'opret',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	let op_return = (oData.opret.split(" ").length > 1) ? oData.opret.split(" ")[1] : oData.opret
							let icon = "<i class='fas fa-arrow-right'></i>"
							let tooltip = "Decode OP_RETURN: "+op_return
							let url = "{% url 'decode_op_return_view' %}?OP_RETURN="+op_return+"&season={{ season }}"
				            $(nTd).html(get_detail_link_icon(icon, tooltip, url));
				        } 
			        },
        			{
			            "data": 'block_time',
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.block_time));
				        }
			        }
			    ]
	        });
			tbl.column( 5 ).visible( true );
	    });

	</script>
{% endblock %}
