{% extends "base.html" %}
{% load static %}
{% block content %}
<!--
	Loads slow, not in sidebar, table too wide.

 -->
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-0">
			<div class="card-header table_card_title">
				{{ notary }} {{ page_title }}
			</div>
			<div class="card-body table_card_body">
				<table style="visibility: hidden;" id="notary_mining_tbl" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th data-data="block_height">BLOCK HEIGHT</th>
							<th data-data="value">VALUE</th>
							<th data-data="txid">TXID</th>
							<th data-data="block_time">Blocktime</th>
						</tr>
					</thead>
					<tbody>
					{% for row in notary_mining %}
						<tr>
							<td data-data="block_height">{{ row.block_height }}</td>
							<td data-data="value">{{ row.value }}</td>
							<td data-data="txid">{{ row.txid }}</td>
							<td data-data="block_time">{{ row.block_time }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
	    $(document).ready(function() {
	    	$('#notary_mining_tbl').css('visibility', 'visible');
	        $('#notary_mining_tbl').DataTable({
				deferRender: true,
	        	"paging": false,
	        	"searching": false,
	        	"info": false,
                "orderClasses": false,
			    buttons: [
			        {
			            extend: 'csv',
			            text: 'Export CSV',
			            exportOptions: {
			                modifier: {
			                    search: 'none'
			                }
			            }
			        }
			    ],
        		order: [[ 0, 'desc' ]],
        		"columnDefs": [
        			{
			            "data": 'block_height',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_block_url(oData.coin, oData.block_height))
				        }
			        },
        			{
			            "data": 'value',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_txid_url(oData.coin, oData.txid));
				        }
			        },
        			{
			            "data": 'txid',
			            "targets": 2,
				            $(nTd).html(get_txid_url(oData.coin, oData.txid));
			        },
        			{
			            "data": 'block_time',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.block_time));
				        }
			        }
			    ]
	        });
	    });
	</script>
{% endblock %}
