{% extends "base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
	<div class="row col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title flex">
				{{ season_clean }} Coin Notarisation Tenure
			</div>
			<div class="card-body table_card_body flex">
				<table id="notarisations" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Coin</th>
							<th>Server</th>
							<th>Scored NTX</th>
							<th>Unscored NTX</th>
							<th>First Ntx Time</th>
							<th>Last Ntx Time</th>
							<th>Ntx Days</th>
						</tr>
					</thead>
					<tbody>
						{% for item in tenure_data %}
							<tr>
								<td data-data="coin" class="px-2 text-left">{{ item.coin }}</td>
								<td data-data="server">{{ item.server }}</td>
								<td data-data="scored_ntx_count">{{ item.scored_ntx_count }}</td>
								<td data-data="unscored_ntx_count">{{ item.unscored_ntx_count }}</td>
								<td data-data="first_ntx_block_time">{{ item.official_start_block_time }}</td>
								<td data-data="last_ntx_block_time">{{ item.official_end_block_time }}</td>
								<td data-data="num_sec">{{ item.ntx_days|floatformat:-2 }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
	</div>
  	<script>
	    $(document).ready(function() {
	        $('#notarisations').DataTable({  "pageLength": 50,
        		order: [ 0, 'asc' ],
	        	"pagination": false,
    			deferRender: true,
                "orderClasses": false,
	        	"columns": [
			        { "data": "coin" },
			        { "data": "server" },
			        { "data": "scored_ntx_count" },
			        { "data": "unscored_ntx_count" },
			        { "data": "first_ntx_block_time" },
			        { "data": "last_ntx_block_time" },	
			        { "data": "num_sec" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.coin));
				        }
			        },
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_server_styled(oData.server))
				        }
			        },
        			{
			            "data": 'scored_ntx_count',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.scored_ntx_count);
				        }
			        },
        			{
			            "data": 'unscored_ntx_count',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.unscored_ntx_count);
				        }
			        },
        			{
			            "data": 'first_ntx_block_time',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.first_ntx_block_time);
				        }
			        },
        			{
			            "data": 'last_ntx_block_time',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.last_ntx_block_time);
				        }
			        },
        			{
			            "data": 'num_sec',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(oData.num_sec);
				        }
			        },
        		]
	        });
	    });

  </script> 

{% endblock %}
