{% extends "base.html" %}
{% load static %}
{% block content %}

	{% include "components/region_leaders/region_ntx_leaders.html" %}

	{% for region, region_data in season_stats_sorted.items %}
		<div class="row col-12 mx-auto my-2" style="color: #b9b5b5;">
			<div class="card table_card m-auto">
				<div class="card-header table_card_title flex">
					<a id="{{region}}_table" class="section-anchor"></a>
					<h4>{{ season }} {{ region }} Notarisation rankings</h4>
					{% for reg, stats in region_score_stats.items %}
						{% if reg == region %}
							<h6>Average: {{ stats.average_score|floatformat:-2 }}</h6>
						{% endif %}
					{% endfor%}
				</div>
				<div class="card-body table_card_body">
					<table id="{{ region }}_notarisations" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="py-2 px-4">Rank</th>
								<th class="py-2 px-4">Notary</th>
								<th class="py-2 px-4">LTC</th>
								<th class="py-2 px-4">Main</th>
								<th class="py-2 px-4">3P</th>
								<th class="py-2 px-4">Seed</th>
								<th class="py-2 px-4">Mined</th>
								<th class="py-2 px-4">Score</th>
								<th class="py-2 px-4">Detail</th>
							</tr>
						</thead>
						<tbody>
							{% for item in region_data %}
							<tr>
								<td data-data="rank" class="px-2">
							  			{{ item.rank }}
							  		</span>
							  	</td>
								<td data-data="notary" class="px-4">
									{{ item.notary }}
								</td>
								<td data-data="master" class="px-4">
										{{ item.master }}
							  		</span>
								</td>
								<td data-data="main" class="px-4">
										{{ item.main }}
							  		</span>
								</td>
								<td data-data="third_party" class="px-4">
										{{ item.third_party }}
							  		</span>
								</td>
								<td data-data="seed" class="px-4">
										{{ item.seed }}
							  		</span>
								</td>
								<td data-data="mining" class="px-4">
										{{ item.mining }}
							  		</span>
								</td>
								<td data-data="score" class="px-4">
									{{ item.score|floatformat:-3 }}
								</td>
								<td data-data="detail" class="px-2">
									<a href="//{{ request.get_host }}/notary_epoch_scores/?notary={{ item.notary }}&season={{ season }}">
										<span class='badge p-0' style='border-radius: 50%;' data-toggle='tooltip' data-placement='top' title='{{ item.notary }} score detail'>
											<i class='fas fa-arrow-right'></i>
										</span>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	{% endfor %}
  	<script>
	    $(document).ready(function() {
	        AR_table = $('#AR_notarisations').DataTable({    
    			deferRender: true,
                "orderClasses": false,
    			"paging": false,
        		order: [[ 0, 'asc' ]],
	        	"columns": [
			        { "data": "rank" },
			        { "data": "notary" },
			        { "data": "master" },
			        { "data": "main" },
			        { "data": "third_party" },	
			        { "data": "seed" },	
			        { "data": "mining" },
			        { "data": "score" },
			        { "data": "detail" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_notary_url('{{ season }}', oData.notary));
				        }
			        },
        			{
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(""+oData.score);
				        }
			        }
        		]
	        });
	        EU_table = $('#EU_notarisations').DataTable({
        		order: [[ 0, 'asc' ]],
    			deferRender: true,
                "orderClasses": false,
	        	"paging": false,
	        	"columns": [
			        { "data": "rank" },
			        { "data": "notary" },
			        { "data": "master" },
			        { "data": "main" },
			        { "data": "third_party" },
			        { "data": "seed" },	
			        { "data": "mining" },
			        { "data": "score" },
			        { "data": "detail" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_notary_url('{{ season }}', oData.notary));
				        }
			        },
        			{
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(""+oData.score);
				        }
			        }
        		]
	        });
	        NA_table = $('#NA_notarisations').DataTable({
        		order: [[ 0, 'asc' ]],
    			deferRender: true,
                "orderClasses": false,
    			"paging": false,
	        	"columns": [
			        { "data": "rank" },
			        { "data": "notary" },
			        { "data": "master" },
			        { "data": "main" },
			        { "data": "third_party" },
			        { "data": "seed" },	
			        { "data": "mining" },
			        { "data": "score" },
			        { "data": "detail" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_notary_url('{{ season }}', oData.notary));
				        }
			        },
        			{
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(""+oData.score);
				        }
			        }
        		]
	        });

	        SH_table = $('#SH_notarisations').DataTable({
        		order: [[ 0, 'asc' ]],
	        	"paging": false,
    			deferRender: true,
                "orderClasses": false,
	        	"columns": [
			        { "data": "rank" },
			        { "data": "notary" },
			        { "data": "master" },
			        { "data": "main" },
			        { "data": "third_party" },
			        { "data": "seed" },	
			        { "data": "mining" },
			        { "data": "score" },
			        { "data": "detail" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_notary_url('{{ season }}', oData.notary));
				        }
			        },
        			{
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(""+oData.score);
				        }
			        }
        		]
	        });

	        DEV_table = $('#DEV_notarisations').DataTable({
        		order: [[ 0, 'asc' ]],
    			deferRender: true,
                "orderClasses": false,
	        	"paging": false,
	        	"columns": [
			        { "data": "rank" },
			        { "data": "notary" },
			        { "data": "master" },
			        { "data": "main" },
			        { "data": "third_party" },
			        { "data": "seed" },	
			        { "data": "mining" },
			        { "data": "score" },
			        { "data": "detail" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(get_notary_url('{{ season }}', oData.notary));
				        }
			        },
        			{
			            "targets": 7,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html(""+oData.score);
				        }
			        }
        		]
	        });
	        highlight_notaries(AR_table)
	        highlight_notaries(EU_table)
	        highlight_notaries(NA_table)
	        highlight_notaries(SH_table)
	        highlight_notaries(DEV_table)
	    });
	    /*
	    $.ajax({ 
	      method: "GET", 
	      url: '//{{ request.get_host }}/api/graph_json/balances/?coin={{ coin }}', 
	      success: function(data) { 
	      	//document.getElementById('graph_title').innerHTML = data.chartLabel;
	        //drawLineGraph(data, 'myChartline'); 
	        drawBarGraph(data, 'myChartBar'); 
	        console.log("drawing"); 
	      }, 
	      error: function(error_data) { 
	        console.log(error_data); 
	      } 
	    }) 
	   */
  </script> 

{% endblock %}
