<!-- table_seednode_version_date.html -->
<div id="last_24hrs">
    <div class="card-header pb-0">
        <div class="d-flex justify-content-around">
            <div><i class="fas fa-times-circle" style="color: #373f48;"></i> Not Found</div>
            <div><i class="fas fa-check-circle" style="color: #377c43;"></i> Operational</div>
            <div><i class="fas fa-times-circle" style="color: #039bd7;"></i> WSS Failing</div>
            <div><i class="fas fa-times-circle" style="color: #8842ab;"></i> Wrong Version</div>
            <div><i class="fas fa-times-circle" style="color: #895050;"></i> Other Error</div>
            <div><i class="fa-solid fa-hourglass" style="color: #373f48;"></i> Future</div>
        </div>
    </div>
    <div class="card-body table_card_body pb-0 px-3" style="overflow-x: auto;">
        <table id="mm2_day_version_tbl" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th data-data="Notary">Notary</th>
                    {% for i in day_headers %}
                        {% if i != 'Total' and i != 'Notary' and i != 'proposal' %}
                            <th data-data="{{ i }}" class="hour_cell px-0">{{ i }}</th>    
                        {% endif %}
                    {% endfor %}
                    <th data-data="Total">Total</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-footer mb-3">
        <div id="date_api_link" class="col-4 m-auto"></div>
    </div>
</div>

    <script>
        $(document).ready(function() {
            var start = parseInt(Math.floor($('#day_date_ts').val())/1000) + 86400
            start = Math.floor(start/86400)*86400
            var end = start + 86400

            let params = "?start="+start+"&end="+end+"&season={{ season }}"
            let url = "{% url 'seednode_version_date_table_api' %}"+params

            day_seed_table = $('#mm2_day_version_tbl').DataTable({
                ajax: {
                    url: url,
                    dataSrc: 'table_data',
                    "deferRender": true
                },
                "paging": false,
                "searching": false,
                "info": false,
                "orderClasses": false,
                "pageLength": 50,
                order: [[ 0, 'asc' ]],
                "columnDefs": [
                    { className: "text-left text-nowrap pl-2", "targets": [ 0 ] },
                    { 
                        targets: 0,
                        orderable: true,
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        	//oData.proposal.length > 0 ? $(nTd).html("<a href='"+oData.proposal+"'>"+titleCase(oData.Notary)+"</a>") : $(nTd).html(titleCase(oData.Notary));
                            $(nTd).html(oData.Notary);
                        }
                    },
                    { 
                        targets: $('#mm2_version_tbl').find('th').length - 1,
                        orderable: true,
                        className: 'text-right text-nowrap pr-2',
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html('<b>'+oData.Total+'</b>');
                        }
                    },
                    { 
                        targets: 'hour_cell',
                        orderable: true,
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            let maxTime = new Date().valueOf()
                            let maxHour = new Date(maxTime).getUTCHours()
                            if (typeof(sData) != 'number') {
                                if (sData.search("WSS connection failing") > -1) {
                                    $(nTd).html('<span data-toggle="tooltip" data-placement="top" title="'+sData+'"><svg style="width: 0.9em; height: 0.9em; color: #039bd7;"><use xlink:href="#times"></use></svg>');
                                }
                                else if (sData.search("Wrong version") > -1) {
                                    $(nTd).html('<span data-toggle="tooltip" data-placement="top" title="'+sData+'"><svg style="width: 0.9em; height: 0.9em; color: #8842ab;"><use xlink:href="#times"></use></svg>');
                                }
                                else {
                                    $(nTd).html('<span data-toggle="tooltip" data-placement="top" title="'+sData+'"><svg style="width: 0.9em; height: 0.9em; color: #895050;"><use xlink:href="#times"></use></svg>');
                                }
                            }
                            else {
                                if (sData > 0) {
                                    $(nTd).html('<span data-toggle="tooltip" data-placement="top" title="'+sData+'"><svg style="width: 0.9em; height: 0.9em; color: #377c43;"><use xlink:href="#check"></use></svg></span>');
                                }
                                else if ((iCol - 1 > maxHour) && (maxTime/1000 < end)) {
                                    $(nTd).html('<svg style="width: 0.9em; height: 0.9em; color: #373f48;"><use xlink:href="#hourglass"></use></svg>');
                                }
                                else {
                                    $(nTd).html('<svg style="width: 0.9em; height: 0.9em; color: #373f48;"><use xlink:href="#times"></use></svg>');
                                }
                            }
                        }
                    },
                    { 
                        orderable: false,
                        targets: '_all'
                    }
                ],
                fnInitComplete: function(){
                    let api_btn = get_api_button("seednode_date", 100, url, "Source Data")
                    $('#date_api_link').html(api_btn);
                }
            });
            var maxDate = new Date()
            var utc_max = new Date(maxDate.getTime() + getOffset())
            $( ".day_date_picker" ).datepicker({
                maxDate: utc_max,
                dateFormat: "D d M yy",
                altField: "#day_date_ts",
                altFormat: "@",
                onSelect : function (dateText, inst) {
                    start = parseInt($('#day_date_ts').val()/1000) + 86400
                    start = Math.floor(start/86400)*86400
                    end = start + 86400
                    let params = "?start="+start+"&end="+end+"&season={{ season }}"
                    let url = "{% url 'seednode_version_date_table_api' %}" + params
                    day_seed_table.ajax.url(url).load();
                    let api_btn = get_api_button("seednode_date", 100, url, "Source Data")
                    $('#date_api_link').html(api_btn);
                }
            });
        });

    </script>