<!-- table_orderbook.html -->
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="last-swaps-card" style="font-size: 1.1em;" >
			<div class="card-body table_card_body col-12">
				<table style="" id="orderbook" class="table table-striped table-bordered m-auto" style="width:100%">
					<thead>
						<tr>
							<th data-data="type">Type</th>
							<th data-data="base">Sell</th>
							<th data-data="rel">Buy</th>
							<th data-data="price" id="price-lbl">Price</th>
							<th data-data="min_volume" id="min-volume-lbl">Min Volume</th>
							<th data-data="maxvolume" id="maxvolume-lbl">Max Volume</th>
							<th data-data="total" id="total-lbl">Total</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		    
	    $(document).ready(function() {
	    	const orderbook_dom = '{% include "components/tables/dt_dom.html" with table="orderbook" %}'

			{% autoescape off %}	
		    	const dropdown_pair = `{% include 'components/form/dropdown_pair.html' with id_a='base' label_a='Base ' width_a='125px' id_b='rel' label_b='Rel ' width_b='125px' action="switch_combos('#base', '#rel')" %}`
			{% endautoescape %}

	        const orderbook_table = $('#orderbook').DataTable({
	     		"ajax": {
				    "url": get_orderbook_table_url(),
	    			'dataSrc': 'results',
	    			"deferRender": true
				},
  				"pageLength": 50,
    			"dom": orderbook_dom,
        		"order": [[ 3, 'desc' ]],	
        		"columnDefs": [
					{ "className": "text-left text-nowrap", "targets": [ 0, 1, 2 ] },
					{ "className": "text-right text-nowrap", "targets": [ 3, 4, 5, 6 ] },
        			{
			            "data": 'base',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.base));
				        }
        			},
        			{
			            "data": 'rel',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.rel));
				        }
        			},
        			{
			            "data": 'price',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.price).toFixed(8));
				        }
        			},
        			{
			            "data": 'min_volume',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.min_volume).toFixed(8));
				        }
        			},
        			{
			            "data": 'maxvolume',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.maxvolume).toFixed(8));
				        }
        			},
        			{
			            "data": 'total',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.total).toFixed(8));
				        }
        			}
			    ],
		        fnInitComplete: function(){
		            $('.orderbook-tbl-title').html(dropdown_pair);
		            let api_btn = get_api_button("orderbook", 100, get_orderbook_table_url(), "Source Data")
		            $('.orderbook-api-link').html(api_btn);
		    		$('#base').select2();
		    		$('#rel').select2();

		            add_dropdown_options(mm2_coins, '#base', '{{ base }}')
		            add_dropdown_options(mm2_coins, '#rel', '{{ rel }}')

				    $('#rel').on('select2:select', function (e) {
				    	orderbook_table.ajax.url(get_orderbook_table_url()).load()
					});
				    $('#rel').on('change', function (e) {
				    	orderbook_table.ajax.url(get_orderbook_table_url()).load()
					});
				    $('#base').on('select2:select', function (e) {
				    	orderbook_table.ajax.url(get_orderbook_table_url()).load()
					});
		        }
	        });
	    });
	</script>