
<!-- table_failed_swaps.html -->
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="bids_card" style="font-size: 1.1em;" >
			<div class="card-header table_card_header col-12">
			</div>
			<div class="card-body table_card_body col-12">
				<table style="" id="failed-swaps-tbl" class="table table-striped table-bordered m-auto" style="width:100%">
					<thead>
						<tr>
							<th data-data="taker_coin">Taker</th>
							<th data-data="maker_coin">Maker</th>
							<th data-data="taker_error_type">Taker GUI</th>
							<th data-data="maker_error_type">Maker GUI</th>
							<th data-data="timestamp">Timestamp</th>
						</tr>
					</thead>
					<tbody>
					{% for row in last_200_failed_swaps %}
						<tr>
							<td class="text-left text-nowrap" data-data="taker">{{ row.taker_coin }}</td>
							<td class="text-left text-nowrap" data-data="maker">{{ row.maker_coin }}</td>
							<td data-data="taker_error_type">{{ row.taker_error_type }}</td>
							<td data-data="maker_error_type">{{ row.maker_error_type }}</td>
							<td data-data="timestamp">{{ row.timestamp }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	    $(document).ready(function() {
	    	let url = "{{ endpoint }}"
	    	const dom = '{% include "components/tables/dt_dom.html" with table="failed-swaps" %}'

	        $('#failed-swaps-tbl').DataTable({
  				"pageLength": 50,
	    		"dom": dom,
        		"order": [[ 4, 'desc' ]],
        		"columnDefs": [
        			{
			            "data": 'taker_coin',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.taker_coin));
				        }
			        },
        			{
			            "data": 'maker_coin',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.maker_coin));
				        }
			        },
        			{
			            "data": 'taker_error_type',
			            "targets": 2
			        },
        			{
			            "data": 'maker_error_type',
			            "targets": 3
			        },
        			{
			            "data": 'timestamp',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	$(nTd).html(get_time_since(oData.timestamp));
				        },
				    	"className": "text-right text-nowrap"
			        }
			    ],
                // Custom DataTables search filter input styling
				"initComplete": function (settings, json) {
		            $('.failed-swaps-tbl-title').html('<h3 class="">{{ page_title }}</h3>');
		            let api_btn = get_api_button("failed_swaps", 100, "{{ endpoint }}", "Source Data")
		            $('.failed-swaps-api-link').html(api_btn);
	            }
	        });
	    });
	</script>
		            