<!-- table_swaps.html -->
	<div class="row col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="last-swaps-card" style="font-size: 1.1em;" >
			<div class="card-body table_card_body col-12">
				<table style="" id="last-swaps-tbl" class="table table-striped table-bordered m-auto" style="width:100%">
					<thead>
						<tr>
							<th data-data="maker_coin">Maker Coin</th>
							<th data-data="taker_coin">Taker Coin</th>
							<th data-data="maker_amount">Maker Amount</th>
							<th data-data="taker_amount">Taker Amount</th>
							<th data-data="maker_gui">Maker GUI</th>
							<th data-data="taker_gui">Taker GUI</th>
							<th data-data="timestamp">Timestamp</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">


    	function get_swaps_url() {
	    	let maker_coin = $('#maker_coin').val() == undefined ? 'All' :  $('#maker_coin').val()
	    	let taker_coin = $('#taker_coin').val() == undefined ? 'All' :  $('#taker_coin').val()
	    	let url = "/api/atomicdex/last_200_swaps?taker_coin="+taker_coin+"&maker_coin="+maker_coin
	    	console.log(url)
	    	return url

    	}
	    
	    $(document).ready(function() {

	    	const dom = '{% include "components/tables/dt_dom.html" with table="last-swaps" %}'
			{% autoescape off %}
		    	const dropdown_pair = `{% include 'components/form/dropdown_pair.html' with id_a='maker_coin' label_a='Maker coin ' width_a='125px' id_b='taker_coin' label_b='Taker coin ' width_b='125px' action="switch_combos('#maker_coin', '#taker_coin')" %}`
			{% endautoescape %}

	    	$('#last-swaps').css('visibility', 'visible');

	        const last_swaps_table = $('#last-swaps-tbl').DataTable({
	     		"ajax": {
				    "url": get_swaps_url(),
	    			'dataSrc': '',
	    			"deferRender": true
				},
	    		"dom": dom,
  				"pageLength": 50,
        		"order": [[ 6, 'desc' ]],
        		"columnDefs": [
					{ "className": "text-left text-nowrap txt-09", "targets": [ 0, 1 ] },
					{ "className": "text-nowrap txt-09", "targets": [ 4, 5 ] },
					{ "className": "text-right text-nowrap txt-09", "targets": [ 2, 3 ] },
					{ "className": "text-right text-nowrap txt-09", "targets": [ 6 ] },
        			{
			            "data": 'maker_coin',
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.maker_coin));
				        }
			        },
        			{
			            "data": 'taker_coin',
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(get_coin_icon(oData.taker_coin));
				        }
			        },
        			{
			            "data": 'maker_amount',
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.maker_amount).toFixed(8));
				        }
			        },
        			{
			            "data": 'taker_amount',
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
					        $(nTd).html(parseFloat(oData.taker_amount).toFixed(8));
				        }
			        },
        			{
			            "data": 'maker_gui',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	let gui = iconify_version(oData.taker_gui)		            	
			            	let icons = gui.substring(0, gui.lastIndexOf('>'))
			            	let tooltip = gui.substring(gui.lastIndexOf('>')+1, gui.length)

			            	gui = "<span data-toggle='tooltip' data-placement='top' title='"+tooltip+"'>"+icons+"</span>"
				            $(nTd).html(gui);
				        },
				        "className": "text-left"
			        },
        			{
			            "data": 'taker_gui',
			            "targets": 5,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	let gui = iconify_version(oData.maker_gui)
			            	let icons = gui.substring(0, gui.lastIndexOf('>'))
			            	let tooltip = gui.substring(gui.lastIndexOf('>')+1, gui.length)

			            	gui = "<span data-toggle='tooltip' data-placement='top' title='"+tooltip+"'>"+icons+"</span>"
				            $(nTd).html(gui);
				        },
				        "className": "text-left"
			        },
        			{
			            "data": 'timestamp',
			            "targets": 6,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	ts = oData.timestamp*1000
			            	dt = new Date(ts).toLocaleString("en-US")
				            $(nTd).html(dt);
				        },
				        "className": "text-right text-nowrap"
			        }
			    ],
				"initComplete": function (settings, json) {
		            $('.last-swaps-tbl-title').html(dropdown_pair);

		            let api_btn = get_api_button("last-swaps", 100, get_swaps_url(), "Source Data")
		            $('.last-swaps-api-link').html(api_btn);

		    		$('#maker_coin').select2();
		    		$('#taker_coin').select2();

		            add_dropdown_options(mm2_coins, '#maker_coin', 'All')
		            add_dropdown_options(mm2_coins, '#taker_coin', 'All')

				    $('#maker_coin').on('select2:select', function (e) {
				    	last_swaps_table.ajax.url(get_swaps_url()).load()
					});

				    $('#taker_coin').on('select2:select', function (e) {
				    	last_swaps_table.ajax.url(get_swaps_url()).load()
					});

				    $('#taker_coin').on('change', function (e) {
				    	last_swaps_table.ajax.url(get_swaps_url()).load()
					});
	            }
	        });            
	    });
	</script>
		            