<!-- Top Region Notarisation Scores -->
{% load static %}
	<div class="row col-12 mx-auto my-3" style="color: #b9b5b5;">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_light3 col-12" style="border:none !important; background-color: #101721 !important; box-shadow: none; margin-top:0 !important;">
		    	<h2>{{ season_clean }} {{ heading }}</h2>
			    <div class="justify-content-between align-items-center">
					{% for selected_region, region_data in stats_data.items %}
						{% for item in region_data %}
							{% if item.rank == 1 %}
								{% if selected_region == 'AR' %}
									{% include "components/region_leaders/region_leader_scores.html" with region_name="Asia & Russia" alt_text=item.notary %}
								{% elif selected_region == 'EU' %}
									{% include "components/region_leaders/region_leader_scores.html" with region_name="European Union" alt_text=item.notary %}
								{% elif selected_region == 'NA' %}
									{% include "components/region_leaders/region_leader_scores.html" with region_name="North America" alt_text=item.notary %}
								{% elif selected_region == 'SH' %}
									{% include "components/region_leaders/region_leader_scores.html" with region_name="Sth Hemisphere" alt_text=item.notary %}
								{% elif selected_region == 'DEV' %}
									{% include "components/region_leaders/region_leader_scores.html" with region_name="Development" alt_text=item.notary %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
