{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row col-12 m-auto" id="addresses">
	<div class="card table_card">
		<div class="card-header table_card_title flex">
			Source: Mined
		</div>
		<div class="card-body table_card_body">
			<table id="table_id" class="table table-striped table-bordered" style="width:100%" data-ajax="{% url 'minedViewSet-list' %}?format=datatables">
				<thead>
					<tr>
						<th data-data="block_height">Block</th>
						<th data-data="name">Name</th>
						<th data-data="address">Address</th>
						<th data-data="value">Amount</th>
						<th data-data="txid">Txid</th>
						<th data-data="block_time">TIME</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>				
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#table_id').DataTable({
        	"paging": true,
			deferRender: true,
            "orderClasses": false,
    		order: [[ 0, 'desc' ]],
    		"columnDefs": [
				{ className: "text-left text-nowrap", "targets": [ 0 ] },
				{ className: "text-right text-nowrap", "targets": [ 3, 5 ] },
    			{
		            "targets": 0,
		            "data": "block_height",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_block_url("KMD", oData.block_height));
			        }
    			},
    			{
		            "targets": 1,
		            "data": "name",
		            "visible": false,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            $(nTd).html(oData.name);
			        }
		        },
    			{
		            "targets": 2,
		            "data": "address",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            $(nTd).html(get_address_url("KMD", oData.address, oData.name));
			        }
		        },
    			{
		            "targets": 3,
		            "data": "value",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            $(nTd).html(oData.value);
			        },
		            "visible": false,
		        },
    			{
		            "data": "txid",
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_txid_url("KMD", oData.txid, oData.value));
		            }
		        },
    			{
		            "data": "block_time",
		            "targets": 5,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_time_since(oData.block_time));
		            }
		        }
    		]
        });
    });
</script>
{% endblock %}