
<style type="text/css">
        body {
            padding: 0;
            margin: 0;
            line-height: 1em !important;
            font-size: 0.9em !important;
            overflow-x:hidden;
            color:white;
                }
        html, body {
            height: 100%;
            width: 100vw;
            font-weight: 700;
            background-color: #1d2943;
            font-family: Verdana !important;
        }
        .alert {
          color: black !important;
        }
        h1,h2,h3,h4,h5,h6, div, .dataTables_info, .dataTables_scrollHead, .dataTables_paginate, thead { color: white !important; }
        .fileInput {
          background-color: #eee;
          margin-bottom: 15px;
        }
        .custom-select-sm {
            font-size: 0.7rem !important;
            font-family: Verdana;
        }

        .dataTables_paginate  {
            background-color: #ddd;
            padding-bottom: 5px;
        }
        table {
          color:black;
        }
         #map {
          position: sticky; 
            height: 110%;
         }
        .Absolute-Center {
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          z-index: 8999;
          cursor: auto;
          margin-top:80px;
          pointer-events: none;
          min-width: 300px;
        }

        .Absolute-Center.is-Responsive {
          width: 94%; 
          height: 98%;
        }
        #userTable {
            top: 0.5em;
            min-height: 3.6em;
            min-width:15em;
            padding: 0.5em;
            font-size: 0.9em;
            font-family: Verdana;
            background-color: #EEE;
            right:0.5em;
            position: absolute;
            z-index: 11111;
            border: solid blue 1px;
        }
        #userTable {
            top: 0.5em;
            min-height: 3.6em;
            min-width:15em;
            padding: 0.5em;
            font-size: 0.9em;
            font-family: Verdana;
            background-color: #EEE;
            right:0.5em;
            position: absolute;
            z-index: 11111;
            border: solid blue 1px;
        }
.main{
  margin-top: 0px;
}

h1.title { 
  font-size: 48px;
  font-family: 'Amaranth', sans-serif;
  font-weight: 400; 
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin: auto;
  margin-bottom: 10px;
}

label{
  margin-bottom: 10px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center {
  height:98vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 25px 25px;
  padding-top: 0px;

}
h1 {
    margin: 0px !important;
}

.login-button{
  margin-top: 5px;
}

.control-label{
  text-align: left !important;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
.panel-heading {
  padding: 0px !important;
}

#colorpallette {
    display: inline-block;
}

#colorpallette li {
  border: solid black 1px;
  height: 15px;
  width: 15px;
  list-style-type: none;
    display: inline-block;
    padding: 5px;
}
h1 {
    margin: 5px !important;
}

.login-button{
  margin-top: 5px;
}

.control-label{
  text-align: left !important;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
.panel-heading {
  padding: 0px !important;
}
.row-bg-1 {
  background-color: #468cd233 !important;
}
.row-bg-2 {
  background-color: #f8f9fa4d !important;
}
ul.errorlist {
    list-style-type:none;
    background-color: #FF7C75;
    list-style-position: inside;
    padding: 5px;
    width: 80%;
    margin:auto;
    margin-bottom: 1em;
}

.input-group-text {
    background-color: #254459 !important;
    color: #fff !important;
}
.subtitle a {
  color: #fff !important;
}
.subtitle a:hover {
  color: #abbdc8 !important;
}
.dropdown-menu {
  background-color:#1d2124;
}
.dropdown-item {
  color:white;
}
.secondary_nav {
  line-height: 0.7em !important;
  background-color: #333;
}
.btn-dark {
   background-color: #24B5B2 !important;
}
.btn-dark:hover {
   background-color: #0B587B !important;
}
.time_txt {
  color: #24B5B2 !important;
}

#chartdiv {
  width: 100%;
  height: 70vh;
  font-size:0.8em;
}
    </style>