{% extends "base.html" %}

{% block title %}Page Title{% endblock %}

{% block sidebar %}
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div>Content goes here.</div>
{% endblock %}

{% block footer %}
<div class="d-flex flex-column">
  <footer class="footer">
    <div>
      <a href="https://coreui.io">CoreUI</a>
      <span>&copy; 2020 creativeLabs.</span>
    </div>
    <div class="ml-auto">
      <span>Powered by</span>
      <a href="https://coreui.io">CoreUI</a>
    </div>
  </footer>
</div>
{% endblock %}
