<div class="row col-12 m-auto" id="ntx_24hr">	
	<div class="card table_card floating-card">
		<div class="card-body table_card_body flex">
			<table id="ntx-24hr-tbl" class="table table-striped table-bordered m-auto" style="width:100%; visibility: hidden;">
				<thead>
					<tr>
						<th class="px-2 py-2" data-data="coin">Coin</th>
						<th class="px-2 py-2" data-data="block_height">Block Height</th>
						<th class="px-2 py-2" data-data="ac_ntx_height">Notarised Height</th>
						<th class="px-2 py-2" data-data="txid">Transaction</th>
						<th class="px-2 py-2" data-data="notaries">Notaries</th>
						<th class="px-2 py-2" data-data="opret">OP RETURN</th>
						<th class="px-2 py-2" data-data="block_time">Time Since</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script>
    $(document).ready(function() {
    	$('#ntx-24hr-tbl').css('visibility', 'visible');
    	let url = "{% url 'coin_notarised_24hrs_table' %}?season={{ season }}&coin={{ coin }}"
		const dom = '{% include "components/tables/dt_dom.html" with table="coin-ntx-24hr" %}'
        $('#ntx-24hr-tbl').DataTable({
     		ajax: {
			    url: url,
    			dataSrc: 'results',
    			"deferRender": true
			},
    		order: [[ 1, 'desc' ]],
			deferRender: true,
        	"paging": false,
            "orderClasses": false,
        	"columns": [
		        { "data": "coin" },
		        { "data": "block_height" },
		        { "data": "ac_ntx_height" },
		        { "data": "txid" },
		        { "data": "notaries" },
		        { "data": "opret" },
		        { "data": "block_time" }
		    ], 
    		"columnDefs": [
				{ className: "text-left text-nowrap", "targets": [ 0 ] },
				{ className: "fw-14pct", "targets": [ 3, 4, 5 ] },
    			{
		            "data": 'coin',
		            "targets": 0,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_coin_icon(oData.coin));
			        }
		        },
    			{
		            "data": 'block_height',
		            "targets": 1,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	let ntx_coin = "KMD"
		            	if (oData.coin == "LTC") {
		            		ntx_coin = "LTC"
		            	}
		            	$(nTd).html(get_block_url(ntx_coin, oData.block_height))
			        }
		        },
    			{
		            "data": 'ac_ntx_height',
		            "targets": 2,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	let ntx_coin = oData.coin
		            	if (oData.coin == "LTC") {
		            		ntx_coin = "KMD"
		            	}
		            	$(nTd).html(get_block_url(ntx_coin, oData.ac_ntx_height))
			        }
		        },
    			{
		            "data": 'txid',
		            "targets": 3,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	let ntx_coin = "KMD"
		            	if (oData.coin == "LTC") {
		            		ntx_coin = "LTC"
		            	}
		            	$(nTd).html(get_txid_url(ntx_coin, oData.txid))
			        }
		        },
    			{
		            "data": 'notaries',
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						$(nTd).html(get_notaries_symbol(oData.notaries, oData.txid))
					}
		        },
    			{
		            "data": 'opret',
		            "targets": 5,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	let op_return = (oData.opret.split(" ").length > 1) ? oData.opret.split(" ")[1] : oData.opret
						let icon = "<i class='fas fa-arrow-right'></i>"
						let tooltip = "Decode OP_RETURN: "+op_return
						let url = "{% url 'decode_op_return_view' %}?OP_RETURN="+op_return+"&season={{ season }}"
			            $(nTd).html(get_detail_link_icon(icon, tooltip, url));
			        } 
		        },
    			{
		            "data": 'block_time',
		            "targets": 6,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_time_since(oData.block_time));
			        }
		        }
		    ],
    		dom: dom,

	        fnInitComplete: function(){
	           $('.coin_ntx-24hr-tbl-title').html('<h3 class="">{{ season_clean }} {{ coin }} Notarisations (last 24 hrs)</h3>');
	            let api_btn = '{% include "components/buttons/api_link_button.html" with btn_id="last-coin-ntx" width_pct="100" btn_url="'+url+'" btn_text="Source Data" %}'
	            $('.coin-ntx-24hr-api-link').html(api_btn);
	        }
        });
    });
</script>
