
				<div class="card kmd_ui_light4 d-flex justify-content-between">
					<div class="card-header kmd_ui_dark1_bg d-flex justify-content-between">
						<div>
							GUI Swap Counts 
						</div>
						<div class="my-auto">
							{{ from_time_dt|date:"H:i d M Y" }} to {{ to_time_dt|date:"H:i d M Y" }}
						</div>
					</div>
					<div class="card-body mt-0 pt-0 kmd_ui_dark1_bg">
						<table id="tbl_gui_swaps" class="table table-striped table-bordered m-auto" style="width:100%; visibility: hidden;">
							<thead>
								<tr>
									<th data-data="gui">GUI</th>
									<th data-data="maker_count">Maker Swaps</th>
									<th data-data="taker_count">Taker Swaps</th>
								</tr>
							</thead>
							<tbody>
								{% for gui, swaps in swaps_counts.guis.items %}
								<tr>
									<td data-data="gui">{{ gui }}</td>
									<td data-data="maker_count">{{ swaps.maker_swaps }}</td>
									<td data-data="taker_count">{{ swaps.taker_swaps }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="card kmd_ui_light4 d-flex justify-content-between">
					<div class="card-header kmd_ui_dark1_bg d-flex justify-content-between">
						<div>
							Pair Swap Volumes 
						</div>
						<div class="my-auto">
							{{ from_time_dt|date:"H:i d M Y" }} to {{ to_time_dt|date:"H:i d M Y" }}
						</div>
					</div>
					<div class="card-body mt-0 pt-0 kmd_ui_dark1_bg">
						<table id="tbl_pair_volumes" class="table table-striped table-bordered m-auto" style="width:100%; visibility: hidden;">
							<thead>
								<tr>
									<th data-data="maker">Maker</th>
									<th data-data="taker">Taker</th>
									<th data-data="swap_count">Swaps</th>
									<th data-data="maker_volume">Maker Volume</th>
									<th data-data="taker_volume">Taker Volume</th>
								</tr>
							</thead>
							<tbody>
								{% for x in swaps_counts.pair_volumes %}
								<tr>
									<td data-data="maker">{{ x.maker }}</td>
									<td data-data="taker">{{ x.taker }}</td>
									<td data-data="swap_count">{{ x.swap_count }}</td>
									<td data-data="maker_volume">{{ x.maker_volume|floatformat:-8 }}</td>
									<td data-data="taker_volume">{{ x.taker_volume|floatformat:-8  }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			  	<script>
				    $(document).ready(function() {
    					$('#tbl_gui_swaps').css('visibility', 'visible');
				        $('#tbl_gui_swaps').DataTable({
				           "paging": false,
			        		order: [[ 1, 'desc' ], [ 0, 'asc' ]],
			        		"columnDefs": [
			        			{
						            "data": "gui",
						            "targets": 0,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.gui);
							        }
						        },
			        			{
						            "data": "maker_count",
						            "targets": 1,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.maker_count);
							        }
						        },
			        			{
						            "data": "taker_count",
						            "targets": 1,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.taker_count);
							        }
						        }
			        		]
				        });
    					$('#tbl_pair_volumes').css('visibility', 'visible');
				        $('#tbl_pair_volumes').DataTable({
				           "paging": false,
			        		order: [[ 0, 'asc' ], [ 3, 'desc' ]],
			        		"columnDefs": [
			        			{
						            "data": 'maker',
						            "targets": 0,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						            	var icon = oData.maker.toLowerCase()
						            	if (icon == "wlc21") {
						            		icon = "wlc"
						            	} else if (icon == "gleec-old") {
						            		icon = "gleec"
						            	} else if (icon == "coquicash") {
						            		icon = "coqui"
						            	}
						            	icon = icon.replace("-bep20", "")
						            	icon = icon.replace("-erc20", "")
							            $(nTd).html("<span class='badge p-2 mr-auto' style='font-size: 0.9em;'><a href='//{{ request.get_host }}/coin_profile/"+oData.maker+"/?season={{ season }}'><img height='16' class='mr-2' src='https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/"+icon+".png' />"+oData.maker+"</a></span>");
							        }
						        },
			        			{
						            "data": 'taker',
						            "targets": 1,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						            	var icon = oData.taker.toLowerCase()
						            	if (icon == "wlc21") {
						            		icon = "wlc"
						            	} else if (icon == "gleec-old") {
						            		icon = "gleec"
						            	} else if (icon == "coquicash") {
						            		icon = "coqui"
						            	}
						            	icon = icon.replace("-bep20", "")
						            	icon = icon.replace("-erc20", "")
							            $(nTd).html("<span class='badge p-2 mr-auto' style='font-size: 0.9em;'><a href='//{{ request.get_host }}/coin_profile/"+oData.taker+"/?season={{ season }}'><img height='16' class='mr-2' src='https://raw.githubusercontent.com/KomodoPlatform/coins/master/icons/"+icon+".png' />"+oData.taker+"</a></span>");
							        }
						        },
			        			{
						            "data": "swap_count",
						            "targets": 2,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.swap_count);
							        }
						        },
			        			{
						            "data": "maker_volume",
						            "targets": 3,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.maker_volume);
							        }
						        },
			        			{
						            "data": "taker_volume",
						            "targets": 4,
						            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
							            $(nTd).html(oData.taker_volume);
							        }
						        }
			        		]
				        });
				    });
				</script>