<div class="row" id="{{ season }}">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title">
				<h4>{{ year }} Testnet Notarisation rankings</h4>
				<h6>Average: {{ average_score|floatformat:-2 }}</h6>
			</div>
			<div class="card-body table_card_body">
				<table id="{{ season }}_table" class="table table-striped table-bordered" style="width:99%; visibility: hidden;">
					<thead>
						<tr>
							<th>RANK</th>
							<th>NOTARY</th>
							<th>RICK</th>
							<th>MORTY</th>
							<th>TOTAL</th>
							<th>LAST RICK</th>
							<th>LAST MORTY</th>
						</tr>
					</thead>
					<tbody>
						{% for notary, notary_data in testnet_ntx_counts.items %}
						<tr>
							<td data-data="rank">{{ notary_data.Rank }}</td>
							<td data-data="notary">{{ notary }}</th>
							<td data-data="rick" style="font-size: 0.9em">{{ notary_data.RICK }}</th>
							<td data-data="morty" style="font-size: 0.9em">{{ notary_data.MORTY }}</th>
							<td data-data="total" style="font-size: 0.9em">{{ notary_data.Total }}</th>
							<td data-data="last_rick" style="font-size: 0.9em">{{ notary_data.Last_RICK }}</th>
							<td data-data="last_morty" style="font-size: 0.9em">{{ notary_data.Last_MORTY }}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row" id="{{ season }}">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title">
				<h4>{{ year }} Testnet Notarisation rankings (24hrs)</h4>
			</div>
			<div class="card-body table_card_body">
				<table id="{{ season }}_table_24hr" class="table table-striped table-bordered" style="width:99%; visibility: hidden;">
					<thead>
						<tr>
							<th style="font-size: 0.9em">24hr RANK</th>
							<th style="font-size: 0.9em">NOTARY</th>
							<th style="font-size: 0.9em">RICK 24hr</th>
							<th style="font-size: 0.9em">MORTY 24hr</th>
							<th style="font-size: 0.9em">TOTAL 24hr</th>
						</tr>
					</thead>
					<tbody>
						{% for notary, notary_data in testnet_ntx_counts.items %}
						<tr>
							<td data-data="rank_24hr">{{ notary_data.24hr_Rank }}</td>
							<td data-data="notary" style="font-size: 0.9em">{{ notary }}</th>
							<td data-data="rick_24hr" style="font-size: 0.9em">{{ notary_data.24hr_RICK }}</th>
							<td data-data="morty_24hr" style="font-size: 0.9em">{{ notary_data.24hr_MORTY }}</th>
							<td data-data="total_24hr" style="font-size: 0.9em">{{ notary_data.24hr_Total }}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>				
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {
        Testnet_table = $('#{{ season }}_table').DataTable({   
					"paging": false,
					deferRender: true,
					"orderClasses": false,
    		order: [[ 0, 'asc' ]],
        	"columns": [
		        { "data": "rank" },
		        { "data": "notary" },
		        { "data": "rick" },
		        { "data": "morty" },
		        { "data": "total" },
		        { "data": "last_rick" },
		        { "data": "last_morty" }
		    ],			    
	        "columnDefs": [
	            {},
	        ]
        });
        Testnet_table_24hr = $('#{{ season }}_table_24hr').DataTable({   
					"paging": false,
					deferRender: true,
					"orderClasses": false,
    		order: [[ 0, 'asc' ]],
        	"columns": [
		        { "data": "rank_24hr" },
		        { "data": "notary" },
		        { "data": "rick_24hr" },
		        { "data": "morty_24hr" },
		        { "data": "total_24hr" }
		    ],			    
	        "columnDefs": [
	            {},
	        ]
        });
        $('#{{ season }}_table').css('visibility', 'visible');
        $('#{{ season }}_table_24hr').css('visibility', 'visible');
    });
</script> 
