{% if region == selected_region %}
<div class="row" id="{{ selected_region }}">
{% else %}
<div class="row" id="{{ selected_region }}" style="display: none;">
{% endif %}
    <div class="card-deck d-flex justify-content-between col-12 m-auto">
        <div class="card table_card floating-card m-0">
            <div class="card-header table_card_title floating-card">
                <h2>{{ selected_region }} Region</h2>
            </div>
            <div class="card-body table_card_body">
                <table id="{{ selected_region }}_table" class="table table-striped table-bordered" style="width:100%; font-size: 1.15em;">
                    <thead>
                        <tr>
                            <th data-data="region_rank">Rank</th>
                            <th data-data="candidate">Candidate</th>
                            <th data-data="candidate_address">Candidate Address</th>
                            <th data-data="num_votes">Vote Tx</th>
                            <th data-data="sum_votes">Votes <span style="font-style: italic; font-size:0.8em">(unverified)</span></th>
                            <th data-data="proposal">Proposal</td>
                            <th data-data="unverified">Unverified</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>    
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

<script>
    $(document).ready(function() {
        {{ selected_region }}_table = $('#{{ selected_region }}_table').DataTable({    
        
            ajax: {
                url: "{% url 'notary_vote_stats_info' %}",
                dataSrc: 'results.{{ selected_region }}',
                "deferRender": true
            },
            "rowCallback": function( row, data ) {
                if (data.region_rank <= 11) {
                    $(row).css('font-weight', 'bold');
                }
                else {
                    $(row).addClass( 'kmd_gray' );    
                }
                if (vote_data.{{ selected_region }}.length > 0) {
                    let tr_class = $(row).attr('class').split(" ")
                    let candidate_data = vote_data.{{ selected_region }}.filter(checkCandidate, data.candidate)

                    if (data.sum_votes > candidate_data[0].sum_votes) { 
                        
                        setTimeout( function () {
                            if (data.region_rank > candidate_data[0].region_rank) { 
                                $('td', row).addClass('highlight_rank_down_bg_vote_up');
                            }
                            else {
                                $('td', row).addClass('highlight_update');    
                            }
                        }, 200);
                        setTimeout( function () {
                            if (tr_class.indexOf('odd') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_odd');
                            }
                            if (tr_class.indexOf('even') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_even');
                            }
                        }, 2200);
                    }

                    if (data.region_rank < candidate_data[0].region_rank) {
                        
                        setTimeout( function () {
                            $('td', row).addClass('highlight_rank_up_bg');
                        }, 200);
                        setTimeout( function () {
                            if (tr_class.indexOf('odd') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_odd');
                            }
                            if (tr_class.indexOf('even') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_even');
                            }
                        }, 2200);
                    }
                    else if (data.region_rank > candidate_data[0].region_rank) { 

                        setTimeout( function () {
                            $('td', row).addClass('highlight_rank_down_bg');
                        }, 200);
                        setTimeout( function () {
                            if (tr_class.indexOf('odd') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_odd');
                            }
                            if (tr_class.indexOf('even') > -1) {
                                $('td', row).addClass('highlight_fadeout_bg_even');
                            }
                        }, 2200);
                    }
                }
            },
            "caption": '{{ selected_region }} Region',
            "paging": false,
            "searching": false,
            "info": false,
            "orderClasses": false,
            order: [[ 0, 'asc' ]],
            "columns": [
                { "data": "region_rank" },
                { "data": "candidate" },
                { "data": "candidate_address" },
                { "data": "num_votes" },
                { "data": "sum_votes" },
                { "data": "proposal" },
                { "data": "unverified" },
            ],
            "columnDefs": [
                { className: "text-left text-nowrap", "targets": [ 1 ] },
                { className: "text-right text-nowrap", "targets": [ 3,4 ] },
                {
                    "targets": 0,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    }
                },
                {
                    "targets": 1,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='"+oData.proposal+"'>"+oData.candidate+"</a>");
                    }
                },
                {
                    "targets": 2,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        let qr_button = "<i class='fa-solid fa-qrcode' id='qr_icon' onclick='get_qrcode("+'"#qr_code", "'+oData.candidate_address+'", "'+oData.candidate.toUpperCase().replace('.', '-').replace('_', ' ')+'", "'+oData.candidate_address+'")'+"' data-toggle='modal' data-target='#qrcode-modal'></i>"
                            $(nTd).html("<a href='https://{{ year }}.komodod.com/a/"
                                +oData.candidate_address+"'><span style='font-size:0.9em;' id='"
                                +oData.candidate.replace('.', '-')+"_address'>"
                                +oData.candidate_address+"</span></a> <i class='fa fa-copy' id='copy_icon' data-clipboard-target='#"
                                +oData.candidate.replace('.', '-')+"_address' data-original-title='Copied!'></i> "+qr_button);
                    }
                },
                {
                    "targets": 3,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html('<a href="{% url "notary_vote_detail_view" %}?candidate='+oData.candidate+'&year={{ year }}">'+oData.num_votes+'</a>');
                    }
                },
                {
                    "targets": 4,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html(oData.sum_votes+' <span style="font-style: italic; font-size:0.8em">('+parseInt(oData.unverified)+')</span>')
                    }
                },
                {
                    "targets": [ 5, 6 ],
                    "visible": false
                }
            ]
        });

        function checkCandidate(data) {
            return data.candidate == this;
        }

        function checkRank(data) {
            return data.region_rank == this;
        }

        {{ selected_region }}_table.on( 'xhr', function () {
            json = {{ selected_region }}_table.ajax.json();
            setTimeout( function () {
                vote_data.{{ selected_region }} = json.results.{{ selected_region }}    
            }, 300);
            
        });
    });
</script> 

