<div class="row" id="{{ region }}">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card">
			<div class="card-header table_card_title">
				<h2>{{ candidate }} {{ year }} Komodo Notary Node Election Votes</h2>
			</div>
			<div class="card-body table_card_body">
				<table id="{{ candidate }}_votes_table" class="table table-striped table-bordered" style="width:99%; visibility: hidden;">
					<thead>
						<tr>
							<th data-data="block_height">BLOCK</th>
							<th data-data="candidate">Candidate</th>
							<th data-data="proposal">Proposal</td>
							<th data-data="candidate_address">Candidate Address</th>
							<th data-data="votes">Votes</th>
							<th data-data="txid">TXID</th>
							<th data-data="block_time">Timestamp</th>
							<th data-data="block_time_human">Timestamp</th>
							<th data-data="valid">Valid</th>
						</tr>
					</thead>
					<tbody>
						{% for item in table_data %}
							<tr>
								<td data-data="block_height">{{ item.block_height }}</td>
								<td data-data="candidate">{{ item.candidate }}</th>
								<td data-data="proposal">{{ item.proposal }}</td>
								<td data-data="candidate_address">{{ item.candidate_address }}</th>
								<td data-data="votes">{{ item.votes }}</td>
								<td data-data="txid">{{ item.txid }}</td>
								<td data-data="block_time">{{ item.block_time }}</td>
								<td data-data="block_time_human">{{ item.block_time_human }}</td>
								<td data-data="valid">{{ item.valid }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<h6>
					The election ends with the first notarised block confirmed after 23:59:59 25th May 2022 UTC (inclusive)
				</h6>
			</div>
		</div>	
	</div>
</div>
<script>
    $(document).ready(function() {
		$('#{{ candidate }}_votes_table').css('visibility', 'visible');
        $('#{{ candidate }}_votes_table').DataTable({
        	"paging": false,
        	"searching": false,
        	"info": false,
            "orderClasses": false,
    		order: [[ 0, 'desc' ]],
        	"columns": [
		        { "data": "block_height" },
		        { "data": "candidate" },
		        { "data": "proposal" },
		        { "data": "candidate_address" },
		        { "data": "votes" },
		        { "data": "txid" },
		        { "data": "block_time" },
		        { "data": "block_time_human" },
		        { "data": "valid" },
		    ],
	        "columnDefs": [
				{ "orderData":[ 6 ],  "targets": [ 7 ] },
    			{
		            "targets": 0,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            $(nTd).html("<a href='https://{{ year }}.komodod.com/b/"+oData.block_height+"'>"+oData.block_height+"</a>");
			        }
		        },
    			{
		            "targets": 1,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            		$(nTd).html("<a href='"+oData.proposal+"'>"+oData.candidate+"</a>");
		            }
		        },
    			{
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            		$(nTd).html("<a href='https://{{ year }}.komodod.com/a/"+oData.candidate_address+"'>"+oData.votes+"</a>");
		            }
		        },
    			{
		            "targets": 5,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            		$(nTd).html("<a href='https://{{ year }}.komodod.com/t/"+oData.txid+"'><span class='' style='' data-toggle='tooltip' data-placement='top' title='View "+oData.txid+" on block explorer'><i class='fa fa-search'></i></span></a>");
		            }
		        },
    			{
		            "targets": 8,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	if (oData.valid == 'True') {
		            		$(nTd).html('<i class="bi bi-bookmark-check-fill"></i>');
		            	}
		            	else if (oData.valid == 'False') {
		            		$(nTd).html('<i class="bi bi-alarm-fill"></i>');
		            	}
		            	
		            }
		        },
	            {
	                "targets": [ 2, 3, 6 ],
	                "visible": false
	            }
				]
        });
    });
</script> 