{% load static %}

    <!-- Sidebar -->
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show kmd_ui_dark3_bg" id="sidebar" style="border-right: 1px solid #000 !important;    ">
      <div class="c-sidebar-brand d-md-down-none kmd_ui_dark1_bg">
        <a href="http://{{ request.get_host }}">
            <img class="c-sidebar-brand-full"height="46" alt="Komodo Logo" src="{% static 'assets/kmd/KMD_Horiz_Light.png' %}" />
            <img class="c-sidebar-brand-minimized" width="46" height="46" alt="Komodo Logo" src="{% static 'assets/kmd/KMD_Mark_Color.png' %}" />
        </a>
      </div>
      <ul class="c-sidebar-nav kmd_ui_dark1_bg">
       
        <li class="c-sidebar-nav-dropdown">
          <a class="c-sidebar-nav-dropdown-toggle" href="#">
              <i class="cil-transfer"></i>  <span style="padding-left: 12px;">API</span>
          </a>
          <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
            <li class="c-sidebar-nav-title">Wallet</li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'addresses_filter-list' %}"> Addresses</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'balances_filter-list' %}"> Balances</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'rewards_filter-list' %}"> Notary Rewards</a></li>

            <li class="c-sidebar-nav-title">Mining</li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'mined_count_date_filter-list' %}"> Daily Mining</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'mined_count_season_filter-list' %}"> Season Mining</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'MinedViewSet-list' %}"> All Mining</a></li>

            <li class="c-sidebar-nav-title">Notarisations</li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'notarised_count_date_filter-list' %}"> Daily Notarisations</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'notarised_count_season_filter-list' %}"> Season Notarisations</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'ntxViewSet-list' %}"> All Notarisations</a></li>
            
            <li class="c-sidebar-nav-title">Info</li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'coins_filter-list' %}"> Coins</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'notary_nodes-list' %}"> Notaries</a></li>
          </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-balance-scale"></i> 
                <span style="padding-left: 12px;">NOTARY PROFILES</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
            {% for section, info in sidebar_links.notaries_menu.items %}
            <li class="c-sidebar-nav-title" style="line-height:1 !important;">{{ info.name }}</li>
                {% for option in info.nodes %}
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/notary_profile/{{ option }}"> {{ option }}
                    </a>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-layers"></i> 
                <span style="padding-left: 12px;">COIN PROFILES</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
            {% for section, info in sidebar_links.chains_menu.items %}
            <li class="c-sidebar-nav-title" style="line-height:1 !important;">{{ section }}</li>
                {% for option in info %}
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/coin_profile/{{ option }}"> {{ option }}
                    </a>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cib-bitcoin"></i>  
                <span style="padding-left: 12px;">Funding</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/funding"> Funding Overview
                    </a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/funds_sent"> Funds Sent
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-check-circle"></i>  
                <span style="padding-left: 12px;">SYNC</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/chain_sync"> Block Hash Comparison
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-library-building"></i>   
                <span style="padding-left: 12px;">NOTARISATION</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/ntx_scoreboard"> Scoreboard
                    </a>
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/chains_last_ntx"> Last Notarised
                    </a>
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/chains_last_ntx"> Notarised last 24hrs
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-diamond"></i>   
                <span style="padding-left: 12px;">Mining</span>
            </a>
            <ul class="c-sidebar-nav-dropdown-items" style="line-height:1.3 !important;">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/mining_overview"> Mining Overview
                    </a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="http://{{ request.get_host }}/mining_24hrs"> Mining last 24hrs
                    </a>
                </li>
            </ul>
        </li>
      </ul>
      <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
    </div>
    <!-- End Sidebar -->