{% load static %}
	{% if show_ticker %}
		<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
		<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,komodo,pirate-chain,hush,verus-coin,redfox-labs,utrum" currency="usd" background-color="#1a2939" locale="en" font-color="#d1d1d1"></coingecko-coin-price-marquee-widget>
	{% endif %}
        <footer class="c-footer kmd_ui_dark1_bg">
			<!-- Footer content here -->
			{% autoescape off %}
				<span class="m-auto kmd_ui_light1">{{ eco_data_link }}</span>
			{% endautoescape %}
        </footer>