{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-5 px-0 mt-auto shadow-none">
				<div class="card-body kmd_ui_dark2_bg p-0">
					<ul class="list-group">
					  <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
							    Notarisations in the Last 24hrs
							    <span class="badge p-2 kmd_ui_dark4_bg">
							    	{{ chain_ntx_summary.num_chain_ntx_24hr }}
							    </span>
							</button>
					  	</li>
					 	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
						    	Notarisations This Season
							    <span class="badge p-2 kmd_ui_dark4_bg">
							    	{{ chain_ntx_summary.num_chain_ntx_season }}
							    </span>
							</button>									    
					  	</li>
					  	<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
							    Time Since Last Notarisation
							    <span class="badge p-2 kmd_ui_dark4_bg">
							    	<a href="//{{ request.get_host }}/chains_last_ntx/">{{ chain_ntx_summary.time_since_ntx }}</a>
							    </span>
							</button>
					  	</li>
					</ul> 	
				</div>
			</div>
        	<div class="card kmd_ui_dark2_bg kmd_ui_light3 col-2 px-0 mt-auto shadow-none">
        		<div class="row d-flex justify-content-between align-items-center">
            		<div class="p-1 col-8 m-auto">
						{% for coin, site_links in coin_social.items %}
							{% if chain == coin and site_links.icon != '' %}
								<img class="card-img-top m-auto auto-width p-2" height='96px' src="{{ site_links.icon }}" alt="{{ chain }} image here" style="border-radius: 50%;">
							{% else %}
								<img class="card-img-top m-auto auto-width p-2" height='96px' src="{% static 'img/notary/icon/' %}blank.png" alt="" style="border-radius: 50%;">
							{% endif %}
						{% endfor %}
					</div>
					<!--
					<div class="text-left my-auto p-0 col-7">
					{% for coin, site_links in coin_social.items %}
						{% if chain == coin %}
							{% for site, link in site_links.items %}
								{% if site == 'twitter' and link != '' %}
									<i class="fab fa-twitter mr-2"></i>  <a class="sml-social" href="https://twitter.com/{{ link }}">{{ link }}</a><br />
								{% elif site == 'discord' and link != '' %}
									<i class="fab fa-discord mr-2"></i> <a class="sml-social" href="https://discordapp.com/users/{{ link }}">{{ link }}</a><br />
								{% elif site == 'github' and link != '' %}
									<i class="fab fa-github mr-2"></i> <a class="sml-social" href="https://github.com/{{ link }}">{{ link }}</a><br />
								{% elif site == 'youtube' and link != '' %}
									<i class="fab fa-youtube mr-2"></i> <a class="sml-social" href="https://www.youtube.com/channel{{ link }}"> Youtube Channel</a><br />
								{% elif site == 'telegram' and link != '' %}
									<i class="fab fa-telegram-plane mr-2"></i> <a class="sml-social" href="https://t.me/{{ link }}">{{ link }}</a><br />
								{% elif site == 'explorer' and link != '' %}
									<i class="fas fa-search mr-2"></i> <a class="sml-social" href="https://{{ link }}">{{ link }}</a><br />
								{% elif site == 'website' and link != '' %}
									<i class="fas fa-desktop mr-2"></i> <a class="sml-social" href="https://{{ link }}">{{ link }}</a><br />
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					</div>
					-->							
				</div>
        		<div class="row d-flex justify-content-between align-items-center m-auto">
        			<a href="//{{ request.get_host }}/notary_profile/{{ chain }}" class="text-uppercase">
        				<h3 style="margin:0.75rem;" class="">{{ chain }}</h3>
					</a>								
				</div>
        		<div class="row d-flex justify-content-between align-items-center m-auto">
					<div class="text-left my-auto p-0 col-7">
					{% for coin, site_links in coin_social.items %}
						{% if chain == coin %}
							{% for site, link in site_links.items %}
								{% if site == 'twitter' and link != '' %}
									<a class="sml-social" href="https://twitter.com/{{ link }}"><i class="fab fa-twitter mr-2"></i></a>
								{% elif site == 'discord' and link != '' %}
									<a class="sml-social" href="https://discordapp.com/users/{{ link }}"><i class="fab fa-discord mr-2"></i></a>
								{% elif site == 'github' and link != '' %}
									<a class="sml-social" href="https://github.com/{{ link }}"><i class="fab fa-github mr-2"></i></a>
								{% elif site == 'youtube' and link != '' %}
									<a class="sml-social" href="https://www.youtube.com/channel{{ link }}"><i class="fab fa-youtube mr-2"></i></a>
								{% elif site == 'telegram' and link != '' %}
									<a class="sml-social" href="https://t.me/{{ link }}"><i class="fab fa-telegram-plane mr-2"></i></a>
								{% elif site == 'explorer' and link != '' %}
									<a class="sml-social" href="https://{{ link }}"><i class="fas fa-search mr-2"></i></a>
								{% elif site == 'website' and link != '' %}
									<a class="sml-social" href="https://{{ link }}"><i class="fas fa-desktop mr-2"></i></a>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
			<div class="card text-center kmd_ui_dark4_bg kmd_ui_light1 col-5 px-0 mt-auto shadow-none">
				<div class="card-body kmd_ui_dark2_bg p-0">
					<ul class="list-group">
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
						    	{% if chain != 'KMD' %}
							    	Last Notarisation Block (KMD)
								    <span class="badge p-2 kmd_ui_dark4_bg">
								    	<a href='https://komodod.com/b/{{ chain_ntx_summary.last_ntx_block }}'>{{ chain_ntx_summary.last_ntx_block }}</a>
								    </span>
							    {% else %}
							    	Last Notarisation Block (LTC)
								    <span class="badge p-2 kmd_ui_dark4_bg">
								    	<a href='https://chainz.cryptoid.info/ltc/block.dws?{{ chain_ntx_summary.last_ntx_block }}'>{{ chain_ntx_summary.last_ntx_block }}</a>
								    </span>
							    {% endif %}
							</button>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
							    Last Notarisation Block ({{ chain }})
							    <span class="badge p-2 kmd_ui_dark4_bg">
							    	<a href='{{ coins_data.explorers.0 }}block-index/{{ chain_ntx_summary.last_ntx_ac_block }}'>{{ chain_ntx_summary.last_ntx_ac_block }}</a>
							    </span>
							</button>
					    </li>
					    <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
						    <button type="button" class="btn kmd_blue_bg col-12 d-flex justify-content-between align-items-center">
							    Lag
							    <span class="badge p-2 kmd_ui_dark4_bg">
							    	{{ chain_ntx_summary.ntx_lag }}
							    </span>
							</button>
					    </li>
					</ul> 
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="card-deck d-flex justify-content-between col-12 m-auto shadow-none">
			<div class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-12 px-0 mt-auto shadow-none">
				<div class="card-body kmd_ui_dark2_bg p-0 shadow-none">
					<ul class="list-group">
						<li class="list-group-item border-0 d-flex justify-content-between align-items-center">
							<button type="button" class="btn col-12 shadow-none">
							    <div class="col-12 d-flex justify-content-between align-items-center">
								    {% for region, data in top_coin_notarisers.items %}
									    <span class="badge kmd_ui_dark4_bg m-2" style="width:16%; background-color: #26456B !important;">
									    	<div class="col-12">
									    		<i class="fas fa-trophy"></i>
									    	</div>
									    	<div class="col-12">
									    		{{ data.top_notary }}<br />{{ data.top_ntx_count }}
									    	</div>
									    </span>
									{% endfor %}
								</div>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card kmd_ui_dark1_bg m-auto col-10">
			<div class="card-body kmd_ui_dark1_bg">
				<table id="coins_info_tbl" class="table table-striped table-bordered kmd_ui_light4 col-12 m-auto" style="width:99%">
					<tbody>
						<tr>
							<td data-data="">CLI</td>
							<td style="font-size: 0.9em; text-align: left;" data-data="">
								<span class='badge kmd_ui_dark3_bg p-2'>
									{{ coins_data.coins_info.cli }}
								</span>
							</td>
						</tr>
						<tr>
							<td data-data="">Config</td>
							<td style="font-size: 0.9em; text-align: left;" data-data="">
								<span class='badge kmd_ui_dark3_bg p-2'>
									{{ coins_data.coins_info.conf_path }}
								</span>
							</td>
						</tr>
						<tr>
							<td data-data="">Launch</td>
							{% if coins_data.coins_info.launch_params|length > 80 %}
							<td style="font-size: 0.8em; text-align: left;" data-data="">
								<div class='kmd_ui_dark3_bg p-2'>
									{{ coins_data.coins_info.launch_params }}
								</div>
							</td>
							{% else %}
							<td style="font-size: 0.8em; text-align: left;" data-data="">
								<span class=' badge kmd_ui_dark3_bg p-2'>
									{{ coins_data.coins_info.launch_params }}
								</span>
							</td>
							{% endif %}
						</tr>
						{% if coins_data.explorers|length > 0 %}
						<tr>
							<td data-data="">Explorers</td>
							<td style="font-size: 0.9em; text-align: left;" data-data="">
								{% for x in coins_data.explorers %}
									<span class='badge kmd_ui_dark3_bg p-2'>
										<a href="{{ x }}">{{ x }}</a>
									</span>
								{% endfor %}
							</td>
						</tr>
						{% endif %}
						{% if coins_data.electrums|length > 0 %}
						<tr>
							<td data-data="">Electrums</td>
							<td style="font-size: 0.9em; text-align: left;" data-data="">
								{% for x in coins_data.electrums %}
									<span class='badge kmd_ui_dark3_bg p-2'>{{ x }}</span>
								{% endfor %}
							</td>
						</tr>
						{% endif %}
						{% if coins_data.electrums_ssl|length > 0 %}
						<tr>
							<td data-data="">Electrums (SSL)</td>
							<td style="font-size: 0.9em; text-align: left;" data-data="">
								{% for x in coins_data.electrums_ssl %}
									<span class='badge kmd_ui_dark3_bg p-2'>{{ x }}</span>
								{% endfor %}
							</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<h4 class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#ntx"><span class='badge kmd_ui_dark1_bg p-2'>Notarisations</span></a>
			</h4>
			<h4 class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#balances"><span class='badge kmd_ui_dark1_bg p-2'>Balances</span></a>
			</h4>
			<h4 class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#addresses"><span class='badge kmd_ui_dark1_bg p-2'>Addresses</span></a>
			</h4>
			<h4 class="card text-center kmd_ui_dark2_bg kmd_ui_light3 col-3 px-0 mt-auto shadow-none">
				<a href="#funding"><span class='badge kmd_ui_dark1_bg p-2'>Funding</span></a>
			</h4>
		</div>
	</div>
	-->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card text-center kmd_ui_dark4_bg kmd_ui_light3 col-12 px-0">
				<div class="card-header kmd_ui_dark3_bg d-flex justify-content-between">
					<div class="my-auto">
						{{ season_clean }} {{ chain }} Wallet Balances
					</div>
					<div>
					    <span class="badge kmd_ui_dark1_bg m-2 p-2">AR <i class="fa fa-circle" aria-hidden="true" style="color:#dc0333"></i></span>
					    <span class="badge kmd_ui_dark1_bg m-2 p-2">EU <i class="fa fa-circle" aria-hidden="true" style="color:#2fea8b"></i></span>
					    <span class="badge kmd_ui_dark1_bg m-2 p-2">NA <i class="fa fa-circle" aria-hidden="true" style="color:#b541ea"></i></span>
					    <span class="badge kmd_ui_dark1_bg m-2 p-2">SH <i class="fa fa-circle" aria-hidden="true" style="color:#00e2ff"></i></span>
					    <span class="badge kmd_ui_dark1_bg m-2 p-2">DEV <i class="fa fa-circle" aria-hidden="true" style="color:#f7931a"></i></span>
					</div>
				</div>
				<div class="card-body kmd_ui_dark1_bg">
					<span id="graph_title"></span>
				    <canvas id="myChartBar"></canvas> 
				</div>	
			</div>	
		</div>	
	</div>	
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card kmd_ui_light4">
				<div class="card-header kmd_ui_dark1_bg">
					<h4>{{ season_clean }} {{ chain }} Addresses & Balances</h4>
				</div>
				<div class="card-body kmd_ui_dark1_bg">
					<table id="balances_table" class="table table-striped table-bordered kmd_ui_light4 m-auto" style="width:99%">
						<thead>
							<tr>
								<th data-data="notary">NOTARY</th>
								<th data-data="address">ADDRESS</th>
								<th data-data="balance">BALANCE</th>
								<th data-data="server">SERVER</th>
								<th data-data="update">UPDATED</th>
							</tr>
						</thead>
						<tbody>
							{% for item in chain_balances %}
							<tr>
								<td data-data="notary">{{ item.notary }}</td>
								<td data-data="address">{{ item.address }}</td>
								<td data-data="balance">{{ item.balance|floatformat:-4 }}</td>
								<td data-data="server">{{ item.server }}</td>
								<td data-data="update">{{ item.update_time }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
    <!-- jquery -->
  
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ explorers|json_script:"explorers-data" }}
  	<script>
	    $(document).ready(function() {
	    	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	        $('#balances_table').DataTable({
	           "pageLength": 64,
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
        		"columnDefs": [
			        {
			            "data": "notary",
		                "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2' style='font-size: 0.9em;'><a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"'>"+oData.notary+"</a></span>");
				        }
		            },
        			{
			            "data": "address",
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='"+explorers['{{ chain }}'][0]+'address/'+oData.address+"'>"+oData.address+"</a>");
				        }
			        },
        			{
			            "data": "balance",
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2' style='font-size: 0.9em;'>"+oData.balance+"</a></span>");
				        }
			        },
        			{
			            "data": "server",
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (oData.server == "Main") {
			            		color = "#6f5f23";
			            	}
			            	else if (oData.server == "Third_Party") {
			            		color = "#225d51";
			            	}
			            	else if (oData.server == "Testnet") {
			            		color = "#622C7B";
			            	}
			            	else {
			            		color = "#000";	
			            	}
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-1' style='background-color:"+color+" !important;'>"+oData.server+"</span>");
			        	}
			        },
        			{
			            "data": 'update_time',
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	var time_now = Date.now()/1000;
			            	totalSeconds = time_now-oData.update_time
			            	days = Math.floor(totalSeconds / 86400);
						    totalSeconds %= 86400;
			            	hours = Math.floor(totalSeconds / 3600);
						    totalSeconds %= 3600;
						    minutes = Math.floor(totalSeconds / 60);
						    seconds = totalSeconds % 60;
						    if (days == 0 & hours ==0) {
						    	timesince = minutes+" min"
						    } else if (days == 0) {
						    	timesince = hours+" hrs, "+minutes+" min"
						    } else {
						    	timesince = days+" days, "+hours+" hrs"
						    }
		            		$(nTd).html("<span class='badge kmd_ui_dark1_bg p-2' style='font-size: 0.8em;'>"+timesince+"</span>");
				        }
			        }
        		]
	        });
	    });
	    $.ajax({ 
	      method: "GET", 
	      url: '//{{ request.get_host }}/api/graph/balances/?season={{ season }}&server={{ server }}&chain={{ chain }}', 
	      success: function(data) { 
	      	//document.getElementById('graph_title').innerHTML = data.chartLabel;
	        //drawLineGraph(data, 'myChartline'); 
	        drawBarGraph(data['results'], 'myChartBar'); 
	        console.log("drawing"); 
	      }, 
	      error: function(error_data) { 
	        console.log(error_data); 
	      } 
	    }) 
	  
		Chart.defaults.global.defaultFontColor = 'white';
		Chart.defaults.global.defaultFontSize = 14;

	    /*
	    function drawLineGraph(data, id) { 
			var labels = data.labels; 
			var chartLabel = data.chartLabel; 
			var chartdata = data.chartdata; 
			var ctx = document.getElementById(id).getContext('2d'); 
			var chart = new Chart(ctx, { 
		        // The type of chart we want to create 
		        type: 'line', 
		  
		        // The data for our dataset 
		        data: { 
		          labels: labels, 
		          datasets: [{ 
		            label: chartLabel, 
		            backgroundColor: 'rgb(255, 100, 200)', 
		            borderColor: 'rgb(55, 99, 132)', 
		            data: chartdata, 
		          }] 
		        }, 
		  
		        // Configuration options go here 
		        options: { 
			        scales: { 
			            xAxes: [{ 
			                display: true 
			            }], 
			            yAxes: [{ 
			                ticks: { 
			                	beginAtZero: true 
			                } 
			            }] 
		            } 
		        } 
	     	}); 
	    } */
	  
	    function drawBarGraph(data, id) { 
			var labels = data.labels; 
			var chartLabel = data.chartLabel; 
			var chartdata = data.chartdata; 
			var bg_color = data.bg_color; 
			var border_color = data.border_color; 
			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
						    scaleLabel: {
						        display: true,
						        labelString: 'Balance in Notary Wallets',
				            	fontColor: '#B7BBBF'
						    },
						    type: 'logarithmic',
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								min: 0, //minimum tick
								max: {{ max_tick }}, //maximum tick
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    },
						    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
						        chartObj.ticks = [];
						        chartObj.ticks.push(0.1);
						        chartObj.ticks.push(1);
						        chartObj.ticks.push(10);
						        chartObj.ticks.push(100);
						        chartObj.ticks.push(1000);
						        chartObj.ticks.push(10000);
						    }
						}],
						xAxes: [{
							position: 'nearest',
							padding: 0,
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
  </script> 

{% endblock %}
