{% extends "base2.html" %}
{% load static %}
{% block content %}
	<div class="container" width='80%'>
		<div id="ui-view">
			<div class="fade-in">	
            	{% for region, info in nn_health.regions_info.items %}	
				<div class="card text-center">	
					<div class="card-header kmd_ui_dark1_bg">
						<h4 class="text-uppercase kmd_teal">{{ info.name }}</h4>
					</div>		
					<div class="card-body kmd_ui_dark1_bg">
						<div class="row m-1 d-flex justify-content-between">	
			            	{% for node in info.nodes %}
			            	<div class="card kmd_ui_dark3_bg kmd_ui_light3 col-2 px-0 mx-1">
			            		<a href="http://{{ request.get_host }}/profile/{{ node }}">
				            		<div class="p-2">
										<img class="card-img-top m-auto auto-width" height='96px' src="{% static 'img/notary/icon/' %}{{ node }}.png" alt="{{ node }} image here" style="border-radius: 50%;">
									</div>
								</a>	
								<div class="card-body kmd_ui_dark4_bg" style="padding: 1rem; ">
									<p class="card-text kmd_ui_light3 text-uppercase" style="font-size: 0.9em; ">
			            			<a href="http://{{ request.get_host }}/profile/{{ node }}">
			            				{{ node }}
									</a><br />
									<i class="fab fa-twitter"> </i>
									<i class="fab fa-github"></i>
									<i class="fab fa-discord"></i>
									<i class="fab fa-youtube"> </i>
									<i class="fab fa-keybase"></i>
									<i class="fab fa-telegram-plane"></i>
									<i class="fas fa-desktop"></i>
									</p>
								</div>
							</a>
							</div>	
			                {% endfor %}
						</div>		
					</div>		
				</div>		
            	{% endfor %}		
			</div>	
		</div>
	</div>
{% endblock %}
