{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Awaiting review -->
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card kmd_ui_light4">
				<div class="card-header kmd_ui_dark1_bg">
					Notary Funding 
					<h5>Reference only - still in testing</h5>
				</div>
				<div class="card-body kmd_ui_dark1_bg">
					<table id="totals_table" class="table table-striped table-bordered kmd_ui_light4 m-auto" style="width:99%">
						<thead>
							<tr>
								<th>Chain</th>
								<th>notary</th>
								<th>Received</th>
							</tr>
						</thead>
						<tbody>
							{% for notary, notary_chains in funding_totals.items %}
								{% for chain, value in notary_chains.items %}
									<tr>
										<td>{{ chain }}</td>
										<td>{{ notary }}</td>
										<td>{{ value }}</td>
									</tr>
								{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<!-- Table to large and loads slow
	<div class="row my-3">
		<div class="card-deck d-flex justify-content-between col-12 m-auto">
			<div class="card kmd_ui_light4">
				<div class="card-header kmd_ui_dark1_bg">
					Notary Funding Transactions
				</div>
				<div class="card-body kmd_ui_dark1_bg">
					<table id="table_id" class="table table-striped table-bordered kmd_ui_light4 m-auto" style="width:99%">
						<thead>
							<tr>
								<th>Chain</th>
								<th>notary</th>
								<th>txid</th>
								<th>amount</th>
								<th>fee</th>
								<th>block</th>
								<th>time</th>
							</tr>
						</thead>
						<tbody>
							{% for item in funding_data %}
								{% if item.notary != 'unknown' and item.notary != 'funding bot' %}
									<tr>
										<td>{{ item.chain }}</td>
										<td>{{ item.notary }}</td>
										<td>{{ item.txid }}</td>
										<td>{{ item.amount }}</td>
										<td>{{ item.fee }}</td>
										<td>{{ item.block_height }}</td>
										<td>{{ item.time }}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div> -->

    <!-- jquery -->
  
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ explorers|json_script:"explorers-data" }}

  	<script>  
	    $(document).ready(function() {
	       	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);

	    /*  $('#table_id').DataTable({
	        	"columns": [
			        { "data": "chain" },
			        { "data": "notary" },
			        { "data": "txid" },
			        { "data": "amount" },
			        { "data": "fee" },
			        { "data": "block_height" },
			        { "data": "block_time" }
			    ],
        		order: [[ 0, 'asc' ], [ 0, 'asc' ], [ 1, 'asc' ]],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/coin_profile/"+oData.chain+"'>"+oData.chain+"</a>");
				        }
        			},
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"'>"+oData.notary+"</a>");
				        }
        			},
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='"+explorers[oData.chain]+'tx/'+oData.txid+"'>"+oData.txid.slice(0, 3)+"..."+oData.txid.slice(-3)+"</a>");
				        }
			        },
        		]
	        }); */
	        $('#totals_table').DataTable({
	        	"columns": [
			        { "data": "chain" },
			        { "data": "notary" },
			        { "data": "amount" }
			    ],
        		order: [[ 0, 'asc' ], [ 1, 'asc' ], [ 2, 'desc' ]],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/coin_profile/"+oData.chain+"'>"+oData.chain+"</a>");
				        }
        			},
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<a href='//{{ request.get_host }}/notary_profile/"+oData.notary+"'>"+oData.notary+"</a>");
				        }
        			}
        		]
	        });
	       	/*
	       	var chains_data = JSON.parse(document.getElementById('low_chain-data').textContent);
   	        drawChainsBarGraph(chains_data, 'ChainsBarGraph'); 

	       	var notary_data = JSON.parse(document.getElementById('low_notary-data').textContent);
   	        drawNotaryBarGraph(notary_data, 'NotaryBarGraph'); 
			*/
	    });

		Chart.defaults.global.defaultFontColor = 'white';
		Chart.defaults.global.defaultFontSize = 14;
/*
	    function drawNotaryBarGraph(data, id) { 
          {% autoescape off %}
			var labels = {{ notary_balance_graph_data.labels }}; 
			var chartLabel = ''; 
			var chartdata = {{ notary_balance_graph_data.chartdata }}; 
			var bg_color = {{ notary_balance_graph_data.bg_color }}; 
			var border_color = {{ notary_balance_graph_data.border_color }};
          {% endautoescape %}

			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
						    scaleLabel: {
						        display: true,
						        labelString: 'Number of Notaries with a low balance',
				            	fontColor: '#B7BBBF'
						    },
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    }
						}],
						xAxes: [{
							position: 'nearest',
							padding: 0,
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
	    function drawChainsBarGraph(data, id) { 
          {% autoescape off %}

			var labels = {{ chain_balance_graph_data.labels }}; 
			//var chartLabel = {{ chain_balance_graph_data.chartLabel }};
			var chartLabel = ''; 
			var chartdata = {{ chain_balance_graph_data.chartdata }}; 
			var bg_color = {{ chain_balance_graph_data.bg_color }}; 
			var border_color = {{ chain_balance_graph_data.border_color }};
          {% endautoescape %}
			var ctx = document.getElementById(id).getContext('2d'); 
			var myChart = new Chart(ctx, { 
				type: 'bar', 
				data: { 
				  labels: labels, 
				  datasets: [{ 
				    label: chartLabel, 
				    data: chartdata, 
				    backgroundColor: bg_color,
				    borderColor: border_color, 
				    borderWidth: 1 
				  }] 
				}, 
				options: { 
	    			responsive: true,
					tooltips: {
						position: 'nearest',
						mode: 'index',
						intersect: true,
					},
				    legend: {
				    	display: false,
				        labels: {
				            fontColor: '#B7BBBF'
				        }
				    },
					scales: { 
						yAxes: [{
						    scaleLabel: {
						        display: true,
						        labelString: 'Number of chains with a low balance',
				            	fontColor: '#B7BBBF'
						    },
						    position: 'left',
						    ticks: {
							    fontColor: '#41EAD4',
								callback: function (value, index, values) {
									return Number(value.toString());//pass tick values as a string into Number function
								}
						    }
						}],
						xAxes: [{
							position: 'nearest',
							padding: 0,
							ticks: {
							    fontColor: '#41EAD4'
							}
						}]
				  	} 
				} 
			}); 
	    } 
	    */
  </script> 

{% endblock %}
