{% extends 'dashboard/am_base.html' %}
{% csrf_token %} 
{% load static %}
{% block content %}
	<div class="col-md-12 px-3 py-1 mx-auto rounded text-center" style="pointer-events: all; border: solid #0000; background-color: #0000  !important;">
		{% include "dashboard/filters/coin_time.html" %}
		<div class="card-deck">	
			<div class="card text-white bg-dark mb-3" style="min-width: 80%; min-height: 333px;">
				<div class="card-header">Raw Output</div>
				<div class="card-body">
					{{ raw }}
				</div>
			</div>	
		</div>
		<div class="card-deck">	
			<div class="card text-white bg-dark mb-3" style="min-width: 80%; min-height: 333px;">
				<div class="card-header">Include Filter Output</div>
				<div class="card-body">
					{{ include }}
				</div>
			</div>	
		</div>
		<div class="card-deck">	
			<div class="card text-white bg-dark mb-3" style="min-width: 80%; min-height: 333px;">
				<div class="card-header">Exclude Filter Output</div>
				<div class="card-body">
					{{ exclude }}
				</div>
			</div>	
		</div>
	</div>
{% endblock %}



