{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-12 mx-auto my-2" style="color:#FFF;">
		<div class="card m-auto">
			<div class="card-header col-12 m-auto">
				<h2 class="col-12">Get Addresses for Pubkey</h2>
				<form>
				  <div class="input-group mb-3 kmd_ui_dark1_bg" style="min-width: 50em">
				    <div class="input-group-prepend p-0" >
				      <span class="input-group-text  kmd_ui_dark4_bg" style="color:white; border: solid grey 1px !important; line-height: 1em;">
				      	Enter Pubkey
				      </span>
				    </div>
				    <input type="text" class="form-control m-auto kmd_ui_dark3_bg" id="pubkey_id" name="pubkey" placeholder="{{ pubkey }}"  style="border: solid grey 1px !important; font-size: 1em; line-height: 1em; text-align: center; min-width: 44em">
				    <div class="input-group-append p-0 kmd_ui_dark4_bg">
						<button class="btn btn-dark"style="line-height: 1em; border: solid grey 1px !important;">
						    Get Addresses
						</button>
				    </div>
				  </div>
				</form>
			</div>
			{% if pubkey %}
			<div class="card-body m-auto col-12">

				{% if address_rows %}
				<table id="pubkey_addresses" class="table table-striped table-bordered kmd_ui_light4 m-auto" style="width:99%; visibility: hidden;">
					<thead>
						<tr>
							<th data-data="chain">Chain</th>
							<th data-data="pubtype">Pubtype</th>
							<th data-data="p2shtype">P2shtype</th>
							<th data-data="wiftype">WifType</th>
							<th data-data="address">Address</th>
						</tr>
					</thead>
					<tbody>
						{% for item in address_rows %}
							<tr>
								<td style="font-size: 1.2em" data-data="chain">{{ item.coin }}</td>
								<td style="font-size: 1.2em" data-data="pubtype">{{ item.pubtype }}</td>
								<td style="font-size: 1.2em" data-data="p2shtype">{{ item.p2shtype }}</td>
								<td style="font-size: 1.2em" data-data="wiftype">{{ item.wiftype }}</td>
								<td style="font-size: 1.2em" data-data="address">{{ item.address }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
			{% endif %}
		</div>	
	</div>
    <!-- jquery -->
  
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  	{{ explorers|json_script:"explorers-data" }}

	{% if address_rows %}
  	<script>
	    $(document).ready(function() {
	    	$('#pubkey_addresses').css('visibility', 'visible');
	       	var explorers = JSON.parse(document.getElementById('explorers-data').textContent);
	        $('#pubkey_addresses').DataTable({
	           "pageLength": 50,
        		order: [[ 0, 'asc' ]],
	        	"columns": [
			        { "data": "chain" },
			        { "data": "pubtype" },
			        { "data": "p2shtype" },
			        { "data": "wiftype" },
			        { "data": "address" }
			    ],
        		"columnDefs": [
        			{
			            "targets": 0,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2'>"+oData.chain+"</span>");
				        }
			        },
        			{
			            "targets": 1,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2'>"+oData.pubtype+"</span>");
				        }
			        },
        			{
			            "targets": 2,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2'>"+oData.p2shtype+"</span>");
				        }
			        },
        			{
			            "targets": 3,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				            $(nTd).html("<span class='badge kmd_ui_dark1_bg p-2'>"+oData.wiftype+"</span>");
				        }
			        },
        			{
			            "targets": 4,
			            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            	if (!(explorers.hasOwnProperty(oData.chain))) {
			            		$(nTd).html("<span  class='badge kmd_ui_dark1_bg p-2'>"+oData.address+"</span>");	
			            	}
			            	else if (explorers[oData.chain][0].search("cryptoid") > -1) {
			            		$(nTd).html("<a class='badge kmd_ui_dark1_bg p-2' href='"+explorers[oData.chain][0]+'address.dws?'+oData.address+".htm'>"+oData.address+"</a>");	
			            	}
			            	else {
			            		$(nTd).html("<a class='badge kmd_ui_dark1_bg p-2' href='"+explorers[oData.chain][0]+'address/'+oData.address+"'>"+oData.address+"</a>");	
			            	}
			            }
			        }
        		]
	        });
	    });
    </script> 
    {% endif %}
{% endblock %}
