<!-- START components/tables/notary_profile/notary_season_ntx_table.html -->
<div class="text-center" id="ntx-loading-spinner" style="height: 100%">
	<div class="spinner-border m-10" role="status">
	</div>
	<div class="m-3">Loading {{ notary_clean }} {{ season_clean }} NTX Summary...</div>
</div>
<div class="row" id="ntx">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="season_ntx_card" style="visibility: hidden;">
			<div class="card-body table_card_body">
				<table id="ntx_table" class="table table-striped table-bordered" style="width:100%;">
					<thead>
						<tr>
							<th data-data="coin">Coin</th>
							<th data-data="server">Server</th>
							<th data-data="coin_ntx_count">Notarisations</th>
							<th data-data="coin_ntx_count_pct">Participation</th>
							<th data-data="coin_ntx_score">Score</th>
							<th data-data="last_ntx_blockhash">Last NTX Blockhash</th>
							<th data-data="last_ntx_blockheight">Last NTX Height</th>
							<th data-data="last_ntx_txid">Last nTxid</th>
							<th data-data="opret">Op Return</th>
							<th data-data="last_ntx_blocktime">Since last ntx</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>	
	</div>
</div>
<script>  
    $(document).ready(function() {

     	let url = "{% url 'notary_season_ntx_summary_table' %}?notary={{ notary }}&season={{ season }}"
     	console.log(url)
        var ntxTable = $('#ntx_table').DataTable({
     		"ajax": {
                "serverSide": true,
			    "url": url,
	    		"dataSrc": 'results',
    			"deferRender": true
			},
    		"order": [[ 6, 'desc' ], [ 0, 'asc' ]],
            "orderClasses": false,
        	"paging": false,
        	"columns": [
		        { "data": "coin" },
		        { "data": "server" },
		        { "data": "coin_ntx_count" },
		        { "data": "coin_ntx_count_pct" },
		        { "data": "coin_ntx_score" },
		        { "data": "last_ntx_blockhash" },
		        { "data": "last_ntx_blockheight" },
		        { "data": "last_ntx_txid" },
		        { "data": "opret" },
		        { "data": "last_ntx_blocktime" }
		    ], 
    		"columnDefs": [
				{ className: "text-left text-nowrap fw-14pct", "targets": [ 0 ] },
    			{ className: "text-right text-nowrap fw-14pct", "targets": [ 2, 3, 4, 6, 9 ] },
    			{
		            "targets": 0,
		            "data": "coin",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_coin_icon(oData.coin));
			        }
    			},
    			{
		            "data": "server",
		            "targets": 1,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_server_styled(oData.server));
		        	}
		        },
    			{
		            "data": "coin_ntx_count",
		            "targets": 2,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html("<a href='{% url 'notary_coin_notarised_view' %}?season={{ season }}&server={{ data.server }}&notary={{ notary }}&coin={{ data.coin }}'>"+oData.coin_ntx_count+"")
		            }			            
		        },
    			{
		            "data": "coin_ntx_count_pct",
		            "targets": 3,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(parseFloat(oData.coin_ntx_count_pct).toFixed(3) + ' %')
		            }			            
		        },
    			{
		            "data": "coin_ntx_score",
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html("<a href='{% url 'notary_epoch_scores_view' %}?notary={{ notary }}&server={{ data.server }}&coin={{ data.coin }}&season={{ season }}'>"+parseFloat(oData.coin_ntx_score).toFixed(3)+"</a>")
		            }			            
		        },
    			{
		            "data": 'last_ntx_blockhash',
		            "targets": 5,
	                "visible": false,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			        }
		        },
    			{
		            "data": 'last_ntx_blockheight',
		            "targets": 6,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	if (oData.coin == "KMD") $(nTd).html(get_block_url("LTC", oData.last_ntx_blockheight))
		            	else $(nTd).html(get_block_url("KMD", oData.last_ntx_blockheight))
			        }
		        },
    			{
		            "data": 'last_ntx_txid',
		            "targets": 7,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						if (oData.coin == "KMD") $(nTd).html(get_txid_url("LTC", oData.last_ntx_txid))
						else $(nTd).html(get_txid_url("KMD", oData.last_ntx_txid))
			        }
		        },
    			{
		            "data": 'opret',
		            "targets": 8,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	let op_return = (oData.opret.split(" ").length > 1) ? oData.opret.split(" ")[1] : oData.opret
						let icon = "<i class='fas fa-arrow-right'></i>"
						let tooltip = "Decode OP_RETURN: "+op_return
						let url = "{% url 'decode_op_return_view' %}?OP_RETURN="+op_return+"&season={{ season }}"
			            $(nTd).html(get_detail_link_icon(icon, tooltip, url));
			        }
		        },
    			{
		            "data": 'last_ntx_blocktime',
		            "targets": 9,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_time_since(oData.last_ntx_blocktime));
			        }
		        }
    		],
    		dom: '<"row mx-0 mt-3 "<"season_ntx_tbl_title col-md-6 text-left">f>tr<"row mx-0 my-2 d-flex justify-content-between"<"season_ntx_api_link">ip>',
	        fnInitComplete: function(){
		    	$('#ntx-loading-spinner').css('display', 'none');
		    	$('#season_ntx_card').css('visibility', 'visible');
	            $('.season_ntx_tbl_title').html('<h4 class="">{{ notary_clean }} NTX Summary</h3>');
	            let api_btn = '{% include "components/buttons/api_link_button.html" with btn_id="season_ntx" width_pct="100" btn_url="'+url+'" btn_text="Source Data" %}'
	            $('.season_ntx_api_link').html(api_btn);
	        }
        });
    });
</script> 
<!-- END components/tables/notary_profile/notary_season_ntx_table.html -->