<div class="text-center" id="ntx-loading-spinner" style="height: 100%">
	<div class="spinner-border m-10" role="status">
	</div>
	<div class="m-3">Loading {{ notary_clean }} {{ season_clean }} NTX Summary...</div>
</div>
<div class="row" id="ntx">
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="season_ntx_card" style="visibility: hidden;">
			<div class="card-body table_card_body">
				<table id="ntx_table" class="table table-striped table-bordered" style="width:100%;">
					<thead>
						<tr>
							<th data-data="coin">Coin</th>
							<th data-data="ntx_server">Server</th>
							<th data-data="ntx_count">Notarisations</th>
							<th data-data="ntx_pct">Participation</th>
							<th data-data="ntx_score">Score</th>
							<th data-data="ntx_block">Last ntx block</th>
							<th data-data="ntx_time">Since last ntx</th>
						</tr>
					</thead>
					<tbody>
						{% for coin, data in notary_ntx_summary_table.items %}
							<tr class="py-0">
								<td data-data="coin">{{ coin }}</td>
								<td data-data="ntx_server">{{ data.server }}</td>
								<td data-data="ntx_count">{{ data.coin_ntx_count }}</td>
								<td data-data="ntx_pct">{{ data.coin_ntx_count_pct }}</td>
								<td data-data="ntx_score">{{ data.coin_ntx_score|floatformat:-3 }}</td>
								<td data-data="ntx_block">{{ data.last_ntx_blockheight }}</td>
								<td data-data="ntx_time" data-order="{{ data.last_block_height }}">
									{{ data.since_last_block_time }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</div>
<script>  
    $(document).ready(function() {

     	let url = "{% url 'notary_profile_summary_table' %}?notary={{ notary }}&season={{ season }}"
        var ntxTable = $('#ntx_table').DataTable({
    		order: [ 5, 'desc' ],
            "orderClasses": false,
        	"paging": false,
        	"columns": [
		        { "data": "coin" },
		        { "data": "ntx_server" },
		        { "data": "ntx_count" },
		        { "data": "ntx_pct" },
		        { "data": "ntx_score" },
		        { "data": "ntx_block" },
		        { "data": "ntx_time" }
		    ], 
    		"columnDefs": [
				{ className: "text-left text-nowrap fw-14pct", "targets": [ 0 ] },
    			{ className: "text-right text-nowrap fw-14pct", "targets": [ 2, 3, 4, 6 ] },
    			{
		            "targets": 0,
		            "data": "coin",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_coin_icon(oData.coin));
			        }
    			},
    			{
		            "data": "ntx_server",
		            "targets": 1,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_server_styled(oData.ntx_server));
		        	}
		        },
    			{
		            "data": "ntx_count",
		            "targets": 2,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html("<a href='{% url 'notary_coin_notarised_view' %}?season={{ season }}&server={{ data.server }}&notary={{ notary }}&coin={{ data.coin }}'>"+oData.ntx_count+"")
		            }			            
		        },
    			{
		            "data": "ntx_pct",
		            "targets": 3,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(parseFloat(oData.ntx_pct).toFixed(3) + ' %')
		            }			            
		        },
    			{
		            "data": "ntx_score",
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html("<a href='{% url 'notary_epoch_scores_view' %}?notary={{ notary }}&server={{ data.server }}&coin={{ data.coin }}&season={{ season }}'>"+parseFloat(oData.ntx_score).toFixed(3)+"</a>")
		            }			            
		        },
    			{
		            "data": 'ntx_block',
		            "targets": 5,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_block_url("KMD", oData.ntx_block))
			        }
		        },
    			{
		            "data": 'ntx_time',
		            "targets": 6,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(oData.ntx_time);
			        }
		        }
    		],
    		dom: '<"row mx-0 mt-3 "<"season_ntx_tbl_title col-md-6 text-left">f>tr<"row mx-0 my-2 d-flex justify-content-between"<"season_ntx_api_link">ip>',
	        fnInitComplete: function(){
		    	$('#ntx-loading-spinner').css('display', 'none');
		    	$('#season_ntx_card').css('visibility', 'visible');
	            $('.season_ntx_tbl_title').html('<h4 class="">{{ notary_clean }} NTX Summary</h3>');
	            let api_btn = '{% include "components/buttons/api_link_button.html" with btn_id="season_ntx" width_pct="100" btn_url="'+url+'" btn_text="Source Data" %}'
	            $('.season_ntx_api_link').html(api_btn);

	        }
        });
    });
</script> 