<div class="text-center" id="balances-loading-spinner" style="height: 100%">
	<div class="spinner-border m-10" role="status">
	</div>
	<div class="m-3">Loading {{ notary_clean }} {{ season_clean }} Balances...</div>
</div>
<div class="row" id="balances">	
	<div class="card-deck d-flex justify-content-between col-12 m-auto">
		<div class="card table_card floating-card m-auto col-12" id="balances_card" style="visibility: hidden;">
			<div class="card-body table_card_body">
				<table id="balances_table" class="table table-striped table-bordered" style="width:100%;">
					<thead>
						<tr>
							<th data-data="coin">Coin</th>
							<th data-data="server">Server</th>
							<th data-data="address">Address</th>
							<th data-data="balance">Balance</th>
							<th data-data="update">Since Updated</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>	
	</div>
</div>
<script>  
    $(document).ready(function() {
    	let balances_url = "{% url 'balances_table_api' %}?notary={{ notary }}&season={{ season }}"
        var balTable = $('#balances_table').DataTable({
     		ajax: {
			    url: balances_url,
    			dataSrc: 'results',
    			"deferRender": true
			},
            "orderClasses": false,
        	"paging": false,
    		order: [ 0, 'asc' ],
    		"columnDefs": [
				{ className: "text-left text-nowrap", "targets": [ 0 ] },
				{ className: "fw-14pct", "targets": [ 1, 2, 3 ] },
    			{ className: "text-right text-nowrap fw-14pct", "targets": [ 4 ] },
    			{
		            "targets": 0,
		            "data": "coin",
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_coin_icon(oData.coin));
			        }
    			},
    			{
		            "data": "server",
		            "targets": 1,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
				        $(nTd).html(get_server_styled(oData.server));
		        	}
		        },
    			{
		            "data": "address",
		            "targets": 2,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_address_url(oData.coin, oData.address));
		            }
		        },
    			{
		            "data": "balance",
		            "targets": 3,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
			            $(nTd).html(oData.balance);
			        }
		        },
    			{
		            "data": 'update_time',
		            "targets": 4,
		            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
		            	$(nTd).html(get_time_since(oData.update_time));
			        }
		        }		
    		],
    		dom: '<"row mx-0 mt-3 "<"balances_tbl_title col-md-6 text-left">f>tr<"row mx-0 my-2 d-flex justify-content-between"<"balances_api_link">ip>',
	        fnInitComplete: function(){
		    	$('#balances-loading-spinner').css('display', 'none');
		    	$('#balances_card').css('visibility', 'visible');
	            $('.balances_tbl_title').html('<h3 class="">{{ notary_clean }} {{ season_clean }} Addresses</h3>');
	            let api_btn = '{% include "components/buttons/api_link_button.html" with btn_id="balances" width_pct="100" btn_url="'+balances_url+'" btn_text="Source Data" %}'
	            $('.balances_api_link').html(api_btn);

	        }
        });
    });
</script>
