
{% load static %}
    	<div class="card coin_card" style="width: 150px;">
    		<div class="card-header coin_card_header coin_card_name">
    			<a href="/coin_profile/{{ coin }}">
    				{{ coin }}
				{% for ticker, site_links in coin_social.items %}
					{% if ticker == coin %}
        				{% include "components/cards/card_img.html" with img_size=72 img_src=site_links.icon alt_text=ticker profile_page="coin_profile" profile_name=coin %}
					{% endif %}
				{% endfor %}
				</a>
			</div>

			<div class="card-body coin_card_body">
				<p class="card-text coin_card_text">
					{% for ticker, site_links in coin_social.items %}
						{% if ticker == coin %}
							{% for site, link in site_links.items %}
								{% if site == 'discord' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-discord mr-2"></i></a>
									{% else %}
										<i class="fab fa-discord mr-2 social-icon-disabled"></i>
									{% endif %}

								{% elif site == 'email' %}
									{%  if link != '' %}
										<a href="mailto:{{ link }}"><i class="social-icon far fa-envelope mr-2"></i></a>
									{% else %}
										<i class="far fa-envelope mr-2 social-icon-disabled"></i>
									{% endif %}

								{% elif site == 'github' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-github mr-2"></i></a>
									{% else %}
										<i class="fab fa-github mr-2 social-icon-disabled"></i>
									{% endif %}

								{% elif site == 'linkedin' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-linkedin mr-2"></i></a>
									{% else %}
										<i class="fab fa-linkedin mr-2 social-icon-disabled"></i>
									{% endif %}

								{% elif site == 'reddit' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fab fa-reddit-square mr-2"></i></a>
									{% else %}
										<i class="fab fa-reddit-square mr-2 social-icon-disabled"></i>
									{% endif %}
									
								{% elif site == 'telegram' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-telegram-plane mr-2"></i></a>
									{% else %}
										<i class="fab fa-telegram-plane mr-2 social-icon-disabled"></i>
									{% endif %}
									
								{% elif site == 'twitter' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-twitter mr-2"></i></a>
									{% else %}
										<i class="fab fa-twitter mr-2 social-icon-disabled"></i>
									{% endif %}
									
								{% elif site == 'youtube' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fab fa-youtube mr-2"></i></a>
									{% else %}
										<i class="fab fa-youtube mr-2 social-icon-disabled"></i>
									{% endif %}
									
								{% elif site == 'website' %}
									{%  if link != '' %}
										<a href="{{ link }}"><i class="social-icon fas fa-desktop mr-2"></i></a>
									{% else %}
										<i class="fas fa-desktop mr-2 social-icon-disabled"></i>
									{% endif %}									
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</p>
			</div>
		</div>	