{% load static %}

        	<div class="card coin_card shadow-none">
        		<div class="my-auto">
	        		<div class="row my-0 mx-auto align-items-center">
	        			<h4 class="col-12" style="margin-top: 0.75rem;">
	        				{{ coin }}
	        			</h4>
					</div>
	        		<div class="row my-0 mx-auto">
	            		<div class="p-1 m-auto">
							{% for coin_, site_links in coin_social.items %}
								{% if coin_ == coin %}
									{% include "components/cards/card_img.html" with img_size=128 img_src=site_links.icon alt_text=coin profile_page="coin_profile" profile_name=coin %}
								{% endif %}
							{% endfor %}
						</div>
					</div>

					<div class="justify-content-md-center" style="font-size: 1.6rem;">
						{% for coin_, site_links in coin_social.items %}
							{% if coin == coin_ %}
								{% for site, link in site_links.items %}
									{% if site == 'discord' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon m-1 fab fa-discord"></i></a>
										{% else %}
											<i class="social-icon-disabled m-1 fab fa-discord"></i>
										{% endif %}

									{% elif site == 'email' %}
										{%  if link != '' %}
											<a href="mailto:{{ link }}"><i class="social-icon m-1 far fa-envelope"></i></a>
										{% else %}
											<i class="social-icon-disabled far fa-envelope m-1"></i>
										{% endif %}

									{% elif site == 'github' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fa-github m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-github m-1"></i>
										{% endif %}

									{% elif site == 'linkedin' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fa-linkedin m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-linkedin m-1"></i>
										{% endif %}

									{% elif site == 'reddit' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fab fa-reddit-square m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-reddit-square m-1"></i>
										{% endif %}
										
									{% elif site == 'telegram' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fa-telegram-plane m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-telegram-plane m-1"></i>
										{% endif %}
										
									{% elif site == 'twitter' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fa-twitter m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-twitter m-1"></i>
										{% endif %}
										
									{% elif site == 'youtube' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fab fa-youtube m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fab fa-youtube m-1"></i>
										{% endif %}
										
									{% elif site == 'website' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="social-icon fas fa-desktop m-1"></i></a>
										{% else %}
											<i class="social-icon-disabled fas fa-desktop m-1"></i>
										{% endif %}									
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>
	        		<div class="row my-0 mx-auto align-items-center">
						<h6 class="col-12">
							{% if season == "Season_5" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season5/coin_social.json">
								Update
							</a>
							{% elif season == "Season_6" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season6/coin_social.json">
								Update
							</a>
							{% elif season == "Season_7" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season7/coin_social.json">
								Update
							</a>
							{% endif %}
						</h6>
					</div>
				</div>
			</div>