{% load static %}

        	<div class="card notary_card shadow-none" style="margin-top: 1.5rem;">
        		<div class="my-auto">
	        		<div class="row my-0 mx-auto align-items-center">
	        			<h3 class="col-12" style="margin-top: 0.25rem;">
	        				{{ notary }}
	        			</h3>
					</div>
	        		<div class="row my-0 mx-auto">
	            		<div class="p-1 m-auto">
							{% for nn, site_links in nn_social.items %}
								{% if notary == nn %}
	            					{% include "components/cards/card_img.html" with img_size=128 img_src=site_links.icon alt_text=nn profile_page="notary_profile" profile_name=notary  %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					
            		<div class="row  m-auto justify-content-around col-11">
						{% for notary, seasons in notary_seasons.items %}
							{% if notary == node %} 
								{% for season in seasons %}
								<!-- TODO: This is for looking back at older seasons, but needs a fully populated db
									<a href="/notary_profile/{{ notary }}?season={{ season }}">
									</a>
								-->
										<span class="badge">{{ season|cut:"eason_" }}</span>
								{% endfor %}		
							{% endif %}
						{% endfor %}
					</div>
					
					<div class="justify-content-md-center" style="font-size: 1.6rem;">
						{% for nn, site_links in nn_social.items %}
							{% if notary == nn %}
								{% for site, link in site_links.items %}
									{% if site == 'discord' %}
										{%  if link != '' %}
											<a href="https://discordapp.com/users/{{ link }}"><i class="fab fa-discord mr-2 social-icon"></i></a>
										{% else %}
											<i class="fab fa-discord mr-2 social-icon-disabled"></i>
										{% endif %}
										
									{% elif site == 'email' %}
										{%  if link != '' %}
											<a href="mailto:{{ link }}"><i class="far fa-envelope mr-2 social-icon"></i></a>
										{% else %}
											<i class="far fa-envelope mr-2 social-icon-disabled"></i>
										{% endif %}
										
									{% elif site == 'github' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="fab fa-github mr-2 social-icon"></i></a>
										{% else %}
											<i class="fab fa-github mr-2 social-icon-disabled"></i>
										{% endif %}

									{% elif site == 'keybase' %}
										{%  if link != '' %}
											{% if 'keybase.io' in link %}
												<a href="{{ link }}"><i class="fab fa-keybase mr-2 social-icon"></i></a>
											{% else %}
												<a href="https://keybase.io/{{ link }}"><i class="fab fa-keybase mr-2 social-icon"></i></a>
											{% endif %}
										{% else %}
											<i class="fab fa-keybase mr-2 social-icon-disabled"></i>
										{% endif %}

									{% elif site == 'telegram' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="fab fa-telegram-plane mr-2 social-icon"></i></a>
										{% else %}
											<i class="fab fa-telegram-plane mr-2 social-icon-disabled"></i>
										{% endif %}

									{% elif site == 'twitter' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="fab fa-twitter mr-2 social-icon"></i></a>
										{% else %}
											<i class="fab fa-twitter mr-2 social-icon-disabled"></i>
										{% endif %}
										
									{% elif site == 'website' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="fas fa-desktop mr-2 social-icon"></i></a>
										{% else %}
											<i class="fas fa-desktop mr-2 social-icon-disabled"></i>
										{% endif %}
										
									{% elif site == 'youtube' %}
										{%  if link != '' %}
											<a href="{{ link }}"><i class="fab fa-youtube mr-2 social-icon"></i></a>
										{% else %}
											<i class="fab fa-youtube mr-2 social-icon-disabled"></i>
										{% endif %}
										
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>
	        		<div class="row my-0 mx-auto align-items-center">
						<h6 class="col-12">
							{% if season == "Season_5" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season5/elected_nn_social.json">
								Update
							</a>
							{% elif season == "Season_6" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season6/elected_nn_social.json">
								Update
							</a>
							{% elif season == "Season_7" %}
							<a class="sml-link" href="http://github.com/KomodoPlatform/NotaryNodes/edit/master/season7/elected_nn_social.json">
								Update
							</a>
							{% endif %}
						</h6>
					</div>
				</div>
			</div>